/* ==================================================================
   ACCORDIONS (generic/_accordions.scss)
===================================================================== */


.accordion {
	.accordion-item {
		margin-bottom: $spacer-sm;
	}

	.accordion-button {
		font-weight: $font-weight-semibold;
		background: $accordion-button-active-bg;
		border: $border-width solid rgba( $primary, .2 );
		border-radius: $accordion-border-radius;
		box-shadow: $box-shadow;
		transition: $accordion-transition;

		&::after {
			background-position: 50% 50%;
		}

		&.collapsed {
			background: $accordion-button-bg;
			border-color: transparent;
			box-shadow: none;

			&:hover {
				background: rgba( $primary, .05 );
			}
		}
	}

	.accordion-collapse {
		transition: all $transition-speed;
		max-height: 0;
	    opacity: 0;
	}

	.accordion-body {
		padding-bottom: $accordion-padding-y - $spacer-sm;

		p {
			margin-bottom: $spacer-sm;
			font-weight: $font-weight-light;
			color: $accordion-color;
		}
	}
}
