/* ==================================================================
   BUTTONS (generic/_buttons.scss)
===================================================================== */


.btn-secondary {
	color: $text-base;
	background: rgba( $gray-700, .08 );
	border-color: transparent;

	&:hover {
		color: $primary;
		background: rgba( $primary, .05 );
		border-color: transparent;
	}

	[data-theme="dark"] & {
		color: $text-base-invert;
		background: rgba( $gray-400, .25 );
		border-color: transparent;

		&:hover {
			color: $primary;
			background: rgba( $white, .95 );
			border-color: transparent;
		}
	}

	[data-theme="light"] & {
		color: $text-base;
		background: rgba( $gray-700, .08 );
		border-color: transparent;

		&:hover {
			color: $primary;
			background: rgba( $primary, .05 );
			border-color: transparent;
		}
	}
}

.btn-link {
	font-weight: $btn-font-weight;
}