/* ==================================================================
   OFFCANVAS (generic/_offcanvas.scss)
===================================================================== */


.offcanvas {
	.site-header & {
		z-index: -1;
	}
}

.offcanvas-body {
	color: var( --#{$prefix}body-color );
	padding-top: calc( $navbar-height-mobile + var( --#{$prefix}offcanvas-padding-y ) );

	.nav-link {
		font-size: rem( 18px );
	}
}

.offcanvas-alt {
	--#{$prefix}offcanvas-zindex: #{$zindex-offcanvas};
	--#{$prefix}offcanvas-width: #{$offcanvas-horizontal-width};
	--#{$prefix}offcanvas-height: #{$offcanvas-vertical-height};
	--#{$prefix}offcanvas-padding-x: #{$offcanvas-padding-x};
	--#{$prefix}offcanvas-padding-y: #{$offcanvas-padding-y};
	--#{$prefix}offcanvas-color: #{$offcanvas-color};
	--#{$prefix}offcanvas-bg: #{$offcanvas-bg-color};
	--#{$prefix}offcanvas-border-width: #{$offcanvas-border-width};
	--#{$prefix}offcanvas-border-color: #{$offcanvas-border-color};
	--#{$prefix}offcanvas-box-shadow: #{$offcanvas-box-shadow};
	--#{$prefix}offcanvas-transition: transform #{$offcanvas-transition-duration} ease-in-out;
	--#{$prefix}offcanvas-title-line-height: #{$offcanvas-title-line-height};

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	height: 100vh;
	background: rgba( $primary-900, .9 );
	box-shadow: $box-shadow;
	backdrop-filter: blur( 8px );
	mix-blend-mode: normal;
	overflow: auto;
}
