/* ==================================================================
   SPACINGS (utilities/_spacings.scss)
===================================================================== */


@each $breakpoint in map-keys( $grid-breakpoints ) {
	@include media-breakpoint-up( $breakpoint ) {
		$infix: breakpoint-infix( $breakpoint, $grid-breakpoints );

		@each $item, $value in $separations {
			.st#{$infix}-#{$item} {
				padding-top: $value;
			}

			.sb#{$infix}-#{$item} {
				padding-bottom: $value - $spacer;
			}

			.sy#{$infix}-#{$item} {
				padding-top: $value;
				padding-bottom: $value - $spacer;
			}
		}

		.min-w#{$infix}-1 {
			min-width: 120px;
		}

		.min-w#{$infix}-2 {
			min-width: 160px;
		}

		.min-w#{$infix}-3 {
			min-width: 200px;
		}

		.min-w#{$infix}-4 {
			min-width: 240px;
		}

		.min-w#{$infix}-5 {
			min-width: 280px;
		}
	}
}
