// Alert, type: primary
	$alert-primary-actions-padding-y: 0px;
	$alert-primary-actions-padding-x: 0px;
	$alert-primary-actions-padding-top: 0px;
	$alert-primary-actions-padding-right: 0px;
	$alert-primary-actions-padding-bottom: 0px;
	$alert-primary-actions-padding-left: 0px;
	$alert-primary-actions-padding-start: 0px;
	$alert-primary-actions-padding-end: 0px;
	$alert-primary-actions-spacing: 10px;
	$alert-primary-actions-font-family: $typography-button-text-small-font-family;
	$alert-primary-actions-font-size: $typography-button-text-small-font-size;
	$alert-primary-actions-font-weight: $typography-button-text-small-font-weight;
	$alert-primary-actions-line-height: $typography-button-text-small-line-height;
	$alert-primary-actions-letter-spacing: $typography-button-text-small-letter-spacing;
	$alert-primary-actions-text-align: left;
	$alert-primary-actions-text-decoration: none;
	$alert-primary-actions-text-transform: none;
	$alert-primary-actions-color: $color-text-hard-invert;
	$alert-primary-text-padding-y: 0px;
	$alert-primary-text-padding-x: 0px;
	$alert-primary-text-padding-top: 0px;
	$alert-primary-text-padding-right: 0px;
	$alert-primary-text-padding-bottom: 0px;
	$alert-primary-text-padding-left: 0px;
	$alert-primary-text-padding-start: 0px;
	$alert-primary-text-padding-end: 0px;
	$alert-primary-text-spacing: 0px;
	$alert-primary-text-font-family: $typography-sm-base-font-family;
	$alert-primary-text-font-size: $typography-sm-base-font-size;
	$alert-primary-text-font-weight: $typography-sm-base-font-weight;
	$alert-primary-text-line-height: $typography-sm-base-line-height;
	$alert-primary-text-letter-spacing: $typography-sm-base-letter-spacing;
	$alert-primary-text-text-align: left;
	$alert-primary-text-text-decoration: none;
	$alert-primary-text-text-transform: none;
	$alert-primary-text-color: $color-text-base-invert;
	$alert-primary-title-padding-y: 0px;
	$alert-primary-title-padding-x: 0px;
	$alert-primary-title-padding-top: 0px;
	$alert-primary-title-padding-right: 0px;
	$alert-primary-title-padding-bottom: 0px;
	$alert-primary-title-padding-left: 0px;
	$alert-primary-title-padding-start: 0px;
	$alert-primary-title-padding-end: 0px;
	$alert-primary-title-spacing: 0px;
	$alert-primary-title-font-family: $typography-sm-strong-font-family;
	$alert-primary-title-font-size: $typography-sm-strong-font-size;
	$alert-primary-title-font-weight: $typography-sm-strong-font-weight;
	$alert-primary-title-line-height: $typography-sm-strong-line-height;
	$alert-primary-title-letter-spacing: $typography-sm-strong-letter-spacing;
	$alert-primary-title-text-align: left;
	$alert-primary-title-text-decoration: none;
	$alert-primary-title-text-transform: none;
	$alert-primary-title-color: $color-text-hard-invert;
	$alert-primary-body-padding-y: 0px;
	$alert-primary-body-padding-x: 0px;
	$alert-primary-body-padding-top: 0px;
	$alert-primary-body-padding-right: 0px;
	$alert-primary-body-padding-bottom: 0px;
	$alert-primary-body-padding-left: 0px;
	$alert-primary-body-padding-start: 0px;
	$alert-primary-body-padding-end: 0px;
	$alert-primary-body-spacing: 12px;
	$alert-primary-background: $color-primary-blue;
	$alert-primary-border-width: 1px;
	$alert-primary-border-radius: 6px;
	$alert-primary-border-color: $color--transparent;
	$alert-primary-border-style: solid;
	$alert-primary-padding-y: 13px;
	$alert-primary-padding-x: 16px;
	$alert-primary-padding-top: 13px;
	$alert-primary-padding-right: 16px;
	$alert-primary-padding-bottom: 13px;
	$alert-primary-padding-left: 16px;
	$alert-primary-padding-start: 16px;
	$alert-primary-padding-end: 16px;
	$alert-primary-spacing: 12px;
	$alert-primary-box-shadow: none;

// Alert, type: secondary
	$alert-secondary-actions-padding-y: 0px;
	$alert-secondary-actions-padding-x: 0px;
	$alert-secondary-actions-padding-top: 0px;
	$alert-secondary-actions-padding-right: 0px;
	$alert-secondary-actions-padding-bottom: 0px;
	$alert-secondary-actions-padding-left: 0px;
	$alert-secondary-actions-padding-start: 0px;
	$alert-secondary-actions-padding-end: 0px;
	$alert-secondary-actions-spacing: 10px;
	$alert-secondary-actions-font-family: $typography-button-text-small-font-family;
	$alert-secondary-actions-font-size: $typography-button-text-small-font-size;
	$alert-secondary-actions-font-weight: $typography-button-text-small-font-weight;
	$alert-secondary-actions-line-height: $typography-button-text-small-line-height;
	$alert-secondary-actions-letter-spacing: $typography-button-text-small-letter-spacing;
	$alert-secondary-actions-text-align: left;
	$alert-secondary-actions-text-decoration: none;
	$alert-secondary-actions-text-transform: none;
	$alert-secondary-actions-color: $color-text-hard-invert;
	$alert-secondary-text-padding-y: 0px;
	$alert-secondary-text-padding-x: 0px;
	$alert-secondary-text-padding-top: 0px;
	$alert-secondary-text-padding-right: 0px;
	$alert-secondary-text-padding-bottom: 0px;
	$alert-secondary-text-padding-left: 0px;
	$alert-secondary-text-padding-start: 0px;
	$alert-secondary-text-padding-end: 0px;
	$alert-secondary-text-spacing: 0px;
	$alert-secondary-text-font-family: $typography-sm-base-font-family;
	$alert-secondary-text-font-size: $typography-sm-base-font-size;
	$alert-secondary-text-font-weight: $typography-sm-base-font-weight;
	$alert-secondary-text-line-height: $typography-sm-base-line-height;
	$alert-secondary-text-letter-spacing: $typography-sm-base-letter-spacing;
	$alert-secondary-text-text-align: left;
	$alert-secondary-text-text-decoration: none;
	$alert-secondary-text-text-transform: none;
	$alert-secondary-text-color: $color-text-base-invert;
	$alert-secondary-title-padding-y: 0px;
	$alert-secondary-title-padding-x: 0px;
	$alert-secondary-title-padding-top: 0px;
	$alert-secondary-title-padding-right: 0px;
	$alert-secondary-title-padding-bottom: 0px;
	$alert-secondary-title-padding-left: 0px;
	$alert-secondary-title-padding-start: 0px;
	$alert-secondary-title-padding-end: 0px;
	$alert-secondary-title-spacing: 0px;
	$alert-secondary-title-font-family: $typography-sm-strong-font-family;
	$alert-secondary-title-font-size: $typography-sm-strong-font-size;
	$alert-secondary-title-font-weight: $typography-sm-strong-font-weight;
	$alert-secondary-title-line-height: $typography-sm-strong-line-height;
	$alert-secondary-title-letter-spacing: $typography-sm-strong-letter-spacing;
	$alert-secondary-title-text-align: left;
	$alert-secondary-title-text-decoration: none;
	$alert-secondary-title-text-transform: none;
	$alert-secondary-title-color: $color-text-hard-invert;
	$alert-secondary-body-padding-y: 0px;
	$alert-secondary-body-padding-x: 0px;
	$alert-secondary-body-padding-top: 0px;
	$alert-secondary-body-padding-right: 0px;
	$alert-secondary-body-padding-bottom: 0px;
	$alert-secondary-body-padding-left: 0px;
	$alert-secondary-body-padding-start: 0px;
	$alert-secondary-body-padding-end: 0px;
	$alert-secondary-body-spacing: 12px;
	$alert-secondary-background: $color-secondary-purple;
	$alert-secondary-border-width: 1px;
	$alert-secondary-border-radius: 6px;
	$alert-secondary-border-color: $color--transparent;
	$alert-secondary-border-style: solid;
	$alert-secondary-padding-y: 13px;
	$alert-secondary-padding-x: 16px;
	$alert-secondary-padding-top: 13px;
	$alert-secondary-padding-right: 16px;
	$alert-secondary-padding-bottom: 13px;
	$alert-secondary-padding-left: 16px;
	$alert-secondary-padding-start: 16px;
	$alert-secondary-padding-end: 16px;
	$alert-secondary-spacing: 12px;
	$alert-secondary-box-shadow: none;

// Alert, type: dark
	$alert-dark-actions-padding-y: 0px;
	$alert-dark-actions-padding-x: 0px;
	$alert-dark-actions-padding-top: 0px;
	$alert-dark-actions-padding-right: 0px;
	$alert-dark-actions-padding-bottom: 0px;
	$alert-dark-actions-padding-left: 0px;
	$alert-dark-actions-padding-start: 0px;
	$alert-dark-actions-padding-end: 0px;
	$alert-dark-actions-spacing: 10px;
	$alert-dark-actions-font-family: $typography-button-text-small-font-family;
	$alert-dark-actions-font-size: $typography-button-text-small-font-size;
	$alert-dark-actions-font-weight: $typography-button-text-small-font-weight;
	$alert-dark-actions-line-height: $typography-button-text-small-line-height;
	$alert-dark-actions-letter-spacing: $typography-button-text-small-letter-spacing;
	$alert-dark-actions-text-align: left;
	$alert-dark-actions-text-decoration: none;
	$alert-dark-actions-text-transform: none;
	$alert-dark-actions-color: $color-text-hard-invert;
	$alert-dark-text-padding-y: 0px;
	$alert-dark-text-padding-x: 0px;
	$alert-dark-text-padding-top: 0px;
	$alert-dark-text-padding-right: 0px;
	$alert-dark-text-padding-bottom: 0px;
	$alert-dark-text-padding-left: 0px;
	$alert-dark-text-padding-start: 0px;
	$alert-dark-text-padding-end: 0px;
	$alert-dark-text-spacing: 0px;
	$alert-dark-text-font-family: $typography-sm-base-font-family;
	$alert-dark-text-font-size: $typography-sm-base-font-size;
	$alert-dark-text-font-weight: $typography-sm-base-font-weight;
	$alert-dark-text-line-height: $typography-sm-base-line-height;
	$alert-dark-text-letter-spacing: $typography-sm-base-letter-spacing;
	$alert-dark-text-text-align: left;
	$alert-dark-text-text-decoration: none;
	$alert-dark-text-text-transform: none;
	$alert-dark-text-color: $color-text-base-invert;
	$alert-dark-title-padding-y: 0px;
	$alert-dark-title-padding-x: 0px;
	$alert-dark-title-padding-top: 0px;
	$alert-dark-title-padding-right: 0px;
	$alert-dark-title-padding-bottom: 0px;
	$alert-dark-title-padding-left: 0px;
	$alert-dark-title-padding-start: 0px;
	$alert-dark-title-padding-end: 0px;
	$alert-dark-title-spacing: 0px;
	$alert-dark-title-font-family: $typography-sm-strong-font-family;
	$alert-dark-title-font-size: $typography-sm-strong-font-size;
	$alert-dark-title-font-weight: $typography-sm-strong-font-weight;
	$alert-dark-title-line-height: $typography-sm-strong-line-height;
	$alert-dark-title-letter-spacing: $typography-sm-strong-letter-spacing;
	$alert-dark-title-text-align: left;
	$alert-dark-title-text-decoration: none;
	$alert-dark-title-text-transform: none;
	$alert-dark-title-color: $color-text-hard-invert;
	$alert-dark-body-padding-y: 0px;
	$alert-dark-body-padding-x: 0px;
	$alert-dark-body-padding-top: 0px;
	$alert-dark-body-padding-right: 0px;
	$alert-dark-body-padding-bottom: 0px;
	$alert-dark-body-padding-left: 0px;
	$alert-dark-body-padding-start: 0px;
	$alert-dark-body-padding-end: 0px;
	$alert-dark-body-spacing: 12px;
	$alert-dark-background: $color-neutral-gray-900;
	$alert-dark-border-width: 1px;
	$alert-dark-border-radius: 6px;
	$alert-dark-border-color: $color--transparent;
	$alert-dark-border-style: solid;
	$alert-dark-padding-y: 13px;
	$alert-dark-padding-x: 16px;
	$alert-dark-padding-top: 13px;
	$alert-dark-padding-right: 16px;
	$alert-dark-padding-bottom: 13px;
	$alert-dark-padding-left: 16px;
	$alert-dark-padding-start: 16px;
	$alert-dark-padding-end: 16px;
	$alert-dark-spacing: 12px;
	$alert-dark-box-shadow: none;

// Alert, type: light
	$alert-light-actions-padding-y: 0px;
	$alert-light-actions-padding-x: 0px;
	$alert-light-actions-padding-top: 0px;
	$alert-light-actions-padding-right: 0px;
	$alert-light-actions-padding-bottom: 0px;
	$alert-light-actions-padding-left: 0px;
	$alert-light-actions-padding-start: 0px;
	$alert-light-actions-padding-end: 0px;
	$alert-light-actions-spacing: 10px;
	$alert-light-actions-font-family: $typography-button-text-small-font-family;
	$alert-light-actions-font-size: $typography-button-text-small-font-size;
	$alert-light-actions-font-weight: $typography-button-text-small-font-weight;
	$alert-light-actions-line-height: $typography-button-text-small-line-height;
	$alert-light-actions-letter-spacing: $typography-button-text-small-letter-spacing;
	$alert-light-actions-text-align: left;
	$alert-light-actions-text-decoration: none;
	$alert-light-actions-text-transform: none;
	$alert-light-actions-color: $color-text-hard;
	$alert-light-text-padding-y: 0px;
	$alert-light-text-padding-x: 0px;
	$alert-light-text-padding-top: 0px;
	$alert-light-text-padding-right: 0px;
	$alert-light-text-padding-bottom: 0px;
	$alert-light-text-padding-left: 0px;
	$alert-light-text-padding-start: 0px;
	$alert-light-text-padding-end: 0px;
	$alert-light-text-spacing: 0px;
	$alert-light-text-font-family: $typography-sm-base-font-family;
	$alert-light-text-font-size: $typography-sm-base-font-size;
	$alert-light-text-font-weight: $typography-sm-base-font-weight;
	$alert-light-text-line-height: $typography-sm-base-line-height;
	$alert-light-text-letter-spacing: $typography-sm-base-letter-spacing;
	$alert-light-text-text-align: left;
	$alert-light-text-text-decoration: none;
	$alert-light-text-text-transform: none;
	$alert-light-text-color: $color-text-base;
	$alert-light-title-padding-y: 0px;
	$alert-light-title-padding-x: 0px;
	$alert-light-title-padding-top: 0px;
	$alert-light-title-padding-right: 0px;
	$alert-light-title-padding-bottom: 0px;
	$alert-light-title-padding-left: 0px;
	$alert-light-title-padding-start: 0px;
	$alert-light-title-padding-end: 0px;
	$alert-light-title-spacing: 0px;
	$alert-light-title-font-family: $typography-sm-strong-font-family;
	$alert-light-title-font-size: $typography-sm-strong-font-size;
	$alert-light-title-font-weight: $typography-sm-strong-font-weight;
	$alert-light-title-line-height: $typography-sm-strong-line-height;
	$alert-light-title-letter-spacing: $typography-sm-strong-letter-spacing;
	$alert-light-title-text-align: left;
	$alert-light-title-text-decoration: none;
	$alert-light-title-text-transform: none;
	$alert-light-title-color: $color-text-hard;
	$alert-light-body-padding-y: 0px;
	$alert-light-body-padding-x: 0px;
	$alert-light-body-padding-top: 0px;
	$alert-light-body-padding-right: 0px;
	$alert-light-body-padding-bottom: 0px;
	$alert-light-body-padding-left: 0px;
	$alert-light-body-padding-start: 0px;
	$alert-light-body-padding-end: 0px;
	$alert-light-body-spacing: 12px;
	$alert-light-background: $color-neutral-gray-100;
	$alert-light-border-width: 1px;
	$alert-light-border-radius: 6px;
	$alert-light-border-color: $color--transparent;
	$alert-light-border-style: solid;
	$alert-light-padding-y: 13px;
	$alert-light-padding-x: 16px;
	$alert-light-padding-top: 13px;
	$alert-light-padding-right: 16px;
	$alert-light-padding-bottom: 13px;
	$alert-light-padding-left: 16px;
	$alert-light-padding-start: 16px;
	$alert-light-padding-end: 16px;
	$alert-light-spacing: 12px;
	$alert-light-box-shadow: none;

// Alert, type: info
	$alert-info-actions-padding-y: 0px;
	$alert-info-actions-padding-x: 0px;
	$alert-info-actions-padding-top: 0px;
	$alert-info-actions-padding-right: 0px;
	$alert-info-actions-padding-bottom: 0px;
	$alert-info-actions-padding-left: 0px;
	$alert-info-actions-padding-start: 0px;
	$alert-info-actions-padding-end: 0px;
	$alert-info-actions-spacing: 10px;
	$alert-info-actions-font-family: $typography-button-text-small-font-family;
	$alert-info-actions-font-size: $typography-button-text-small-font-size;
	$alert-info-actions-font-weight: $typography-button-text-small-font-weight;
	$alert-info-actions-line-height: $typography-button-text-small-line-height;
	$alert-info-actions-letter-spacing: $typography-button-text-small-letter-spacing;
	$alert-info-actions-text-align: left;
	$alert-info-actions-text-decoration: none;
	$alert-info-actions-text-transform: none;
	$alert-info-actions-color: $color-text-hard-invert;
	$alert-info-text-padding-y: 0px;
	$alert-info-text-padding-x: 0px;
	$alert-info-text-padding-top: 0px;
	$alert-info-text-padding-right: 0px;
	$alert-info-text-padding-bottom: 0px;
	$alert-info-text-padding-left: 0px;
	$alert-info-text-padding-start: 0px;
	$alert-info-text-padding-end: 0px;
	$alert-info-text-spacing: 0px;
	$alert-info-text-font-family: $typography-sm-base-font-family;
	$alert-info-text-font-size: $typography-sm-base-font-size;
	$alert-info-text-font-weight: $typography-sm-base-font-weight;
	$alert-info-text-line-height: $typography-sm-base-line-height;
	$alert-info-text-letter-spacing: $typography-sm-base-letter-spacing;
	$alert-info-text-text-align: left;
	$alert-info-text-text-decoration: none;
	$alert-info-text-text-transform: none;
	$alert-info-text-color: $color-text-base-invert;
	$alert-info-title-padding-y: 0px;
	$alert-info-title-padding-x: 0px;
	$alert-info-title-padding-top: 0px;
	$alert-info-title-padding-right: 0px;
	$alert-info-title-padding-bottom: 0px;
	$alert-info-title-padding-left: 0px;
	$alert-info-title-padding-start: 0px;
	$alert-info-title-padding-end: 0px;
	$alert-info-title-spacing: 0px;
	$alert-info-title-font-family: $typography-sm-strong-font-family;
	$alert-info-title-font-size: $typography-sm-strong-font-size;
	$alert-info-title-font-weight: $typography-sm-strong-font-weight;
	$alert-info-title-line-height: $typography-sm-strong-line-height;
	$alert-info-title-letter-spacing: $typography-sm-strong-letter-spacing;
	$alert-info-title-text-align: left;
	$alert-info-title-text-decoration: none;
	$alert-info-title-text-transform: none;
	$alert-info-title-color: $color-text-hard-invert;
	$alert-info-body-padding-y: 0px;
	$alert-info-body-padding-x: 0px;
	$alert-info-body-padding-top: 0px;
	$alert-info-body-padding-right: 0px;
	$alert-info-body-padding-bottom: 0px;
	$alert-info-body-padding-left: 0px;
	$alert-info-body-padding-start: 0px;
	$alert-info-body-padding-end: 0px;
	$alert-info-body-spacing: 12px;
	$alert-info-background: $color-extra-info;
	$alert-info-border-width: 1px;
	$alert-info-border-radius: 6px;
	$alert-info-border-color: $color--transparent;
	$alert-info-border-style: solid;
	$alert-info-padding-y: 13px;
	$alert-info-padding-x: 16px;
	$alert-info-padding-top: 13px;
	$alert-info-padding-right: 16px;
	$alert-info-padding-bottom: 13px;
	$alert-info-padding-left: 16px;
	$alert-info-padding-start: 16px;
	$alert-info-padding-end: 16px;
	$alert-info-spacing: 12px;
	$alert-info-box-shadow: none;

// Alert, type: success
	$alert-success-actions-padding-y: 0px;
	$alert-success-actions-padding-x: 0px;
	$alert-success-actions-padding-top: 0px;
	$alert-success-actions-padding-right: 0px;
	$alert-success-actions-padding-bottom: 0px;
	$alert-success-actions-padding-left: 0px;
	$alert-success-actions-padding-start: 0px;
	$alert-success-actions-padding-end: 0px;
	$alert-success-actions-spacing: 10px;
	$alert-success-actions-font-family: $typography-button-text-small-font-family;
	$alert-success-actions-font-size: $typography-button-text-small-font-size;
	$alert-success-actions-font-weight: $typography-button-text-small-font-weight;
	$alert-success-actions-line-height: $typography-button-text-small-line-height;
	$alert-success-actions-letter-spacing: $typography-button-text-small-letter-spacing;
	$alert-success-actions-text-align: left;
	$alert-success-actions-text-decoration: none;
	$alert-success-actions-text-transform: none;
	$alert-success-actions-color: $color-text-hard-invert;
	$alert-success-text-padding-y: 0px;
	$alert-success-text-padding-x: 0px;
	$alert-success-text-padding-top: 0px;
	$alert-success-text-padding-right: 0px;
	$alert-success-text-padding-bottom: 0px;
	$alert-success-text-padding-left: 0px;
	$alert-success-text-padding-start: 0px;
	$alert-success-text-padding-end: 0px;
	$alert-success-text-spacing: 0px;
	$alert-success-text-font-family: $typography-sm-base-font-family;
	$alert-success-text-font-size: $typography-sm-base-font-size;
	$alert-success-text-font-weight: $typography-sm-base-font-weight;
	$alert-success-text-line-height: $typography-sm-base-line-height;
	$alert-success-text-letter-spacing: $typography-sm-base-letter-spacing;
	$alert-success-text-text-align: left;
	$alert-success-text-text-decoration: none;
	$alert-success-text-text-transform: none;
	$alert-success-text-color: $color-text-base-invert;
	$alert-success-title-padding-y: 0px;
	$alert-success-title-padding-x: 0px;
	$alert-success-title-padding-top: 0px;
	$alert-success-title-padding-right: 0px;
	$alert-success-title-padding-bottom: 0px;
	$alert-success-title-padding-left: 0px;
	$alert-success-title-padding-start: 0px;
	$alert-success-title-padding-end: 0px;
	$alert-success-title-spacing: 0px;
	$alert-success-title-font-family: $typography-sm-strong-font-family;
	$alert-success-title-font-size: $typography-sm-strong-font-size;
	$alert-success-title-font-weight: $typography-sm-strong-font-weight;
	$alert-success-title-line-height: $typography-sm-strong-line-height;
	$alert-success-title-letter-spacing: $typography-sm-strong-letter-spacing;
	$alert-success-title-text-align: left;
	$alert-success-title-text-decoration: none;
	$alert-success-title-text-transform: none;
	$alert-success-title-color: $color-text-hard-invert;
	$alert-success-body-padding-y: 0px;
	$alert-success-body-padding-x: 0px;
	$alert-success-body-padding-top: 0px;
	$alert-success-body-padding-right: 0px;
	$alert-success-body-padding-bottom: 0px;
	$alert-success-body-padding-left: 0px;
	$alert-success-body-padding-start: 0px;
	$alert-success-body-padding-end: 0px;
	$alert-success-body-spacing: 12px;
	$alert-success-background: $color-extra-success;
	$alert-success-border-width: 1px;
	$alert-success-border-radius: 6px;
	$alert-success-border-color: $color--transparent;
	$alert-success-border-style: solid;
	$alert-success-padding-y: 13px;
	$alert-success-padding-x: 16px;
	$alert-success-padding-top: 13px;
	$alert-success-padding-right: 16px;
	$alert-success-padding-bottom: 13px;
	$alert-success-padding-left: 16px;
	$alert-success-padding-start: 16px;
	$alert-success-padding-end: 16px;
	$alert-success-spacing: 12px;
	$alert-success-box-shadow: none;

// Alert, type: warning
	$alert-warning-actions-padding-y: 0px;
	$alert-warning-actions-padding-x: 0px;
	$alert-warning-actions-padding-top: 0px;
	$alert-warning-actions-padding-right: 0px;
	$alert-warning-actions-padding-bottom: 0px;
	$alert-warning-actions-padding-left: 0px;
	$alert-warning-actions-padding-start: 0px;
	$alert-warning-actions-padding-end: 0px;
	$alert-warning-actions-spacing: 10px;
	$alert-warning-actions-font-family: $typography-button-text-small-font-family;
	$alert-warning-actions-font-size: $typography-button-text-small-font-size;
	$alert-warning-actions-font-weight: $typography-button-text-small-font-weight;
	$alert-warning-actions-line-height: $typography-button-text-small-line-height;
	$alert-warning-actions-letter-spacing: $typography-button-text-small-letter-spacing;
	$alert-warning-actions-text-align: left;
	$alert-warning-actions-text-decoration: none;
	$alert-warning-actions-text-transform: none;
	$alert-warning-actions-color: $color-text-hard;
	$alert-warning-text-padding-y: 0px;
	$alert-warning-text-padding-x: 0px;
	$alert-warning-text-padding-top: 0px;
	$alert-warning-text-padding-right: 0px;
	$alert-warning-text-padding-bottom: 0px;
	$alert-warning-text-padding-left: 0px;
	$alert-warning-text-padding-start: 0px;
	$alert-warning-text-padding-end: 0px;
	$alert-warning-text-spacing: 0px;
	$alert-warning-text-font-family: $typography-sm-base-font-family;
	$alert-warning-text-font-size: $typography-sm-base-font-size;
	$alert-warning-text-font-weight: $typography-sm-base-font-weight;
	$alert-warning-text-line-height: $typography-sm-base-line-height;
	$alert-warning-text-letter-spacing: $typography-sm-base-letter-spacing;
	$alert-warning-text-text-align: left;
	$alert-warning-text-text-decoration: none;
	$alert-warning-text-text-transform: none;
	$alert-warning-text-color: $color-text-base;
	$alert-warning-title-padding-y: 0px;
	$alert-warning-title-padding-x: 0px;
	$alert-warning-title-padding-top: 0px;
	$alert-warning-title-padding-right: 0px;
	$alert-warning-title-padding-bottom: 0px;
	$alert-warning-title-padding-left: 0px;
	$alert-warning-title-padding-start: 0px;
	$alert-warning-title-padding-end: 0px;
	$alert-warning-title-spacing: 0px;
	$alert-warning-title-font-family: $typography-sm-strong-font-family;
	$alert-warning-title-font-size: $typography-sm-strong-font-size;
	$alert-warning-title-font-weight: $typography-sm-strong-font-weight;
	$alert-warning-title-line-height: $typography-sm-strong-line-height;
	$alert-warning-title-letter-spacing: $typography-sm-strong-letter-spacing;
	$alert-warning-title-text-align: left;
	$alert-warning-title-text-decoration: none;
	$alert-warning-title-text-transform: none;
	$alert-warning-title-color: $color-text-hard;
	$alert-warning-body-padding-y: 0px;
	$alert-warning-body-padding-x: 0px;
	$alert-warning-body-padding-top: 0px;
	$alert-warning-body-padding-right: 0px;
	$alert-warning-body-padding-bottom: 0px;
	$alert-warning-body-padding-left: 0px;
	$alert-warning-body-padding-start: 0px;
	$alert-warning-body-padding-end: 0px;
	$alert-warning-body-spacing: 12px;
	$alert-warning-background: $color-extra-warning;
	$alert-warning-border-width: 1px;
	$alert-warning-border-radius: 6px;
	$alert-warning-border-color: $color--transparent;
	$alert-warning-border-style: solid;
	$alert-warning-padding-y: 13px;
	$alert-warning-padding-x: 16px;
	$alert-warning-padding-top: 13px;
	$alert-warning-padding-right: 16px;
	$alert-warning-padding-bottom: 13px;
	$alert-warning-padding-left: 16px;
	$alert-warning-padding-start: 16px;
	$alert-warning-padding-end: 16px;
	$alert-warning-spacing: 12px;
	$alert-warning-box-shadow: none;

// Alert, type: danger
	$alert-danger-actions-padding-y: 0px;
	$alert-danger-actions-padding-x: 0px;
	$alert-danger-actions-padding-top: 0px;
	$alert-danger-actions-padding-right: 0px;
	$alert-danger-actions-padding-bottom: 0px;
	$alert-danger-actions-padding-left: 0px;
	$alert-danger-actions-padding-start: 0px;
	$alert-danger-actions-padding-end: 0px;
	$alert-danger-actions-spacing: 10px;
	$alert-danger-actions-font-family: $typography-button-text-small-font-family;
	$alert-danger-actions-font-size: $typography-button-text-small-font-size;
	$alert-danger-actions-font-weight: $typography-button-text-small-font-weight;
	$alert-danger-actions-line-height: $typography-button-text-small-line-height;
	$alert-danger-actions-letter-spacing: $typography-button-text-small-letter-spacing;
	$alert-danger-actions-text-align: left;
	$alert-danger-actions-text-decoration: none;
	$alert-danger-actions-text-transform: none;
	$alert-danger-actions-color: $color-text-hard-invert;
	$alert-danger-text-padding-y: 0px;
	$alert-danger-text-padding-x: 0px;
	$alert-danger-text-padding-top: 0px;
	$alert-danger-text-padding-right: 0px;
	$alert-danger-text-padding-bottom: 0px;
	$alert-danger-text-padding-left: 0px;
	$alert-danger-text-padding-start: 0px;
	$alert-danger-text-padding-end: 0px;
	$alert-danger-text-spacing: 0px;
	$alert-danger-text-font-family: $typography-sm-base-font-family;
	$alert-danger-text-font-size: $typography-sm-base-font-size;
	$alert-danger-text-font-weight: $typography-sm-base-font-weight;
	$alert-danger-text-line-height: $typography-sm-base-line-height;
	$alert-danger-text-letter-spacing: $typography-sm-base-letter-spacing;
	$alert-danger-text-text-align: left;
	$alert-danger-text-text-decoration: none;
	$alert-danger-text-text-transform: none;
	$alert-danger-text-color: $color-text-base-invert;
	$alert-danger-title-padding-y: 0px;
	$alert-danger-title-padding-x: 0px;
	$alert-danger-title-padding-top: 0px;
	$alert-danger-title-padding-right: 0px;
	$alert-danger-title-padding-bottom: 0px;
	$alert-danger-title-padding-left: 0px;
	$alert-danger-title-padding-start: 0px;
	$alert-danger-title-padding-end: 0px;
	$alert-danger-title-spacing: 0px;
	$alert-danger-title-font-family: $typography-sm-strong-font-family;
	$alert-danger-title-font-size: $typography-sm-strong-font-size;
	$alert-danger-title-font-weight: $typography-sm-strong-font-weight;
	$alert-danger-title-line-height: $typography-sm-strong-line-height;
	$alert-danger-title-letter-spacing: $typography-sm-strong-letter-spacing;
	$alert-danger-title-text-align: left;
	$alert-danger-title-text-decoration: none;
	$alert-danger-title-text-transform: none;
	$alert-danger-title-color: $color-text-hard-invert;
	$alert-danger-body-padding-y: 0px;
	$alert-danger-body-padding-x: 0px;
	$alert-danger-body-padding-top: 0px;
	$alert-danger-body-padding-right: 0px;
	$alert-danger-body-padding-bottom: 0px;
	$alert-danger-body-padding-left: 0px;
	$alert-danger-body-padding-start: 0px;
	$alert-danger-body-padding-end: 0px;
	$alert-danger-body-spacing: 12px;
	$alert-danger-background: $color-extra-danger;
	$alert-danger-border-width: 1px;
	$alert-danger-border-radius: 6px;
	$alert-danger-border-color: $color--transparent;
	$alert-danger-border-style: solid;
	$alert-danger-padding-y: 13px;
	$alert-danger-padding-x: 16px;
	$alert-danger-padding-top: 13px;
	$alert-danger-padding-right: 16px;
	$alert-danger-padding-bottom: 13px;
	$alert-danger-padding-left: 16px;
	$alert-danger-padding-start: 16px;
	$alert-danger-padding-end: 16px;
	$alert-danger-spacing: 12px;
	$alert-danger-box-shadow: none;