// Badge, type: primary, theme: dark, state: disabled
	$badge-text-primary-dark-disabled-font-family: $typography-xs-strong-font-family;
	$badge-text-primary-dark-disabled-font-size: $typography-xs-strong-font-size;
	$badge-text-primary-dark-disabled-font-weight: $typography-xs-strong-font-weight;
	$badge-text-primary-dark-disabled-line-height: $typography-xs-strong-line-height;
	$badge-text-primary-dark-disabled-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-primary-dark-disabled-text-align: center;
	$badge-text-primary-dark-disabled-text-decoration: none;
	$badge-text-primary-dark-disabled-text-transform: none;
	$badge-text-primary-dark-disabled-color: $color-text-muted-invert;
	$badge-primary-dark-disabled-background: $color-neutral-gray-800;
	$badge-primary-dark-disabled-border-width: 1px;
	$badge-primary-dark-disabled-border-radius: 4px;
	$badge-primary-dark-disabled-border-color: $color--transparent;
	$badge-primary-dark-disabled-border-style: solid;
	$badge-primary-dark-disabled-padding-y: 4.5px;
	$badge-primary-dark-disabled-padding-x: 10px;
	$badge-primary-dark-disabled-padding-top: 4px;
	$badge-primary-dark-disabled-padding-right: 10px;
	$badge-primary-dark-disabled-padding-bottom: 5px;
	$badge-primary-dark-disabled-padding-left: 10px;
	$badge-primary-dark-disabled-padding-start: 10px;
	$badge-primary-dark-disabled-padding-end: 10px;
	$badge-primary-dark-disabled-spacing: 8px;
	$badge-primary-dark-disabled-box-shadow: none;

// Badge, type: primary, theme: light, state: disabled
	$badge-text-primary-light-disabled-font-family: $typography-xs-strong-font-family;
	$badge-text-primary-light-disabled-font-size: $typography-xs-strong-font-size;
	$badge-text-primary-light-disabled-font-weight: $typography-xs-strong-font-weight;
	$badge-text-primary-light-disabled-line-height: $typography-xs-strong-line-height;
	$badge-text-primary-light-disabled-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-primary-light-disabled-text-align: center;
	$badge-text-primary-light-disabled-text-decoration: none;
	$badge-text-primary-light-disabled-text-transform: none;
	$badge-text-primary-light-disabled-color: $color-text-muted;
	$badge-primary-light-disabled-background: $color-neutral-gray-200;
	$badge-primary-light-disabled-border-width: 1px;
	$badge-primary-light-disabled-border-radius: 4px;
	$badge-primary-light-disabled-border-color: $color--transparent;
	$badge-primary-light-disabled-border-style: solid;
	$badge-primary-light-disabled-padding-y: 4.5px;
	$badge-primary-light-disabled-padding-x: 10px;
	$badge-primary-light-disabled-padding-top: 4px;
	$badge-primary-light-disabled-padding-right: 10px;
	$badge-primary-light-disabled-padding-bottom: 5px;
	$badge-primary-light-disabled-padding-left: 10px;
	$badge-primary-light-disabled-padding-start: 10px;
	$badge-primary-light-disabled-padding-end: 10px;
	$badge-primary-light-disabled-spacing: 8px;
	$badge-primary-light-disabled-box-shadow: none;

// Badge, type: outline-danger, theme: dark, state: hover
	$badge-text-outline-danger-dark-hover-font-family: $typography-xs-strong-font-family;
	$badge-text-outline-danger-dark-hover-font-size: $typography-xs-strong-font-size;
	$badge-text-outline-danger-dark-hover-font-weight: $typography-xs-strong-font-weight;
	$badge-text-outline-danger-dark-hover-line-height: $typography-xs-strong-line-height;
	$badge-text-outline-danger-dark-hover-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-outline-danger-dark-hover-text-align: center;
	$badge-text-outline-danger-dark-hover-text-decoration: none;
	$badge-text-outline-danger-dark-hover-text-transform: none;
	$badge-text-outline-danger-dark-hover-color: $color-extra-danger-lighter;
	$badge-outline-danger-dark-hover-background: $color--transparent;
	$badge-outline-danger-dark-hover-border-width: 1px;
	$badge-outline-danger-dark-hover-border-radius: 4px;
	$badge-outline-danger-dark-hover-border-color: $color-extra-danger-lighter;
	$badge-outline-danger-dark-hover-border-style: solid;
	$badge-outline-danger-dark-hover-padding-y: 4.5px;
	$badge-outline-danger-dark-hover-padding-x: 10px;
	$badge-outline-danger-dark-hover-padding-top: 4px;
	$badge-outline-danger-dark-hover-padding-right: 10px;
	$badge-outline-danger-dark-hover-padding-bottom: 5px;
	$badge-outline-danger-dark-hover-padding-left: 10px;
	$badge-outline-danger-dark-hover-padding-start: 10px;
	$badge-outline-danger-dark-hover-padding-end: 10px;
	$badge-outline-danger-dark-hover-spacing: 8px;
	$badge-outline-danger-dark-hover-box-shadow: none;

// Badge, type: outline-danger, theme: dark, state: default
	$badge-text-outline-danger-dark-default-font-family: $typography-xs-strong-font-family;
	$badge-text-outline-danger-dark-default-font-size: $typography-xs-strong-font-size;
	$badge-text-outline-danger-dark-default-font-weight: $typography-xs-strong-font-weight;
	$badge-text-outline-danger-dark-default-line-height: $typography-xs-strong-line-height;
	$badge-text-outline-danger-dark-default-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-outline-danger-dark-default-text-align: center;
	$badge-text-outline-danger-dark-default-text-decoration: none;
	$badge-text-outline-danger-dark-default-text-transform: none;
	$badge-text-outline-danger-dark-default-color: $color-extra-danger;
	$badge-outline-danger-dark-default-background: $color--transparent;
	$badge-outline-danger-dark-default-border-width: 1px;
	$badge-outline-danger-dark-default-border-radius: 4px;
	$badge-outline-danger-dark-default-border-color: $color-extra-danger;
	$badge-outline-danger-dark-default-border-style: solid;
	$badge-outline-danger-dark-default-padding-y: 4.5px;
	$badge-outline-danger-dark-default-padding-x: 10px;
	$badge-outline-danger-dark-default-padding-top: 4px;
	$badge-outline-danger-dark-default-padding-right: 10px;
	$badge-outline-danger-dark-default-padding-bottom: 5px;
	$badge-outline-danger-dark-default-padding-left: 10px;
	$badge-outline-danger-dark-default-padding-start: 10px;
	$badge-outline-danger-dark-default-padding-end: 10px;
	$badge-outline-danger-dark-default-spacing: 8px;
	$badge-outline-danger-dark-default-box-shadow: none;

// Badge, type: outline-danger, theme: light, state: hover
	$badge-text-outline-danger-light-hover-font-family: $typography-xs-strong-font-family;
	$badge-text-outline-danger-light-hover-font-size: $typography-xs-strong-font-size;
	$badge-text-outline-danger-light-hover-font-weight: $typography-xs-strong-font-weight;
	$badge-text-outline-danger-light-hover-line-height: $typography-xs-strong-line-height;
	$badge-text-outline-danger-light-hover-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-outline-danger-light-hover-text-align: center;
	$badge-text-outline-danger-light-hover-text-decoration: none;
	$badge-text-outline-danger-light-hover-text-transform: none;
	$badge-text-outline-danger-light-hover-color: $color-extra-danger-darker;
	$badge-outline-danger-light-hover-background: $color--transparent;
	$badge-outline-danger-light-hover-border-width: 1px;
	$badge-outline-danger-light-hover-border-radius: 4px;
	$badge-outline-danger-light-hover-border-color: $color-extra-danger-darker;
	$badge-outline-danger-light-hover-border-style: solid;
	$badge-outline-danger-light-hover-padding-y: 4.5px;
	$badge-outline-danger-light-hover-padding-x: 10px;
	$badge-outline-danger-light-hover-padding-top: 4px;
	$badge-outline-danger-light-hover-padding-right: 10px;
	$badge-outline-danger-light-hover-padding-bottom: 5px;
	$badge-outline-danger-light-hover-padding-left: 10px;
	$badge-outline-danger-light-hover-padding-start: 10px;
	$badge-outline-danger-light-hover-padding-end: 10px;
	$badge-outline-danger-light-hover-spacing: 8px;
	$badge-outline-danger-light-hover-box-shadow: none;

// Badge, type: outline-danger, theme: light, state: default
	$badge-text-outline-danger-light-default-font-family: $typography-xs-strong-font-family;
	$badge-text-outline-danger-light-default-font-size: $typography-xs-strong-font-size;
	$badge-text-outline-danger-light-default-font-weight: $typography-xs-strong-font-weight;
	$badge-text-outline-danger-light-default-line-height: $typography-xs-strong-line-height;
	$badge-text-outline-danger-light-default-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-outline-danger-light-default-text-align: center;
	$badge-text-outline-danger-light-default-text-decoration: none;
	$badge-text-outline-danger-light-default-text-transform: none;
	$badge-text-outline-danger-light-default-color: $color-extra-danger;
	$badge-outline-danger-light-default-background: $color--transparent;
	$badge-outline-danger-light-default-border-width: 1px;
	$badge-outline-danger-light-default-border-radius: 4px;
	$badge-outline-danger-light-default-border-color: $color-extra-danger;
	$badge-outline-danger-light-default-border-style: solid;
	$badge-outline-danger-light-default-padding-y: 4.5px;
	$badge-outline-danger-light-default-padding-x: 10px;
	$badge-outline-danger-light-default-padding-top: 4px;
	$badge-outline-danger-light-default-padding-right: 10px;
	$badge-outline-danger-light-default-padding-bottom: 5px;
	$badge-outline-danger-light-default-padding-left: 10px;
	$badge-outline-danger-light-default-padding-start: 10px;
	$badge-outline-danger-light-default-padding-end: 10px;
	$badge-outline-danger-light-default-spacing: 8px;
	$badge-outline-danger-light-default-box-shadow: none;

// Badge, type: danger, theme: dark, state: hover
	$badge-text-danger-dark-hover-font-family: $typography-xs-strong-font-family;
	$badge-text-danger-dark-hover-font-size: $typography-xs-strong-font-size;
	$badge-text-danger-dark-hover-font-weight: $typography-xs-strong-font-weight;
	$badge-text-danger-dark-hover-line-height: $typography-xs-strong-line-height;
	$badge-text-danger-dark-hover-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-danger-dark-hover-text-align: center;
	$badge-text-danger-dark-hover-text-decoration: none;
	$badge-text-danger-dark-hover-text-transform: none;
	$badge-text-danger-dark-hover-color: $color-text-hard-invert;
	$badge-danger-dark-hover-background: $color-extra-danger-lighter;
	$badge-danger-dark-hover-border-width: 1px;
	$badge-danger-dark-hover-border-radius: 4px;
	$badge-danger-dark-hover-border-color: $color--transparent;
	$badge-danger-dark-hover-border-style: solid;
	$badge-danger-dark-hover-padding-y: 4.5px;
	$badge-danger-dark-hover-padding-x: 10px;
	$badge-danger-dark-hover-padding-top: 4px;
	$badge-danger-dark-hover-padding-right: 10px;
	$badge-danger-dark-hover-padding-bottom: 5px;
	$badge-danger-dark-hover-padding-left: 10px;
	$badge-danger-dark-hover-padding-start: 10px;
	$badge-danger-dark-hover-padding-end: 10px;
	$badge-danger-dark-hover-spacing: 8px;
	$badge-danger-dark-hover-box-shadow: none;

// Badge, type: danger, theme: dark, state: default
	$badge-text-danger-dark-default-font-family: $typography-xs-strong-font-family;
	$badge-text-danger-dark-default-font-size: $typography-xs-strong-font-size;
	$badge-text-danger-dark-default-font-weight: $typography-xs-strong-font-weight;
	$badge-text-danger-dark-default-line-height: $typography-xs-strong-line-height;
	$badge-text-danger-dark-default-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-danger-dark-default-text-align: center;
	$badge-text-danger-dark-default-text-decoration: none;
	$badge-text-danger-dark-default-text-transform: none;
	$badge-text-danger-dark-default-color: $color-text-hard-invert;
	$badge-danger-dark-default-background: $color-extra-danger;
	$badge-danger-dark-default-border-width: 1px;
	$badge-danger-dark-default-border-radius: 4px;
	$badge-danger-dark-default-border-color: $color--transparent;
	$badge-danger-dark-default-border-style: solid;
	$badge-danger-dark-default-padding-y: 4.5px;
	$badge-danger-dark-default-padding-x: 10px;
	$badge-danger-dark-default-padding-top: 4px;
	$badge-danger-dark-default-padding-right: 10px;
	$badge-danger-dark-default-padding-bottom: 5px;
	$badge-danger-dark-default-padding-left: 10px;
	$badge-danger-dark-default-padding-start: 10px;
	$badge-danger-dark-default-padding-end: 10px;
	$badge-danger-dark-default-spacing: 8px;
	$badge-danger-dark-default-box-shadow: none;

// Badge, type: danger, theme: light, state: hover
	$badge-text-danger-light-hover-font-family: $typography-xs-strong-font-family;
	$badge-text-danger-light-hover-font-size: $typography-xs-strong-font-size;
	$badge-text-danger-light-hover-font-weight: $typography-xs-strong-font-weight;
	$badge-text-danger-light-hover-line-height: $typography-xs-strong-line-height;
	$badge-text-danger-light-hover-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-danger-light-hover-text-align: center;
	$badge-text-danger-light-hover-text-decoration: none;
	$badge-text-danger-light-hover-text-transform: none;
	$badge-text-danger-light-hover-color: $color-text-hard-invert;
	$badge-danger-light-hover-background: $color-extra-danger-darker;
	$badge-danger-light-hover-border-width: 1px;
	$badge-danger-light-hover-border-radius: 4px;
	$badge-danger-light-hover-border-color: $color--transparent;
	$badge-danger-light-hover-border-style: solid;
	$badge-danger-light-hover-padding-y: 4.5px;
	$badge-danger-light-hover-padding-x: 10px;
	$badge-danger-light-hover-padding-top: 4px;
	$badge-danger-light-hover-padding-right: 10px;
	$badge-danger-light-hover-padding-bottom: 5px;
	$badge-danger-light-hover-padding-left: 10px;
	$badge-danger-light-hover-padding-start: 10px;
	$badge-danger-light-hover-padding-end: 10px;
	$badge-danger-light-hover-spacing: 8px;
	$badge-danger-light-hover-box-shadow: none;

// Badge, type: danger, theme: light, state: default
	$badge-text-danger-light-default-font-family: $typography-xs-strong-font-family;
	$badge-text-danger-light-default-font-size: $typography-xs-strong-font-size;
	$badge-text-danger-light-default-font-weight: $typography-xs-strong-font-weight;
	$badge-text-danger-light-default-line-height: $typography-xs-strong-line-height;
	$badge-text-danger-light-default-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-danger-light-default-text-align: center;
	$badge-text-danger-light-default-text-decoration: none;
	$badge-text-danger-light-default-text-transform: none;
	$badge-text-danger-light-default-color: $color-text-hard-invert;
	$badge-danger-light-default-background: $color-extra-danger;
	$badge-danger-light-default-border-width: 1px;
	$badge-danger-light-default-border-radius: 4px;
	$badge-danger-light-default-border-color: $color--transparent;
	$badge-danger-light-default-border-style: solid;
	$badge-danger-light-default-padding-y: 4.5px;
	$badge-danger-light-default-padding-x: 10px;
	$badge-danger-light-default-padding-top: 4px;
	$badge-danger-light-default-padding-right: 10px;
	$badge-danger-light-default-padding-bottom: 5px;
	$badge-danger-light-default-padding-left: 10px;
	$badge-danger-light-default-padding-start: 10px;
	$badge-danger-light-default-padding-end: 10px;
	$badge-danger-light-default-spacing: 8px;
	$badge-danger-light-default-box-shadow: none;

// Badge, type: outline-secondary, theme: dark, state: hover
	$badge-text-outline-secondary-dark-hover-font-family: $typography-xs-strong-font-family;
	$badge-text-outline-secondary-dark-hover-font-size: $typography-xs-strong-font-size;
	$badge-text-outline-secondary-dark-hover-font-weight: $typography-xs-strong-font-weight;
	$badge-text-outline-secondary-dark-hover-line-height: $typography-xs-strong-line-height;
	$badge-text-outline-secondary-dark-hover-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-outline-secondary-dark-hover-text-align: center;
	$badge-text-outline-secondary-dark-hover-text-decoration: none;
	$badge-text-outline-secondary-dark-hover-text-transform: none;
	$badge-text-outline-secondary-dark-hover-color: $color-primary-blue-lighter;
	$badge-outline-secondary-dark-hover-background: $color--transparent;
	$badge-outline-secondary-dark-hover-border-width: 1px;
	$badge-outline-secondary-dark-hover-border-radius: 4px;
	$badge-outline-secondary-dark-hover-border-color: $color-primary-blue-lighter;
	$badge-outline-secondary-dark-hover-border-style: solid;
	$badge-outline-secondary-dark-hover-padding-y: 4.5px;
	$badge-outline-secondary-dark-hover-padding-x: 10px;
	$badge-outline-secondary-dark-hover-padding-top: 4px;
	$badge-outline-secondary-dark-hover-padding-right: 10px;
	$badge-outline-secondary-dark-hover-padding-bottom: 5px;
	$badge-outline-secondary-dark-hover-padding-left: 10px;
	$badge-outline-secondary-dark-hover-padding-start: 10px;
	$badge-outline-secondary-dark-hover-padding-end: 10px;
	$badge-outline-secondary-dark-hover-spacing: 8px;
	$badge-outline-secondary-dark-hover-box-shadow: none;

// Badge, type: outline-secondary, theme: dark, state: default
	$badge-text-outline-secondary-dark-default-font-family: $typography-xs-strong-font-family;
	$badge-text-outline-secondary-dark-default-font-size: $typography-xs-strong-font-size;
	$badge-text-outline-secondary-dark-default-font-weight: $typography-xs-strong-font-weight;
	$badge-text-outline-secondary-dark-default-line-height: $typography-xs-strong-line-height;
	$badge-text-outline-secondary-dark-default-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-outline-secondary-dark-default-text-align: center;
	$badge-text-outline-secondary-dark-default-text-decoration: none;
	$badge-text-outline-secondary-dark-default-text-transform: none;
	$badge-text-outline-secondary-dark-default-color: $color-text-hard-invert;
	$badge-outline-secondary-dark-default-background: $color--transparent;
	$badge-outline-secondary-dark-default-border-width: 1px;
	$badge-outline-secondary-dark-default-border-radius: 4px;
	$badge-outline-secondary-dark-default-border-color: $color-border-lightest;
	$badge-outline-secondary-dark-default-border-style: solid;
	$badge-outline-secondary-dark-default-padding-y: 4.5px;
	$badge-outline-secondary-dark-default-padding-x: 10px;
	$badge-outline-secondary-dark-default-padding-top: 4px;
	$badge-outline-secondary-dark-default-padding-right: 10px;
	$badge-outline-secondary-dark-default-padding-bottom: 5px;
	$badge-outline-secondary-dark-default-padding-left: 10px;
	$badge-outline-secondary-dark-default-padding-start: 10px;
	$badge-outline-secondary-dark-default-padding-end: 10px;
	$badge-outline-secondary-dark-default-spacing: 8px;
	$badge-outline-secondary-dark-default-box-shadow: none;

// Badge, type: outline-secondary, theme: light, state: hover
	$badge-text-outline-secondary-light-hover-font-family: $typography-xs-strong-font-family;
	$badge-text-outline-secondary-light-hover-font-size: $typography-xs-strong-font-size;
	$badge-text-outline-secondary-light-hover-font-weight: $typography-xs-strong-font-weight;
	$badge-text-outline-secondary-light-hover-line-height: $typography-xs-strong-line-height;
	$badge-text-outline-secondary-light-hover-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-outline-secondary-light-hover-text-align: center;
	$badge-text-outline-secondary-light-hover-text-decoration: none;
	$badge-text-outline-secondary-light-hover-text-transform: none;
	$badge-text-outline-secondary-light-hover-color: $color-primary-blue-darker;
	$badge-outline-secondary-light-hover-background: $color--transparent;
	$badge-outline-secondary-light-hover-border-width: 1px;
	$badge-outline-secondary-light-hover-border-radius: 4px;
	$badge-outline-secondary-light-hover-border-color: $color-primary-blue-darker;
	$badge-outline-secondary-light-hover-border-style: solid;
	$badge-outline-secondary-light-hover-padding-y: 4.5px;
	$badge-outline-secondary-light-hover-padding-x: 10px;
	$badge-outline-secondary-light-hover-padding-top: 4px;
	$badge-outline-secondary-light-hover-padding-right: 10px;
	$badge-outline-secondary-light-hover-padding-bottom: 5px;
	$badge-outline-secondary-light-hover-padding-left: 10px;
	$badge-outline-secondary-light-hover-padding-start: 10px;
	$badge-outline-secondary-light-hover-padding-end: 10px;
	$badge-outline-secondary-light-hover-spacing: 8px;
	$badge-outline-secondary-light-hover-box-shadow: none;

// Badge, type: outline-secondary, theme: light, state: default
	$badge-text-outline-secondary-light-default-font-family: $typography-xs-strong-font-family;
	$badge-text-outline-secondary-light-default-font-size: $typography-xs-strong-font-size;
	$badge-text-outline-secondary-light-default-font-weight: $typography-xs-strong-font-weight;
	$badge-text-outline-secondary-light-default-line-height: $typography-xs-strong-line-height;
	$badge-text-outline-secondary-light-default-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-outline-secondary-light-default-text-align: center;
	$badge-text-outline-secondary-light-default-text-decoration: none;
	$badge-text-outline-secondary-light-default-text-transform: none;
	$badge-text-outline-secondary-light-default-color: $color-text-hard;
	$badge-outline-secondary-light-default-background: $color--transparent;
	$badge-outline-secondary-light-default-border-width: 1px;
	$badge-outline-secondary-light-default-border-radius: 4px;
	$badge-outline-secondary-light-default-border-color: $color-border-darkest;
	$badge-outline-secondary-light-default-border-style: solid;
	$badge-outline-secondary-light-default-padding-y: 4.5px;
	$badge-outline-secondary-light-default-padding-x: 10px;
	$badge-outline-secondary-light-default-padding-top: 4px;
	$badge-outline-secondary-light-default-padding-right: 10px;
	$badge-outline-secondary-light-default-padding-bottom: 5px;
	$badge-outline-secondary-light-default-padding-left: 10px;
	$badge-outline-secondary-light-default-padding-start: 10px;
	$badge-outline-secondary-light-default-padding-end: 10px;
	$badge-outline-secondary-light-default-spacing: 8px;
	$badge-outline-secondary-light-default-box-shadow: none;

// Badge, type: outline-primary, theme: dark, state: hover
	$badge-text-outline-primary-dark-hover-font-family: $typography-xs-strong-font-family;
	$badge-text-outline-primary-dark-hover-font-size: $typography-xs-strong-font-size;
	$badge-text-outline-primary-dark-hover-font-weight: $typography-xs-strong-font-weight;
	$badge-text-outline-primary-dark-hover-line-height: $typography-xs-strong-line-height;
	$badge-text-outline-primary-dark-hover-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-outline-primary-dark-hover-text-align: center;
	$badge-text-outline-primary-dark-hover-text-decoration: none;
	$badge-text-outline-primary-dark-hover-text-transform: none;
	$badge-text-outline-primary-dark-hover-color: $color-primary-blue-lighter;
	$badge-outline-primary-dark-hover-background: $color--transparent;
	$badge-outline-primary-dark-hover-border-width: 1px;
	$badge-outline-primary-dark-hover-border-radius: 4px;
	$badge-outline-primary-dark-hover-border-color: $color-primary-blue-lighter;
	$badge-outline-primary-dark-hover-border-style: solid;
	$badge-outline-primary-dark-hover-padding-y: 4.5px;
	$badge-outline-primary-dark-hover-padding-x: 10px;
	$badge-outline-primary-dark-hover-padding-top: 4px;
	$badge-outline-primary-dark-hover-padding-right: 10px;
	$badge-outline-primary-dark-hover-padding-bottom: 5px;
	$badge-outline-primary-dark-hover-padding-left: 10px;
	$badge-outline-primary-dark-hover-padding-start: 10px;
	$badge-outline-primary-dark-hover-padding-end: 10px;
	$badge-outline-primary-dark-hover-spacing: 8px;
	$badge-outline-primary-dark-hover-box-shadow: none;

// Badge, type: outline-primary, theme: dark, state: default
	$badge-text-outline-primary-dark-default-font-family: $typography-xs-strong-font-family;
	$badge-text-outline-primary-dark-default-font-size: $typography-xs-strong-font-size;
	$badge-text-outline-primary-dark-default-font-weight: $typography-xs-strong-font-weight;
	$badge-text-outline-primary-dark-default-line-height: $typography-xs-strong-line-height;
	$badge-text-outline-primary-dark-default-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-outline-primary-dark-default-text-align: center;
	$badge-text-outline-primary-dark-default-text-decoration: none;
	$badge-text-outline-primary-dark-default-text-transform: none;
	$badge-text-outline-primary-dark-default-color: $color-primary-blue;
	$badge-outline-primary-dark-default-background: $color--transparent;
	$badge-outline-primary-dark-default-border-width: 1px;
	$badge-outline-primary-dark-default-border-radius: 4px;
	$badge-outline-primary-dark-default-border-color: $color-primary-blue;
	$badge-outline-primary-dark-default-border-style: solid;
	$badge-outline-primary-dark-default-padding-y: 4.5px;
	$badge-outline-primary-dark-default-padding-x: 10px;
	$badge-outline-primary-dark-default-padding-top: 4px;
	$badge-outline-primary-dark-default-padding-right: 10px;
	$badge-outline-primary-dark-default-padding-bottom: 5px;
	$badge-outline-primary-dark-default-padding-left: 10px;
	$badge-outline-primary-dark-default-padding-start: 10px;
	$badge-outline-primary-dark-default-padding-end: 10px;
	$badge-outline-primary-dark-default-spacing: 8px;
	$badge-outline-primary-dark-default-box-shadow: none;

// Badge, type: outline-primary, theme: light, state: hover
	$badge-text-outline-primary-light-hover-font-family: $typography-xs-strong-font-family;
	$badge-text-outline-primary-light-hover-font-size: $typography-xs-strong-font-size;
	$badge-text-outline-primary-light-hover-font-weight: $typography-xs-strong-font-weight;
	$badge-text-outline-primary-light-hover-line-height: $typography-xs-strong-line-height;
	$badge-text-outline-primary-light-hover-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-outline-primary-light-hover-text-align: center;
	$badge-text-outline-primary-light-hover-text-decoration: none;
	$badge-text-outline-primary-light-hover-text-transform: none;
	$badge-text-outline-primary-light-hover-color: $color-primary-blue-darker;
	$badge-outline-primary-light-hover-background: $color--transparent;
	$badge-outline-primary-light-hover-border-width: 1px;
	$badge-outline-primary-light-hover-border-radius: 4px;
	$badge-outline-primary-light-hover-border-color: $color-primary-blue-darker;
	$badge-outline-primary-light-hover-border-style: solid;
	$badge-outline-primary-light-hover-padding-y: 4.5px;
	$badge-outline-primary-light-hover-padding-x: 10px;
	$badge-outline-primary-light-hover-padding-top: 4px;
	$badge-outline-primary-light-hover-padding-right: 10px;
	$badge-outline-primary-light-hover-padding-bottom: 5px;
	$badge-outline-primary-light-hover-padding-left: 10px;
	$badge-outline-primary-light-hover-padding-start: 10px;
	$badge-outline-primary-light-hover-padding-end: 10px;
	$badge-outline-primary-light-hover-spacing: 8px;
	$badge-outline-primary-light-hover-box-shadow: none;

// Badge, type: outline-primary, theme: light, state: default
	$badge-text-outline-primary-light-default-font-family: $typography-xs-strong-font-family;
	$badge-text-outline-primary-light-default-font-size: $typography-xs-strong-font-size;
	$badge-text-outline-primary-light-default-font-weight: $typography-xs-strong-font-weight;
	$badge-text-outline-primary-light-default-line-height: $typography-xs-strong-line-height;
	$badge-text-outline-primary-light-default-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-outline-primary-light-default-text-align: center;
	$badge-text-outline-primary-light-default-text-decoration: none;
	$badge-text-outline-primary-light-default-text-transform: none;
	$badge-text-outline-primary-light-default-color: $color-primary-blue;
	$badge-outline-primary-light-default-background: $color--transparent;
	$badge-outline-primary-light-default-border-width: 1px;
	$badge-outline-primary-light-default-border-radius: 4px;
	$badge-outline-primary-light-default-border-color: $color-primary-blue;
	$badge-outline-primary-light-default-border-style: solid;
	$badge-outline-primary-light-default-padding-y: 4.5px;
	$badge-outline-primary-light-default-padding-x: 10px;
	$badge-outline-primary-light-default-padding-top: 4px;
	$badge-outline-primary-light-default-padding-right: 10px;
	$badge-outline-primary-light-default-padding-bottom: 5px;
	$badge-outline-primary-light-default-padding-left: 10px;
	$badge-outline-primary-light-default-padding-start: 10px;
	$badge-outline-primary-light-default-padding-end: 10px;
	$badge-outline-primary-light-default-spacing: 8px;
	$badge-outline-primary-light-default-box-shadow: none;

// Badge, type: light, theme: dark, state: hover
	$badge-text-light-dark-hover-font-family: $typography-xs-strong-font-family;
	$badge-text-light-dark-hover-font-size: $typography-xs-strong-font-size;
	$badge-text-light-dark-hover-font-weight: $typography-xs-strong-font-weight;
	$badge-text-light-dark-hover-line-height: $typography-xs-strong-line-height;
	$badge-text-light-dark-hover-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-light-dark-hover-text-align: center;
	$badge-text-light-dark-hover-text-decoration: none;
	$badge-text-light-dark-hover-text-transform: none;
	$badge-text-light-dark-hover-color: $color-primary-blue;
	$badge-light-dark-hover-background: $color-neutral-white;
	$badge-light-dark-hover-border-width: 1px;
	$badge-light-dark-hover-border-radius: 4px;
	$badge-light-dark-hover-border-color: $color--transparent;
	$badge-light-dark-hover-border-style: solid;
	$badge-light-dark-hover-padding-y: 4.5px;
	$badge-light-dark-hover-padding-x: 10px;
	$badge-light-dark-hover-padding-top: 4px;
	$badge-light-dark-hover-padding-right: 10px;
	$badge-light-dark-hover-padding-bottom: 5px;
	$badge-light-dark-hover-padding-left: 10px;
	$badge-light-dark-hover-padding-start: 10px;
	$badge-light-dark-hover-padding-end: 10px;
	$badge-light-dark-hover-spacing: 8px;
	$badge-light-dark-hover-box-shadow: none;

// Badge, type: light, theme: dark, state: default
	$badge-text-light-dark-default-font-family: $typography-xs-strong-font-family;
	$badge-text-light-dark-default-font-size: $typography-xs-strong-font-size;
	$badge-text-light-dark-default-font-weight: $typography-xs-strong-font-weight;
	$badge-text-light-dark-default-line-height: $typography-xs-strong-line-height;
	$badge-text-light-dark-default-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-light-dark-default-text-align: center;
	$badge-text-light-dark-default-text-decoration: none;
	$badge-text-light-dark-default-text-transform: none;
	$badge-text-light-dark-default-color: $color-text-hard;
	$badge-light-dark-default-background: $color-neutral-white;
	$badge-light-dark-default-border-width: 1px;
	$badge-light-dark-default-border-radius: 4px;
	$badge-light-dark-default-border-color: $color--transparent;
	$badge-light-dark-default-border-style: solid;
	$badge-light-dark-default-padding-y: 4.5px;
	$badge-light-dark-default-padding-x: 10px;
	$badge-light-dark-default-padding-top: 4px;
	$badge-light-dark-default-padding-right: 10px;
	$badge-light-dark-default-padding-bottom: 5px;
	$badge-light-dark-default-padding-left: 10px;
	$badge-light-dark-default-padding-start: 10px;
	$badge-light-dark-default-padding-end: 10px;
	$badge-light-dark-default-spacing: 8px;
	$badge-light-dark-default-box-shadow: none;

// Badge, type: light, theme: light, state: hover
	$badge-text-light-light-hover-font-family: $typography-xs-strong-font-family;
	$badge-text-light-light-hover-font-size: $typography-xs-strong-font-size;
	$badge-text-light-light-hover-font-weight: $typography-xs-strong-font-weight;
	$badge-text-light-light-hover-line-height: $typography-xs-strong-line-height;
	$badge-text-light-light-hover-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-light-light-hover-text-align: center;
	$badge-text-light-light-hover-text-decoration: none;
	$badge-text-light-light-hover-text-transform: none;
	$badge-text-light-light-hover-color: $color-primary-blue-darker;
	$badge-light-light-hover-background: $color-neutral-gray-200;
	$badge-light-light-hover-border-width: 1px;
	$badge-light-light-hover-border-radius: 4px;
	$badge-light-light-hover-border-color: transparent;
	$badge-light-light-hover-border-style: solid;
	$badge-light-light-hover-padding-y: 4.5px;
	$badge-light-light-hover-padding-x: 10px;
	$badge-light-light-hover-padding-top: 4px;
	$badge-light-light-hover-padding-right: 10px;
	$badge-light-light-hover-padding-bottom: 5px;
	$badge-light-light-hover-padding-left: 10px;
	$badge-light-light-hover-padding-start: 10px;
	$badge-light-light-hover-padding-end: 10px;
	$badge-light-light-hover-spacing: 8px;
	$badge-light-light-hover-box-shadow: none;

// Badge, type: light, theme: light, state: default
	$badge-text-light-light-default-font-family: $typography-xs-strong-font-family;
	$badge-text-light-light-default-font-size: $typography-xs-strong-font-size;
	$badge-text-light-light-default-font-weight: $typography-xs-strong-font-weight;
	$badge-text-light-light-default-line-height: $typography-xs-strong-line-height;
	$badge-text-light-light-default-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-light-light-default-text-align: center;
	$badge-text-light-light-default-text-decoration: none;
	$badge-text-light-light-default-text-transform: none;
	$badge-text-light-light-default-color: $color-text-hard;
	$badge-light-light-default-background: $color-neutral-gray-200;
	$badge-light-light-default-border-width: 1px;
	$badge-light-light-default-border-radius: 4px;
	$badge-light-light-default-border-color: transparent;
	$badge-light-light-default-border-style: solid;
	$badge-light-light-default-padding-y: 4.5px;
	$badge-light-light-default-padding-x: 10px;
	$badge-light-light-default-padding-top: 4px;
	$badge-light-light-default-padding-right: 10px;
	$badge-light-light-default-padding-bottom: 5px;
	$badge-light-light-default-padding-left: 10px;
	$badge-light-light-default-padding-start: 10px;
	$badge-light-light-default-padding-end: 10px;
	$badge-light-light-default-spacing: 8px;
	$badge-light-light-default-box-shadow: none;

// Badge, type: dark, theme: dark, state: hover
	$badge-text-dark-dark-hover-font-family: $typography-xs-strong-font-family;
	$badge-text-dark-dark-hover-font-size: $typography-xs-strong-font-size;
	$badge-text-dark-dark-hover-font-weight: $typography-xs-strong-font-weight;
	$badge-text-dark-dark-hover-line-height: $typography-xs-strong-line-height;
	$badge-text-dark-dark-hover-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-dark-dark-hover-text-align: center;
	$badge-text-dark-dark-hover-text-decoration: none;
	$badge-text-dark-dark-hover-text-transform: none;
	$badge-text-dark-dark-hover-color: $color-text-hard-invert;
	$badge-dark-dark-hover-background: $color-primary-blue-lighter;
	$badge-dark-dark-hover-border-width: 1px;
	$badge-dark-dark-hover-border-radius: 4px;
	$badge-dark-dark-hover-border-color: $color--transparent;
	$badge-dark-dark-hover-border-style: solid;
	$badge-dark-dark-hover-padding-y: 4.5px;
	$badge-dark-dark-hover-padding-x: 10px;
	$badge-dark-dark-hover-padding-top: 4px;
	$badge-dark-dark-hover-padding-right: 10px;
	$badge-dark-dark-hover-padding-bottom: 5px;
	$badge-dark-dark-hover-padding-left: 10px;
	$badge-dark-dark-hover-padding-start: 10px;
	$badge-dark-dark-hover-padding-end: 10px;
	$badge-dark-dark-hover-spacing: 8px;
	$badge-dark-dark-hover-box-shadow: none;

// Badge, type: dark, theme: dark, state: default
	$badge-text-dark-dark-default-font-family: $typography-xs-strong-font-family;
	$badge-text-dark-dark-default-font-size: $typography-xs-strong-font-size;
	$badge-text-dark-dark-default-font-weight: $typography-xs-strong-font-weight;
	$badge-text-dark-dark-default-line-height: $typography-xs-strong-line-height;
	$badge-text-dark-dark-default-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-dark-dark-default-text-align: center;
	$badge-text-dark-dark-default-text-decoration: none;
	$badge-text-dark-dark-default-text-transform: none;
	$badge-text-dark-dark-default-color: $color-text-hard-invert;
	$badge-dark-dark-default-background: $color-neutral-gray-800;
	$badge-dark-dark-default-border-width: 1px;
	$badge-dark-dark-default-border-radius: 4px;
	$badge-dark-dark-default-border-color: $color--transparent;
	$badge-dark-dark-default-border-style: solid;
	$badge-dark-dark-default-padding-y: 4.5px;
	$badge-dark-dark-default-padding-x: 10px;
	$badge-dark-dark-default-padding-top: 4px;
	$badge-dark-dark-default-padding-right: 10px;
	$badge-dark-dark-default-padding-bottom: 5px;
	$badge-dark-dark-default-padding-left: 10px;
	$badge-dark-dark-default-padding-start: 10px;
	$badge-dark-dark-default-padding-end: 10px;
	$badge-dark-dark-default-spacing: 8px;
	$badge-dark-dark-default-box-shadow: none;

// Badge, type: dark, theme: light, state: hover
	$badge-text-dark-light-hover-font-family: $typography-xs-strong-font-family;
	$badge-text-dark-light-hover-font-size: $typography-xs-strong-font-size;
	$badge-text-dark-light-hover-font-weight: $typography-xs-strong-font-weight;
	$badge-text-dark-light-hover-line-height: $typography-xs-strong-line-height;
	$badge-text-dark-light-hover-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-dark-light-hover-text-align: center;
	$badge-text-dark-light-hover-text-decoration: none;
	$badge-text-dark-light-hover-text-transform: none;
	$badge-text-dark-light-hover-color: $color-text-hard-invert;
	$badge-dark-light-hover-background: $color-primary-blue-darker;
	$badge-dark-light-hover-border-width: 1px;
	$badge-dark-light-hover-border-radius: 4px;
	$badge-dark-light-hover-border-color: $color--transparent;
	$badge-dark-light-hover-border-style: solid;
	$badge-dark-light-hover-padding-y: 4.5px;
	$badge-dark-light-hover-padding-x: 10px;
	$badge-dark-light-hover-padding-top: 4px;
	$badge-dark-light-hover-padding-right: 10px;
	$badge-dark-light-hover-padding-bottom: 5px;
	$badge-dark-light-hover-padding-left: 10px;
	$badge-dark-light-hover-padding-start: 10px;
	$badge-dark-light-hover-padding-end: 10px;
	$badge-dark-light-hover-spacing: 8px;
	$badge-dark-light-hover-box-shadow: none;

// Badge, type: dark, theme: light, state: default
	$badge-text-dark-light-default-font-family: $typography-xs-strong-font-family;
	$badge-text-dark-light-default-font-size: $typography-xs-strong-font-size;
	$badge-text-dark-light-default-font-weight: $typography-xs-strong-font-weight;
	$badge-text-dark-light-default-line-height: $typography-xs-strong-line-height;
	$badge-text-dark-light-default-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-dark-light-default-text-align: center;
	$badge-text-dark-light-default-text-decoration: none;
	$badge-text-dark-light-default-text-transform: none;
	$badge-text-dark-light-default-color: $color-text-hard-invert;
	$badge-dark-light-default-background: $color-neutral-gray-900;
	$badge-dark-light-default-border-width: 1px;
	$badge-dark-light-default-border-radius: 4px;
	$badge-dark-light-default-border-color: $color--transparent;
	$badge-dark-light-default-border-style: solid;
	$badge-dark-light-default-padding-y: 4.5px;
	$badge-dark-light-default-padding-x: 10px;
	$badge-dark-light-default-padding-top: 4px;
	$badge-dark-light-default-padding-right: 10px;
	$badge-dark-light-default-padding-bottom: 5px;
	$badge-dark-light-default-padding-left: 10px;
	$badge-dark-light-default-padding-start: 10px;
	$badge-dark-light-default-padding-end: 10px;
	$badge-dark-light-default-spacing: 8px;
	$badge-dark-light-default-box-shadow: none;

// Badge, type: secondary, theme: dark, state: hover
	$badge-text-secondary-dark-hover-font-family: $typography-xs-strong-font-family;
	$badge-text-secondary-dark-hover-font-size: $typography-xs-strong-font-size;
	$badge-text-secondary-dark-hover-font-weight: $typography-xs-strong-font-weight;
	$badge-text-secondary-dark-hover-line-height: $typography-xs-strong-line-height;
	$badge-text-secondary-dark-hover-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-secondary-dark-hover-text-align: center;
	$badge-text-secondary-dark-hover-text-decoration: none;
	$badge-text-secondary-dark-hover-text-transform: none;
	$badge-text-secondary-dark-hover-color: $color-text-hard-invert;
	$badge-secondary-dark-hover-background: $color-secondary-purple-lighter;
	$badge-secondary-dark-hover-border-width: 1px;
	$badge-secondary-dark-hover-border-radius: 4px;
	$badge-secondary-dark-hover-border-color: $color--transparent;
	$badge-secondary-dark-hover-border-style: solid;
	$badge-secondary-dark-hover-padding-y: 4.5px;
	$badge-secondary-dark-hover-padding-x: 10px;
	$badge-secondary-dark-hover-padding-top: 4px;
	$badge-secondary-dark-hover-padding-right: 10px;
	$badge-secondary-dark-hover-padding-bottom: 5px;
	$badge-secondary-dark-hover-padding-left: 10px;
	$badge-secondary-dark-hover-padding-start: 10px;
	$badge-secondary-dark-hover-padding-end: 10px;
	$badge-secondary-dark-hover-spacing: 8px;
	$badge-secondary-dark-hover-box-shadow: none;

// Badge, type: secondary, theme: dark, state: default
	$badge-text-secondary-dark-default-font-family: $typography-xs-strong-font-family;
	$badge-text-secondary-dark-default-font-size: $typography-xs-strong-font-size;
	$badge-text-secondary-dark-default-font-weight: $typography-xs-strong-font-weight;
	$badge-text-secondary-dark-default-line-height: $typography-xs-strong-line-height;
	$badge-text-secondary-dark-default-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-secondary-dark-default-text-align: center;
	$badge-text-secondary-dark-default-text-decoration: none;
	$badge-text-secondary-dark-default-text-transform: none;
	$badge-text-secondary-dark-default-color: $color-text-hard-invert;
	$badge-secondary-dark-default-background: $color-secondary-purple;
	$badge-secondary-dark-default-border-width: 1px;
	$badge-secondary-dark-default-border-radius: 4px;
	$badge-secondary-dark-default-border-color: $color--transparent;
	$badge-secondary-dark-default-border-style: solid;
	$badge-secondary-dark-default-padding-y: 4.5px;
	$badge-secondary-dark-default-padding-x: 10px;
	$badge-secondary-dark-default-padding-top: 4px;
	$badge-secondary-dark-default-padding-right: 10px;
	$badge-secondary-dark-default-padding-bottom: 5px;
	$badge-secondary-dark-default-padding-left: 10px;
	$badge-secondary-dark-default-padding-start: 10px;
	$badge-secondary-dark-default-padding-end: 10px;
	$badge-secondary-dark-default-spacing: 8px;
	$badge-secondary-dark-default-box-shadow: none;

// Badge, type: secondary, theme: light, state: hover
	$badge-text-secondary-light-hover-font-family: $typography-xs-strong-font-family;
	$badge-text-secondary-light-hover-font-size: $typography-xs-strong-font-size;
	$badge-text-secondary-light-hover-font-weight: $typography-xs-strong-font-weight;
	$badge-text-secondary-light-hover-line-height: $typography-xs-strong-line-height;
	$badge-text-secondary-light-hover-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-secondary-light-hover-text-align: center;
	$badge-text-secondary-light-hover-text-decoration: none;
	$badge-text-secondary-light-hover-text-transform: none;
	$badge-text-secondary-light-hover-color: $color-text-hard-invert;
	$badge-secondary-light-hover-background: $color-secondary-purple-darker;
	$badge-secondary-light-hover-border-width: 1px;
	$badge-secondary-light-hover-border-radius: 4px;
	$badge-secondary-light-hover-border-color: $color--transparent;
	$badge-secondary-light-hover-border-style: solid;
	$badge-secondary-light-hover-padding-y: 4.5px;
	$badge-secondary-light-hover-padding-x: 10px;
	$badge-secondary-light-hover-padding-top: 4px;
	$badge-secondary-light-hover-padding-right: 10px;
	$badge-secondary-light-hover-padding-bottom: 5px;
	$badge-secondary-light-hover-padding-left: 10px;
	$badge-secondary-light-hover-padding-start: 10px;
	$badge-secondary-light-hover-padding-end: 10px;
	$badge-secondary-light-hover-spacing: 8px;
	$badge-secondary-light-hover-box-shadow: none;

// Badge, type: secondary, theme: light, state: default
	$badge-text-secondary-light-default-font-family: $typography-xs-strong-font-family;
	$badge-text-secondary-light-default-font-size: $typography-xs-strong-font-size;
	$badge-text-secondary-light-default-font-weight: $typography-xs-strong-font-weight;
	$badge-text-secondary-light-default-line-height: $typography-xs-strong-line-height;
	$badge-text-secondary-light-default-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-secondary-light-default-text-align: center;
	$badge-text-secondary-light-default-text-decoration: none;
	$badge-text-secondary-light-default-text-transform: none;
	$badge-text-secondary-light-default-color: $color-text-hard-invert;
	$badge-secondary-light-default-background: $color-secondary-purple;
	$badge-secondary-light-default-border-width: 1px;
	$badge-secondary-light-default-border-radius: 4px;
	$badge-secondary-light-default-border-color: $color--transparent;
	$badge-secondary-light-default-border-style: solid;
	$badge-secondary-light-default-padding-y: 4.5px;
	$badge-secondary-light-default-padding-x: 10px;
	$badge-secondary-light-default-padding-top: 4px;
	$badge-secondary-light-default-padding-right: 10px;
	$badge-secondary-light-default-padding-bottom: 5px;
	$badge-secondary-light-default-padding-left: 10px;
	$badge-secondary-light-default-padding-start: 10px;
	$badge-secondary-light-default-padding-end: 10px;
	$badge-secondary-light-default-spacing: 8px;
	$badge-secondary-light-default-box-shadow: none;

// Badge, type: primary, theme: dark, state: hover
	$badge-text-primary-dark-hover-font-family: $typography-xs-strong-font-family;
	$badge-text-primary-dark-hover-font-size: $typography-xs-strong-font-size;
	$badge-text-primary-dark-hover-font-weight: $typography-xs-strong-font-weight;
	$badge-text-primary-dark-hover-line-height: $typography-xs-strong-line-height;
	$badge-text-primary-dark-hover-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-primary-dark-hover-text-align: center;
	$badge-text-primary-dark-hover-text-decoration: none;
	$badge-text-primary-dark-hover-text-transform: none;
	$badge-text-primary-dark-hover-color: $color-text-hard-invert;
	$badge-primary-dark-hover-background: $color-primary-blue-lighter;
	$badge-primary-dark-hover-border-width: 1px;
	$badge-primary-dark-hover-border-radius: 4px;
	$badge-primary-dark-hover-border-color: $color--transparent;
	$badge-primary-dark-hover-border-style: solid;
	$badge-primary-dark-hover-padding-y: 4.5px;
	$badge-primary-dark-hover-padding-x: 10px;
	$badge-primary-dark-hover-padding-top: 4px;
	$badge-primary-dark-hover-padding-right: 10px;
	$badge-primary-dark-hover-padding-bottom: 5px;
	$badge-primary-dark-hover-padding-left: 10px;
	$badge-primary-dark-hover-padding-start: 10px;
	$badge-primary-dark-hover-padding-end: 10px;
	$badge-primary-dark-hover-spacing: 8px;
	$badge-primary-dark-hover-box-shadow: none;

// Badge, type: primary, theme: dark, state: default
	$badge-text-primary-dark-default-font-family: $typography-xs-strong-font-family;
	$badge-text-primary-dark-default-font-size: $typography-xs-strong-font-size;
	$badge-text-primary-dark-default-font-weight: $typography-xs-strong-font-weight;
	$badge-text-primary-dark-default-line-height: $typography-xs-strong-line-height;
	$badge-text-primary-dark-default-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-primary-dark-default-text-align: center;
	$badge-text-primary-dark-default-text-decoration: none;
	$badge-text-primary-dark-default-text-transform: none;
	$badge-text-primary-dark-default-color: $color-text-hard-invert;
	$badge-primary-dark-default-background: $color-primary-blue;
	$badge-primary-dark-default-border-width: 1px;
	$badge-primary-dark-default-border-radius: 4px;
	$badge-primary-dark-default-border-color: $color--transparent;
	$badge-primary-dark-default-border-style: solid;
	$badge-primary-dark-default-padding-y: 4.5px;
	$badge-primary-dark-default-padding-x: 10px;
	$badge-primary-dark-default-padding-top: 4px;
	$badge-primary-dark-default-padding-right: 10px;
	$badge-primary-dark-default-padding-bottom: 5px;
	$badge-primary-dark-default-padding-left: 10px;
	$badge-primary-dark-default-padding-start: 10px;
	$badge-primary-dark-default-padding-end: 10px;
	$badge-primary-dark-default-spacing: 8px;
	$badge-primary-dark-default-box-shadow: none;

// Badge, type: primary, theme: light, state: hover
	$badge-text-primary-light-hover-font-family: $typography-xs-strong-font-family;
	$badge-text-primary-light-hover-font-size: $typography-xs-strong-font-size;
	$badge-text-primary-light-hover-font-weight: $typography-xs-strong-font-weight;
	$badge-text-primary-light-hover-line-height: $typography-xs-strong-line-height;
	$badge-text-primary-light-hover-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-primary-light-hover-text-align: center;
	$badge-text-primary-light-hover-text-decoration: none;
	$badge-text-primary-light-hover-text-transform: none;
	$badge-text-primary-light-hover-color: $color-text-hard-invert;
	$badge-primary-light-hover-background: $color-primary-blue-darker;
	$badge-primary-light-hover-border-width: 1px;
	$badge-primary-light-hover-border-radius: 4px;
	$badge-primary-light-hover-border-color: $color--transparent;
	$badge-primary-light-hover-border-style: solid;
	$badge-primary-light-hover-padding-y: 4.5px;
	$badge-primary-light-hover-padding-x: 10px;
	$badge-primary-light-hover-padding-top: 4px;
	$badge-primary-light-hover-padding-right: 10px;
	$badge-primary-light-hover-padding-bottom: 5px;
	$badge-primary-light-hover-padding-left: 10px;
	$badge-primary-light-hover-padding-start: 10px;
	$badge-primary-light-hover-padding-end: 10px;
	$badge-primary-light-hover-spacing: 8px;
	$badge-primary-light-hover-box-shadow: none;

// Badge, type: primary, theme: light, state: default
	$badge-text-primary-light-default-font-family: $typography-xs-strong-font-family;
	$badge-text-primary-light-default-font-size: $typography-xs-strong-font-size;
	$badge-text-primary-light-default-font-weight: $typography-xs-strong-font-weight;
	$badge-text-primary-light-default-line-height: $typography-xs-strong-line-height;
	$badge-text-primary-light-default-letter-spacing: $typography-xs-strong-letter-spacing;
	$badge-text-primary-light-default-text-align: center;
	$badge-text-primary-light-default-text-decoration: none;
	$badge-text-primary-light-default-text-transform: none;
	$badge-text-primary-light-default-color: $color-text-hard-invert;
	$badge-primary-light-default-background: $color-primary-blue;
	$badge-primary-light-default-border-width: 1px;
	$badge-primary-light-default-border-radius: 4px;
	$badge-primary-light-default-border-color: $color--transparent;
	$badge-primary-light-default-border-style: solid;
	$badge-primary-light-default-padding-y: 4.5px;
	$badge-primary-light-default-padding-x: 10px;
	$badge-primary-light-default-padding-top: 4px;
	$badge-primary-light-default-padding-right: 10px;
	$badge-primary-light-default-padding-bottom: 5px;
	$badge-primary-light-default-padding-left: 10px;
	$badge-primary-light-default-padding-start: 10px;
	$badge-primary-light-default-padding-end: 10px;
	$badge-primary-light-default-spacing: 8px;
	$badge-primary-light-default-box-shadow: $effect-shadow-base-100;