// Input, state: disabled, theme: dark
	$input-additional-info-dark-disabled-padding-y: 0px;
	$input-additional-info-dark-disabled-padding-x: 0px;
	$input-additional-info-dark-disabled-padding-top: 0px;
	$input-additional-info-dark-disabled-padding-right: 0px;
	$input-additional-info-dark-disabled-padding-bottom: 0px;
	$input-additional-info-dark-disabled-padding-left: 0px;
	$input-additional-info-dark-disabled-padding-start: 0px;
	$input-additional-info-dark-disabled-padding-end: 0px;
	$input-additional-info-dark-disabled-spacing: 0px;
	$input-additional-info-dark-disabled-font-family: 'Inter';
	$input-additional-info-dark-disabled-font-size: 12px;
	$input-additional-info-dark-disabled-font-weight: 400;
	$input-additional-info-dark-disabled-line-height: 1.6;
	$input-additional-info-dark-disabled-letter-spacing: -.24px;
	$input-additional-info-dark-disabled-text-align: left;
	$input-additional-info-dark-disabled-text-decoration: none;
	$input-additional-info-dark-disabled-text-transform: none;
	$input-additional-info-dark-disabled-color: rgba(255, 255, 255, .45);
	$input-icon-dark-disabled-border-width: 2px;
	$input-icon-dark-disabled-border-radius: 0px;
	$input-icon-dark-disabled-border-color: #000000;
	$input-icon-dark-disabled-border-style: solid;
	$input-text-dark-disabled-font-family: 'Inter';
	$input-text-dark-disabled-font-size: 14px;
	$input-text-dark-disabled-font-weight: 400;
	$input-text-dark-disabled-line-height: 1.429;
	$input-text-dark-disabled-letter-spacing: -.28px;
	$input-text-dark-disabled-text-align: left;
	$input-text-dark-disabled-text-decoration: none;
	$input-text-dark-disabled-text-transform: none;
	$input-text-dark-disabled-color: #555555;
	$input-label-dark-disabled-padding-y: 0px;
	$input-label-dark-disabled-padding-x: 0px;
	$input-label-dark-disabled-padding-top: 0px;
	$input-label-dark-disabled-padding-right: 0px;
	$input-label-dark-disabled-padding-bottom: 0px;
	$input-label-dark-disabled-padding-left: 0px;
	$input-label-dark-disabled-padding-start: 0px;
	$input-label-dark-disabled-padding-end: 0px;
	$input-label-dark-disabled-spacing: 0px;
	$input-label-dark-disabled-font-family: 'Inter';
	$input-label-dark-disabled-font-size: 12px;
	$input-label-dark-disabled-font-weight: 400;
	$input-label-dark-disabled-line-height: 1.6;
	$input-label-dark-disabled-letter-spacing: -.24px;
	$input-label-dark-disabled-text-align: left;
	$input-label-dark-disabled-text-decoration: none;
	$input-label-dark-disabled-text-transform: none;
	$input-label-dark-disabled-color: rgba(255, 255, 255, .45);
	$input-dark-disabled-background: #cccccc;
	$input-dark-disabled-border-width: 1px;
	$input-dark-disabled-border-radius: 4px;
	$input-dark-disabled-border-color: transparent;
	$input-dark-disabled-border-style: solid;
	$input-dark-disabled-padding-y: 12px;
	$input-dark-disabled-padding-x: 18px;
	$input-dark-disabled-padding-top: 12px;
	$input-dark-disabled-padding-right: 18px;
	$input-dark-disabled-padding-bottom: 12px;
	$input-dark-disabled-padding-left: 18px;
	$input-dark-disabled-padding-start: 18px;
	$input-dark-disabled-padding-end: 18px;
	$input-dark-disabled-spacing: 14px;
	$input-dark-disabled-box-shadow: none;
	$input-dark-disabled-font-family: 'Inter';
	$input-dark-disabled-font-size: 14px;
	$input-dark-disabled-font-weight: 400;
	$input-dark-disabled-line-height: 1.429;
	$input-dark-disabled-letter-spacing: -.28px;
	$input-dark-disabled-text-align: left;
	$input-dark-disabled-text-decoration: none;
	$input-dark-disabled-text-transform: none;
	$input-dark-disabled-color: #555555;

// Input, state: error, theme: dark
	$input-additional-info-dark-error-padding-y: 0px;
	$input-additional-info-dark-error-padding-x: 0px;
	$input-additional-info-dark-error-padding-top: 0px;
	$input-additional-info-dark-error-padding-right: 0px;
	$input-additional-info-dark-error-padding-bottom: 0px;
	$input-additional-info-dark-error-padding-left: 0px;
	$input-additional-info-dark-error-padding-start: 0px;
	$input-additional-info-dark-error-padding-end: 0px;
	$input-additional-info-dark-error-spacing: 0px;
	$input-additional-info-dark-error-font-family: 'Inter';
	$input-additional-info-dark-error-font-size: 12px;
	$input-additional-info-dark-error-font-weight: 400;
	$input-additional-info-dark-error-line-height: 1.6;
	$input-additional-info-dark-error-letter-spacing: -.24px;
	$input-additional-info-dark-error-text-align: left;
	$input-additional-info-dark-error-text-decoration: none;
	$input-additional-info-dark-error-text-transform: none;
	$input-additional-info-dark-error-color: #f35d6c;
	$input-icon-dark-error-border-width: 2px;
	$input-icon-dark-error-border-radius: 0px;
	$input-icon-dark-error-border-color: #000000;
	$input-icon-dark-error-border-style: solid;
	$input-text-dark-error-font-family: 'Inter';
	$input-text-dark-error-font-size: 14px;
	$input-text-dark-error-font-weight: 400;
	$input-text-dark-error-line-height: 1.429;
	$input-text-dark-error-letter-spacing: -.28px;
	$input-text-dark-error-text-align: left;
	$input-text-dark-error-text-decoration: none;
	$input-text-dark-error-text-transform: none;
	$input-text-dark-error-color: #555555;
	$input-label-dark-error-padding-y: 0px;
	$input-label-dark-error-padding-x: 0px;
	$input-label-dark-error-padding-top: 0px;
	$input-label-dark-error-padding-right: 0px;
	$input-label-dark-error-padding-bottom: 0px;
	$input-label-dark-error-padding-left: 0px;
	$input-label-dark-error-padding-start: 0px;
	$input-label-dark-error-padding-end: 0px;
	$input-label-dark-error-spacing: 0px;
	$input-label-dark-error-font-family: 'Inter';
	$input-label-dark-error-font-size: 12px;
	$input-label-dark-error-font-weight: 400;
	$input-label-dark-error-line-height: 1.6;
	$input-label-dark-error-letter-spacing: -.24px;
	$input-label-dark-error-text-align: left;
	$input-label-dark-error-text-decoration: none;
	$input-label-dark-error-text-transform: none;
	$input-label-dark-error-color: rgba(255, 255, 255, .65);
	$input-dark-error-background: #f8f8f8;
	$input-dark-error-border-width: 1px;
	$input-dark-error-border-radius: 4px;
	$input-dark-error-border-color: #f35d6c;
	$input-dark-error-border-style: solid;
	$input-dark-error-padding-y: 12px;
	$input-dark-error-padding-x: 18px;
	$input-dark-error-padding-top: 12px;
	$input-dark-error-padding-right: 18px;
	$input-dark-error-padding-bottom: 12px;
	$input-dark-error-padding-left: 18px;
	$input-dark-error-padding-start: 18px;
	$input-dark-error-padding-end: 18px;
	$input-dark-error-spacing: 14px;
	$input-dark-error-box-shadow: none;
	$input-dark-error-font-family: 'Inter';
	$input-dark-error-font-size: 14px;
	$input-dark-error-font-weight: 400;
	$input-dark-error-line-height: 1.429;
	$input-dark-error-letter-spacing: -.28px;
	$input-dark-error-text-align: left;
	$input-dark-error-text-decoration: none;
	$input-dark-error-text-transform: none;
	$input-dark-error-color: #555555;

// Input, state: complete, theme: dark
	$input-additional-info-dark-complete-padding-y: 0px;
	$input-additional-info-dark-complete-padding-x: 0px;
	$input-additional-info-dark-complete-padding-top: 0px;
	$input-additional-info-dark-complete-padding-right: 0px;
	$input-additional-info-dark-complete-padding-bottom: 0px;
	$input-additional-info-dark-complete-padding-left: 0px;
	$input-additional-info-dark-complete-padding-start: 0px;
	$input-additional-info-dark-complete-padding-end: 0px;
	$input-additional-info-dark-complete-spacing: 0px;
	$input-additional-info-dark-complete-font-family: 'Inter';
	$input-additional-info-dark-complete-font-size: 12px;
	$input-additional-info-dark-complete-font-weight: 400;
	$input-additional-info-dark-complete-line-height: 1.6;
	$input-additional-info-dark-complete-letter-spacing: -.24px;
	$input-additional-info-dark-complete-text-align: left;
	$input-additional-info-dark-complete-text-decoration: none;
	$input-additional-info-dark-complete-text-transform: none;
	$input-additional-info-dark-complete-color: rgba(255, 255, 255, .65);
	$input-icon-dark-complete-border-width: 2px;
	$input-icon-dark-complete-border-radius: 0px;
	$input-icon-dark-complete-border-color: #000000;
	$input-icon-dark-complete-border-style: solid;
	$input-text-dark-complete-font-family: 'Inter';
	$input-text-dark-complete-font-size: 14px;
	$input-text-dark-complete-font-weight: 600;
	$input-text-dark-complete-line-height: 1.429;
	$input-text-dark-complete-letter-spacing: -.28px;
	$input-text-dark-complete-text-align: left;
	$input-text-dark-complete-text-decoration: none;
	$input-text-dark-complete-text-transform: none;
	$input-text-dark-complete-color: rgba(0, 0, 0, .8);
	$input-label-dark-complete-padding-y: 0px;
	$input-label-dark-complete-padding-x: 0px;
	$input-label-dark-complete-padding-top: 0px;
	$input-label-dark-complete-padding-right: 0px;
	$input-label-dark-complete-padding-bottom: 0px;
	$input-label-dark-complete-padding-left: 0px;
	$input-label-dark-complete-padding-start: 0px;
	$input-label-dark-complete-padding-end: 0px;
	$input-label-dark-complete-spacing: 0px;
	$input-label-dark-complete-font-family: 'Inter';
	$input-label-dark-complete-font-size: 12px;
	$input-label-dark-complete-font-weight: 400;
	$input-label-dark-complete-line-height: 1.6;
	$input-label-dark-complete-letter-spacing: -.24px;
	$input-label-dark-complete-text-align: left;
	$input-label-dark-complete-text-decoration: none;
	$input-label-dark-complete-text-transform: none;
	$input-label-dark-complete-color: rgba(255, 255, 255, .65);
	$input-dark-complete-background: #f8f8f8;
	$input-dark-complete-border-width: 1px;
	$input-dark-complete-border-radius: 4px;
	$input-dark-complete-border-color: rgba(0, 0, 0, 0);
	$input-dark-complete-border-style: solid;
	$input-dark-complete-padding-y: 12px;
	$input-dark-complete-padding-x: 18px;
	$input-dark-complete-padding-top: 12px;
	$input-dark-complete-padding-right: 18px;
	$input-dark-complete-padding-bottom: 12px;
	$input-dark-complete-padding-left: 18px;
	$input-dark-complete-padding-start: 18px;
	$input-dark-complete-padding-end: 18px;
	$input-dark-complete-spacing: 14px;
	$input-dark-complete-box-shadow: none;
	$input-dark-complete-font-family: 'Inter';
	$input-dark-complete-font-size: 14px;
	$input-dark-complete-font-weight: 600;
	$input-dark-complete-line-height: 1.429;
	$input-dark-complete-letter-spacing: -.28px;
	$input-dark-complete-text-align: left;
	$input-dark-complete-text-decoration: none;
	$input-dark-complete-text-transform: none;
	$input-dark-complete-color: rgba(0, 0, 0, .8);

// Input, state: active, theme: dark
	$input-additional-info-dark-active-padding-y: 0px;
	$input-additional-info-dark-active-padding-x: 0px;
	$input-additional-info-dark-active-padding-top: 0px;
	$input-additional-info-dark-active-padding-right: 0px;
	$input-additional-info-dark-active-padding-bottom: 0px;
	$input-additional-info-dark-active-padding-left: 0px;
	$input-additional-info-dark-active-padding-start: 0px;
	$input-additional-info-dark-active-padding-end: 0px;
	$input-additional-info-dark-active-spacing: 0px;
	$input-additional-info-dark-active-font-family: 'Inter';
	$input-additional-info-dark-active-font-size: 12px;
	$input-additional-info-dark-active-font-weight: 400;
	$input-additional-info-dark-active-line-height: 1.6;
	$input-additional-info-dark-active-letter-spacing: -.24px;
	$input-additional-info-dark-active-text-align: left;
	$input-additional-info-dark-active-text-decoration: none;
	$input-additional-info-dark-active-text-transform: none;
	$input-additional-info-dark-active-color: rgba(255, 255, 255, .65);
	$input-icon-dark-active-border-width: 2px;
	$input-icon-dark-active-border-radius: 0px;
	$input-icon-dark-active-border-color: #000000;
	$input-icon-dark-active-border-style: solid;
	$input-text-dark-active-font-family: 'Inter';
	$input-text-dark-active-font-size: 14px;
	$input-text-dark-active-font-weight: 600;
	$input-text-dark-active-line-height: 1.429;
	$input-text-dark-active-letter-spacing: -.28px;
	$input-text-dark-active-text-align: left;
	$input-text-dark-active-text-decoration: none;
	$input-text-dark-active-text-transform: none;
	$input-text-dark-active-color: rgba(0, 0, 0, .8);
	$input-label-dark-active-padding-y: 0px;
	$input-label-dark-active-padding-x: 0px;
	$input-label-dark-active-padding-top: 0px;
	$input-label-dark-active-padding-right: 0px;
	$input-label-dark-active-padding-bottom: 0px;
	$input-label-dark-active-padding-left: 0px;
	$input-label-dark-active-padding-start: 0px;
	$input-label-dark-active-padding-end: 0px;
	$input-label-dark-active-spacing: 0px;
	$input-label-dark-active-font-family: 'Inter';
	$input-label-dark-active-font-size: 12px;
	$input-label-dark-active-font-weight: 400;
	$input-label-dark-active-line-height: 1.6;
	$input-label-dark-active-letter-spacing: -.24px;
	$input-label-dark-active-text-align: left;
	$input-label-dark-active-text-decoration: none;
	$input-label-dark-active-text-transform: none;
	$input-label-dark-active-color: rgba(255, 255, 255, .85);
	$input-dark-active-background: #ffffff;
	$input-dark-active-border-width: 1px;
	$input-dark-active-border-radius: 4px;
	$input-dark-active-border-color: rgba(0, 0, 0, 0);
	$input-dark-active-border-style: solid;
	$input-dark-active-padding-y: 12px;
	$input-dark-active-padding-x: 18px;
	$input-dark-active-padding-top: 12px;
	$input-dark-active-padding-right: 18px;
	$input-dark-active-padding-bottom: 12px;
	$input-dark-active-padding-left: 18px;
	$input-dark-active-padding-start: 18px;
	$input-dark-active-padding-end: 18px;
	$input-dark-active-spacing: 14px;
	$input-dark-active-box-shadow: none;
	$input-dark-active-font-family: 'Inter';
	$input-dark-active-font-size: 14px;
	$input-dark-active-font-weight: 600;
	$input-dark-active-line-height: 1.429;
	$input-dark-active-letter-spacing: -.28px;
	$input-dark-active-text-align: left;
	$input-dark-active-text-decoration: none;
	$input-dark-active-text-transform: none;
	$input-dark-active-color: rgba(0, 0, 0, .8);

// Input, state: hover, theme: dark
	$input-additional-info-dark-hover-padding-y: 0px;
	$input-additional-info-dark-hover-padding-x: 0px;
	$input-additional-info-dark-hover-padding-top: 0px;
	$input-additional-info-dark-hover-padding-right: 0px;
	$input-additional-info-dark-hover-padding-bottom: 0px;
	$input-additional-info-dark-hover-padding-left: 0px;
	$input-additional-info-dark-hover-padding-start: 0px;
	$input-additional-info-dark-hover-padding-end: 0px;
	$input-additional-info-dark-hover-spacing: 0px;
	$input-additional-info-dark-hover-font-family: 'Inter';
	$input-additional-info-dark-hover-font-size: 12px;
	$input-additional-info-dark-hover-font-weight: 400;
	$input-additional-info-dark-hover-line-height: 1.6;
	$input-additional-info-dark-hover-letter-spacing: -.24px;
	$input-additional-info-dark-hover-text-align: left;
	$input-additional-info-dark-hover-text-decoration: none;
	$input-additional-info-dark-hover-text-transform: none;
	$input-additional-info-dark-hover-color: rgba(255, 255, 255, .65);
	$input-icon-dark-hover-border-width: 2px;
	$input-icon-dark-hover-border-radius: 0px;
	$input-icon-dark-hover-border-color: #000000;
	$input-icon-dark-hover-border-style: solid;
	$input-text-dark-hover-font-family: 'Inter';
	$input-text-dark-hover-font-size: 14px;
	$input-text-dark-hover-font-weight: 400;
	$input-text-dark-hover-line-height: 1.429;
	$input-text-dark-hover-letter-spacing: -.28px;
	$input-text-dark-hover-text-align: left;
	$input-text-dark-hover-text-decoration: none;
	$input-text-dark-hover-text-transform: none;
	$input-text-dark-hover-color: #555555;
	$input-label-dark-hover-padding-y: 0px;
	$input-label-dark-hover-padding-x: 0px;
	$input-label-dark-hover-padding-top: 0px;
	$input-label-dark-hover-padding-right: 0px;
	$input-label-dark-hover-padding-bottom: 0px;
	$input-label-dark-hover-padding-left: 0px;
	$input-label-dark-hover-padding-start: 0px;
	$input-label-dark-hover-padding-end: 0px;
	$input-label-dark-hover-spacing: 0px;
	$input-label-dark-hover-font-family: 'Inter';
	$input-label-dark-hover-font-size: 12px;
	$input-label-dark-hover-font-weight: 400;
	$input-label-dark-hover-line-height: 1.6;
	$input-label-dark-hover-letter-spacing: -.24px;
	$input-label-dark-hover-text-align: left;
	$input-label-dark-hover-text-decoration: none;
	$input-label-dark-hover-text-transform: none;
	$input-label-dark-hover-color: rgba(255, 255, 255, .65);
	$input-dark-hover-background: #ffffff;
	$input-dark-hover-border-width: 1px;
	$input-dark-hover-border-radius: 4px;
	$input-dark-hover-border-color: rgba(0, 0, 0, 0);
	$input-dark-hover-border-style: solid;
	$input-dark-hover-padding-y: 12px;
	$input-dark-hover-padding-x: 18px;
	$input-dark-hover-padding-top: 12px;
	$input-dark-hover-padding-right: 18px;
	$input-dark-hover-padding-bottom: 12px;
	$input-dark-hover-padding-left: 18px;
	$input-dark-hover-padding-start: 18px;
	$input-dark-hover-padding-end: 18px;
	$input-dark-hover-spacing: 14px;
	$input-dark-hover-box-shadow: none;
	$input-dark-hover-font-family: 'Inter';
	$input-dark-hover-font-size: 14px;
	$input-dark-hover-font-weight: 400;
	$input-dark-hover-line-height: 1.429;
	$input-dark-hover-letter-spacing: -.28px;
	$input-dark-hover-text-align: left;
	$input-dark-hover-text-decoration: none;
	$input-dark-hover-text-transform: none;
	$input-dark-hover-color: #555555;

// Input, state: default, theme: dark
	$input-additional-info-dark-padding-y: 0px;
	$input-additional-info-dark-padding-x: 0px;
	$input-additional-info-dark-padding-top: 0px;
	$input-additional-info-dark-padding-right: 0px;
	$input-additional-info-dark-padding-bottom: 0px;
	$input-additional-info-dark-padding-left: 0px;
	$input-additional-info-dark-padding-start: 0px;
	$input-additional-info-dark-padding-end: 0px;
	$input-additional-info-dark-spacing: 0px;
	$input-additional-info-dark-font-family: 'Inter';
	$input-additional-info-dark-font-size: 12px;
	$input-additional-info-dark-font-weight: 400;
	$input-additional-info-dark-line-height: 1.6;
	$input-additional-info-dark-letter-spacing: -.24px;
	$input-additional-info-dark-text-align: left;
	$input-additional-info-dark-text-decoration: none;
	$input-additional-info-dark-text-transform: none;
	$input-additional-info-dark-color: rgba(255, 255, 255, .65);
	$input-icon-dark-border-width: 2px;
	$input-icon-dark-border-radius: 0px;
	$input-icon-dark-border-color: #000000;
	$input-icon-dark-border-style: solid;
	$input-text-dark-font-family: 'Inter';
	$input-text-dark-font-size: 14px;
	$input-text-dark-font-weight: 400;
	$input-text-dark-line-height: 1.429;
	$input-text-dark-letter-spacing: -.28px;
	$input-text-dark-text-align: left;
	$input-text-dark-text-decoration: none;
	$input-text-dark-text-transform: none;
	$input-text-dark-color: #555555;
	$input-label-dark-padding-y: 0px;
	$input-label-dark-padding-x: 0px;
	$input-label-dark-padding-top: 0px;
	$input-label-dark-padding-right: 0px;
	$input-label-dark-padding-bottom: 0px;
	$input-label-dark-padding-left: 0px;
	$input-label-dark-padding-start: 0px;
	$input-label-dark-padding-end: 0px;
	$input-label-dark-spacing: 0px;
	$input-label-dark-font-family: 'Inter';
	$input-label-dark-font-size: 12px;
	$input-label-dark-font-weight: 400;
	$input-label-dark-line-height: 1.6;
	$input-label-dark-letter-spacing: -.24px;
	$input-label-dark-text-align: left;
	$input-label-dark-text-decoration: none;
	$input-label-dark-text-transform: none;
	$input-label-dark-color: rgba(255, 255, 255, .65);
	$input-dark-background: #f8f8f8;
	$input-dark-border-width: 1px;
	$input-dark-border-radius: 4px;
	$input-dark-border-color: rgba(0, 0, 0, 0);
	$input-dark-border-style: solid;
	$input-dark-padding-y: 12px;
	$input-dark-padding-x: 18px;
	$input-dark-padding-top: 12px;
	$input-dark-padding-right: 18px;
	$input-dark-padding-bottom: 12px;
	$input-dark-padding-left: 18px;
	$input-dark-padding-start: 18px;
	$input-dark-padding-end: 18px;
	$input-dark-spacing: 14px;
	$input-dark-box-shadow: none;
	$input-dark-font-family: 'Inter';
	$input-dark-font-size: 14px;
	$input-dark-font-weight: 400;
	$input-dark-line-height: 1.429;
	$input-dark-letter-spacing: -.28px;
	$input-dark-text-align: left;
	$input-dark-text-decoration: none;
	$input-dark-text-transform: none;
	$input-dark-color: #555555;

// Input, state: disabled, theme: light
	$input-additional-info-disabled-padding-y: 0px;
	$input-additional-info-disabled-padding-x: 0px;
	$input-additional-info-disabled-padding-top: 0px;
	$input-additional-info-disabled-padding-right: 0px;
	$input-additional-info-disabled-padding-bottom: 0px;
	$input-additional-info-disabled-padding-left: 0px;
	$input-additional-info-disabled-padding-start: 0px;
	$input-additional-info-disabled-padding-end: 0px;
	$input-additional-info-disabled-spacing: 0px;
	$input-additional-info-disabled-font-family: 'Inter';
	$input-additional-info-disabled-font-size: 12px;
	$input-additional-info-disabled-font-weight: 400;
	$input-additional-info-disabled-line-height: 1.6;
	$input-additional-info-disabled-letter-spacing: -.24px;
	$input-additional-info-disabled-text-align: left;
	$input-additional-info-disabled-text-decoration: none;
	$input-additional-info-disabled-text-transform: none;
	$input-additional-info-disabled-color: rgba(85, 85, 85, .8);
	$input-icon-disabled-border-width: 2px;
	$input-icon-disabled-border-radius: 0px;
	$input-icon-disabled-border-color: #000000;
	$input-icon-disabled-border-style: solid;
	$input-text-disabled-font-family: 'Inter';
	$input-text-disabled-font-size: 14px;
	$input-text-disabled-font-weight: 400;
	$input-text-disabled-line-height: 1.429;
	$input-text-disabled-letter-spacing: -.28px;
	$input-text-disabled-text-align: left;
	$input-text-disabled-text-decoration: none;
	$input-text-disabled-text-transform: none;
	$input-text-disabled-color: rgba(85, 85, 85, .8);
	$input-label-disabled-padding-y: 0px;
	$input-label-disabled-padding-x: 0px;
	$input-label-disabled-padding-top: 0px;
	$input-label-disabled-padding-right: 0px;
	$input-label-disabled-padding-bottom: 0px;
	$input-label-disabled-padding-left: 0px;
	$input-label-disabled-padding-start: 0px;
	$input-label-disabled-padding-end: 0px;
	$input-label-disabled-spacing: 0px;
	$input-label-disabled-font-family: 'Inter';
	$input-label-disabled-font-size: 12px;
	$input-label-disabled-font-weight: 400;
	$input-label-disabled-line-height: 1.6;
	$input-label-disabled-letter-spacing: -.24px;
	$input-label-disabled-text-align: left;
	$input-label-disabled-text-decoration: none;
	$input-label-disabled-text-transform: none;
	$input-label-disabled-color: rgba(85, 85, 85, .8);
	$input-disabled-background: #f8f8f8;
	$input-disabled-border-width: 1px;
	$input-disabled-border-radius: 4px;
	$input-disabled-border-color: rgba(0, 0, 0, 0);
	$input-disabled-border-style: solid;
	$input-disabled-padding-y: 12px;
	$input-disabled-padding-x: 18px;
	$input-disabled-padding-top: 12px;
	$input-disabled-padding-right: 18px;
	$input-disabled-padding-bottom: 12px;
	$input-disabled-padding-left: 18px;
	$input-disabled-padding-start: 18px;
	$input-disabled-padding-end: 18px;
	$input-disabled-spacing: 14px;
	$input-disabled-box-shadow: none;
	$input-disabled-font-family: 'Inter';
	$input-disabled-font-size: 14px;
	$input-disabled-font-weight: 400;
	$input-disabled-line-height: 1.429;
	$input-disabled-letter-spacing: -.28px;
	$input-disabled-text-align: left;
	$input-disabled-text-decoration: none;
	$input-disabled-text-transform: none;
	$input-disabled-color: rgba(85, 85, 85, .8);

// Input, state: error, theme: light
	$input-additional-info-error-padding-y: 0px;
	$input-additional-info-error-padding-x: 0px;
	$input-additional-info-error-padding-top: 0px;
	$input-additional-info-error-padding-right: 0px;
	$input-additional-info-error-padding-bottom: 0px;
	$input-additional-info-error-padding-left: 0px;
	$input-additional-info-error-padding-start: 0px;
	$input-additional-info-error-padding-end: 0px;
	$input-additional-info-error-spacing: 0px;
	$input-additional-info-error-font-family: 'Inter';
	$input-additional-info-error-font-size: 12px;
	$input-additional-info-error-font-weight: 400;
	$input-additional-info-error-line-height: 1.6;
	$input-additional-info-error-letter-spacing: -.24px;
	$input-additional-info-error-text-align: left;
	$input-additional-info-error-text-decoration: none;
	$input-additional-info-error-text-transform: none;
	$input-additional-info-error-color: #dc3545;
	$input-icon-error-border-width: 2px;
	$input-icon-error-border-radius: 0px;
	$input-icon-error-border-color: #000000;
	$input-icon-error-border-style: solid;
	$input-text-error-font-family: 'Inter';
	$input-text-error-font-size: 14px;
	$input-text-error-font-weight: 400;
	$input-text-error-line-height: 1.429;
	$input-text-error-letter-spacing: -.28px;
	$input-text-error-text-align: left;
	$input-text-error-text-decoration: none;
	$input-text-error-text-transform: none;
	$input-text-error-color: #555555;
	$input-label-error-padding-y: 0px;
	$input-label-error-padding-x: 0px;
	$input-label-error-padding-top: 0px;
	$input-label-error-padding-right: 0px;
	$input-label-error-padding-bottom: 0px;
	$input-label-error-padding-left: 0px;
	$input-label-error-padding-start: 0px;
	$input-label-error-padding-end: 0px;
	$input-label-error-spacing: 0px;
	$input-label-error-font-family: 'Inter';
	$input-label-error-font-size: 12px;
	$input-label-error-font-weight: 400;
	$input-label-error-line-height: 1.6;
	$input-label-error-letter-spacing: -.24px;
	$input-label-error-text-align: left;
	$input-label-error-text-decoration: none;
	$input-label-error-text-transform: none;
	$input-label-error-color: #555555;
	$input-error-background: #ffffff;
	$input-error-border-width: 1px;
	$input-error-border-radius: 4px;
	$input-error-border-color: #dc3545;
	$input-error-border-style: solid;
	$input-error-padding-y: 12px;
	$input-error-padding-x: 18px;
	$input-error-padding-top: 12px;
	$input-error-padding-right: 18px;
	$input-error-padding-bottom: 12px;
	$input-error-padding-left: 18px;
	$input-error-padding-start: 18px;
	$input-error-padding-end: 18px;
	$input-error-spacing: 14px;
	$input-error-box-shadow: none;
	$input-error-font-family: 'Inter';
	$input-error-font-size: 14px;
	$input-error-font-weight: 400;
	$input-error-line-height: 1.429;
	$input-error-letter-spacing: -.28px;
	$input-error-text-align: left;
	$input-error-text-decoration: none;
	$input-error-text-transform: none;
	$input-error-color: #555555;

// Input, state: complete, theme: light
	$input-additional-info-complete-padding-y: 0px;
	$input-additional-info-complete-padding-x: 0px;
	$input-additional-info-complete-padding-top: 0px;
	$input-additional-info-complete-padding-right: 0px;
	$input-additional-info-complete-padding-bottom: 0px;
	$input-additional-info-complete-padding-left: 0px;
	$input-additional-info-complete-padding-start: 0px;
	$input-additional-info-complete-padding-end: 0px;
	$input-additional-info-complete-spacing: 0px;
	$input-additional-info-complete-font-family: 'Inter';
	$input-additional-info-complete-font-size: 12px;
	$input-additional-info-complete-font-weight: 400;
	$input-additional-info-complete-line-height: 1.6;
	$input-additional-info-complete-letter-spacing: -.24px;
	$input-additional-info-complete-text-align: left;
	$input-additional-info-complete-text-decoration: none;
	$input-additional-info-complete-text-transform: none;
	$input-additional-info-complete-color: rgba(85, 85, 85, .8);
	$input-icon-complete-border-width: 2px;
	$input-icon-complete-border-radius: 0px;
	$input-icon-complete-border-color: #000000;
	$input-icon-complete-border-style: solid;
	$input-text-complete-font-family: 'Inter';
	$input-text-complete-font-size: 14px;
	$input-text-complete-font-weight: 600;
	$input-text-complete-line-height: 1.429;
	$input-text-complete-letter-spacing: -.28px;
	$input-text-complete-text-align: left;
	$input-text-complete-text-decoration: none;
	$input-text-complete-text-transform: none;
	$input-text-complete-color: rgba(0, 0, 0, .8);
	$input-label-complete-padding-y: 0px;
	$input-label-complete-padding-x: 0px;
	$input-label-complete-padding-top: 0px;
	$input-label-complete-padding-right: 0px;
	$input-label-complete-padding-bottom: 0px;
	$input-label-complete-padding-left: 0px;
	$input-label-complete-padding-start: 0px;
	$input-label-complete-padding-end: 0px;
	$input-label-complete-spacing: 0px;
	$input-label-complete-font-family: 'Inter';
	$input-label-complete-font-size: 12px;
	$input-label-complete-font-weight: 400;
	$input-label-complete-line-height: 1.6;
	$input-label-complete-letter-spacing: -.24px;
	$input-label-complete-text-align: left;
	$input-label-complete-text-decoration: none;
	$input-label-complete-text-transform: none;
	$input-label-complete-color: #555555;
	$input-complete-background: #ffffff;
	$input-complete-border-width: 1px;
	$input-complete-border-radius: 4px;
	$input-complete-border-color: rgba(0, 0, 0, .3);
	$input-complete-border-style: solid;
	$input-complete-padding-y: 12px;
	$input-complete-padding-x: 18px;
	$input-complete-padding-top: 12px;
	$input-complete-padding-right: 18px;
	$input-complete-padding-bottom: 12px;
	$input-complete-padding-left: 18px;
	$input-complete-padding-start: 18px;
	$input-complete-padding-end: 18px;
	$input-complete-spacing: 14px;
	$input-complete-box-shadow: none;
	$input-complete-font-family: 'Inter';
	$input-complete-font-size: 14px;
	$input-complete-font-weight: 600;
	$input-complete-line-height: 1.429;
	$input-complete-letter-spacing: -.28px;
	$input-complete-text-align: left;
	$input-complete-text-decoration: none;
	$input-complete-text-transform: none;
	$input-complete-color: rgba(0, 0, 0, .8);

// Input, state: active, theme: light
	$input-additional-info-active-padding-y: 0px;
	$input-additional-info-active-padding-x: 0px;
	$input-additional-info-active-padding-top: 0px;
	$input-additional-info-active-padding-right: 0px;
	$input-additional-info-active-padding-bottom: 0px;
	$input-additional-info-active-padding-left: 0px;
	$input-additional-info-active-padding-start: 0px;
	$input-additional-info-active-padding-end: 0px;
	$input-additional-info-active-spacing: 0px;
	$input-additional-info-active-font-family: 'Inter';
	$input-additional-info-active-font-size: 12px;
	$input-additional-info-active-font-weight: 400;
	$input-additional-info-active-line-height: 1.6;
	$input-additional-info-active-letter-spacing: -.24px;
	$input-additional-info-active-text-align: left;
	$input-additional-info-active-text-decoration: none;
	$input-additional-info-active-text-transform: none;
	$input-additional-info-active-color: rgba(85, 85, 85, .8);
	$input-icon-active-border-width: 2px;
	$input-icon-active-border-radius: 0px;
	$input-icon-active-border-color: #000000;
	$input-icon-active-border-style: solid;
	$input-text-active-font-family: 'Inter';
	$input-text-active-font-size: 14px;
	$input-text-active-font-weight: 600;
	$input-text-active-line-height: 1.429;
	$input-text-active-letter-spacing: -.28px;
	$input-text-active-text-align: left;
	$input-text-active-text-decoration: none;
	$input-text-active-text-transform: none;
	$input-text-active-color: rgba(0, 0, 0, .8);
	$input-label-active-padding-y: 0px;
	$input-label-active-padding-x: 0px;
	$input-label-active-padding-top: 0px;
	$input-label-active-padding-right: 0px;
	$input-label-active-padding-bottom: 0px;
	$input-label-active-padding-left: 0px;
	$input-label-active-padding-start: 0px;
	$input-label-active-padding-end: 0px;
	$input-label-active-spacing: 0px;
	$input-label-active-font-family: 'Inter';
	$input-label-active-font-size: 12px;
	$input-label-active-font-weight: 400;
	$input-label-active-line-height: 1.6;
	$input-label-active-letter-spacing: -.24px;
	$input-label-active-text-align: left;
	$input-label-active-text-decoration: none;
	$input-label-active-text-transform: none;
	$input-label-active-color: rgba(0, 0, 0, .8);
	$input-active-background: #ffffff;
	$input-active-border-width: 1px;
	$input-active-border-radius: 4px;
	$input-active-border-color: #0073e6;
	$input-active-border-style: solid;
	$input-active-padding-y: 12px;
	$input-active-padding-x: 18px;
	$input-active-padding-top: 12px;
	$input-active-padding-right: 18px;
	$input-active-padding-bottom: 12px;
	$input-active-padding-left: 18px;
	$input-active-padding-start: 18px;
	$input-active-padding-end: 18px;
	$input-active-spacing: 14px;
	$input-active-box-shadow: none;
	$input-active-font-family: 'Inter';
	$input-active-font-size: 14px;
	$input-active-font-weight: 600;
	$input-active-line-height: 1.429;
	$input-active-letter-spacing: -.28px;
	$input-active-text-align: left;
	$input-active-text-decoration: none;
	$input-active-text-transform: none;
	$input-active-color: rgba(0, 0, 0, .8);

// Input, state: hover, theme: light
	$input-additional-info-hover-padding-y: 0px;
	$input-additional-info-hover-padding-x: 0px;
	$input-additional-info-hover-padding-top: 0px;
	$input-additional-info-hover-padding-right: 0px;
	$input-additional-info-hover-padding-bottom: 0px;
	$input-additional-info-hover-padding-left: 0px;
	$input-additional-info-hover-padding-start: 0px;
	$input-additional-info-hover-padding-end: 0px;
	$input-additional-info-hover-spacing: 0px;
	$input-additional-info-hover-font-family: 'Inter';
	$input-additional-info-hover-font-size: 12px;
	$input-additional-info-hover-font-weight: 400;
	$input-additional-info-hover-line-height: 1.6;
	$input-additional-info-hover-letter-spacing: -.24px;
	$input-additional-info-hover-text-align: left;
	$input-additional-info-hover-text-decoration: none;
	$input-additional-info-hover-text-transform: none;
	$input-additional-info-hover-color: rgba(85, 85, 85, .8);
	$input-icon-hover-border-width: 2px;
	$input-icon-hover-border-radius: 0px;
	$input-icon-hover-border-color: #000000;
	$input-icon-hover-border-style: solid;
	$input-text-hover-font-family: 'Inter';
	$input-text-hover-font-size: 14px;
	$input-text-hover-font-weight: 400;
	$input-text-hover-line-height: 1.429;
	$input-text-hover-letter-spacing: -.28px;
	$input-text-hover-text-align: left;
	$input-text-hover-text-decoration: none;
	$input-text-hover-text-transform: none;
	$input-text-hover-color: #555555;
	$input-label-hover-padding-y: 0px;
	$input-label-hover-padding-x: 0px;
	$input-label-hover-padding-top: 0px;
	$input-label-hover-padding-right: 0px;
	$input-label-hover-padding-bottom: 0px;
	$input-label-hover-padding-left: 0px;
	$input-label-hover-padding-start: 0px;
	$input-label-hover-padding-end: 0px;
	$input-label-hover-spacing: 0px;
	$input-label-hover-font-family: 'Inter';
	$input-label-hover-font-size: 12px;
	$input-label-hover-font-weight: 400;
	$input-label-hover-line-height: 1.6;
	$input-label-hover-letter-spacing: -.24px;
	$input-label-hover-text-align: left;
	$input-label-hover-text-decoration: none;
	$input-label-hover-text-transform: none;
	$input-label-hover-color: #555555;
	$input-hover-background: #ffffff;
	$input-hover-border-width: 1px;
	$input-hover-border-radius: 4px;
	$input-hover-border-color: rgba(0, 0, 0, .6);
	$input-hover-border-style: solid;
	$input-hover-padding-y: 12px;
	$input-hover-padding-x: 18px;
	$input-hover-padding-top: 12px;
	$input-hover-padding-right: 18px;
	$input-hover-padding-bottom: 12px;
	$input-hover-padding-left: 18px;
	$input-hover-padding-start: 18px;
	$input-hover-padding-end: 18px;
	$input-hover-spacing: 14px;
	$input-hover-box-shadow: none;
	$input-hover-font-family: 'Inter';
	$input-hover-font-size: 14px;
	$input-hover-font-weight: 400;
	$input-hover-line-height: 1.429;
	$input-hover-letter-spacing: -.28px;
	$input-hover-text-align: left;
	$input-hover-text-decoration: none;
	$input-hover-text-transform: none;
	$input-hover-color: #555555;

// Input, state: default, theme: light
	$input-additional-info-padding-y: 0px;
	$input-additional-info-padding-x: 0px;
	$input-additional-info-padding-top: 0px;
	$input-additional-info-padding-right: 0px;
	$input-additional-info-padding-bottom: 0px;
	$input-additional-info-padding-left: 0px;
	$input-additional-info-padding-start: 0px;
	$input-additional-info-padding-end: 0px;
	$input-additional-info-spacing: 0px;
	$input-additional-info-font-family: 'Inter';
	$input-additional-info-font-size: 12px;
	$input-additional-info-font-weight: 400;
	$input-additional-info-line-height: 1.6;
	$input-additional-info-letter-spacing: -.24px;
	$input-additional-info-text-align: left;
	$input-additional-info-text-decoration: none;
	$input-additional-info-text-transform: none;
	$input-additional-info-color: rgba(85, 85, 85, .8);
	$input-icon-border-width: 2px;
	$input-icon-border-radius: 0px;
	$input-icon-border-color: #000000;
	$input-icon-border-style: solid;
	$input-text-font-family: 'Inter';
	$input-text-font-size: 14px;
	$input-text-font-weight: 400;
	$input-text-line-height: 1.429;
	$input-text-letter-spacing: -.28px;
	$input-text-text-align: left;
	$input-text-text-decoration: none;
	$input-text-text-transform: none;
	$input-text-color: #555555;
	$input-label-padding-y: 0px;
	$input-label-padding-x: 0px;
	$input-label-padding-top: 0px;
	$input-label-padding-right: 0px;
	$input-label-padding-bottom: 0px;
	$input-label-padding-left: 0px;
	$input-label-padding-start: 0px;
	$input-label-padding-end: 0px;
	$input-label-spacing: 0px;
	$input-label-font-family: 'Inter';
	$input-label-font-size: 12px;
	$input-label-font-weight: 400;
	$input-label-line-height: 1.6;
	$input-label-letter-spacing: -.24px;
	$input-label-text-align: left;
	$input-label-text-decoration: none;
	$input-label-text-transform: none;
	$input-label-color: #555555;
	$input-background: #ffffff;
	$input-border-width: 1px;
	$input-border-radius: 4px;
	$input-border-color: rgba(0, 0, 0, .3);
	$input-border-style: solid;
	$input-padding-y: 12px;
	$input-padding-x: 18px;
	$input-padding-top: 12px;
	$input-padding-right: 18px;
	$input-padding-bottom: 12px;
	$input-padding-left: 18px;
	$input-padding-start: 18px;
	$input-padding-end: 18px;
	$input-spacing: 14px;
	$input-box-shadow: none;
	$input-font-family: 'Inter';
	$input-font-size: 14px;
	$input-font-weight: 400;
	$input-line-height: 1.429;
	$input-letter-spacing: -.28px;
	$input-text-align: left;
	$input-text-decoration: none;
	$input-text-transform: none;
	$input-color: #555555;