// Alert, type: primary
	$alert-actions-padding-y: 0px;
	$alert-actions-padding-x: 0px;
	$alert-actions-padding-top: 0px;
	$alert-actions-padding-right: 0px;
	$alert-actions-padding-bottom: 0px;
	$alert-actions-padding-left: 0px;
	$alert-actions-padding-start: 0px;
	$alert-actions-padding-end: 0px;
	$alert-actions-spacing: 10px;
	$alert-actions-font-family: 'Inter';
	$alert-actions-font-size: 12px;
	$alert-actions-font-weight: 600;
	$alert-actions-line-height: 1.333;
	$alert-actions-letter-spacing: -.24px;
	$alert-actions-text-align: left;
	$alert-actions-text-decoration: none;
	$alert-actions-text-transform: none;
	$alert-actions-color: #ffffff;
	$alert-text-padding-y: 0px;
	$alert-text-padding-x: 0px;
	$alert-text-padding-top: 0px;
	$alert-text-padding-right: 0px;
	$alert-text-padding-bottom: 0px;
	$alert-text-padding-left: 0px;
	$alert-text-padding-start: 0px;
	$alert-text-padding-end: 0px;
	$alert-text-spacing: 0px;
	$alert-text-font-family: 'Inter';
	$alert-text-font-size: 14px;
	$alert-text-font-weight: 400;
	$alert-text-line-height: 1.6;
	$alert-text-letter-spacing: -.28px;
	$alert-text-text-align: left;
	$alert-text-text-decoration: none;
	$alert-text-text-transform: none;
	$alert-text-color: rgba(255, 255, 255, .85);
	$alert-title-padding-y: 0px;
	$alert-title-padding-x: 0px;
	$alert-title-padding-top: 0px;
	$alert-title-padding-right: 0px;
	$alert-title-padding-bottom: 0px;
	$alert-title-padding-left: 0px;
	$alert-title-padding-start: 0px;
	$alert-title-padding-end: 0px;
	$alert-title-spacing: 0px;
	$alert-title-font-family: 'Inter';
	$alert-title-font-size: 14px;
	$alert-title-font-weight: 700;
	$alert-title-line-height: 1.6;
	$alert-title-letter-spacing: -.28px;
	$alert-title-text-align: left;
	$alert-title-text-decoration: none;
	$alert-title-text-transform: none;
	$alert-title-color: #ffffff;
	$alert-body-padding-y: 0px;
	$alert-body-padding-x: 0px;
	$alert-body-padding-top: 0px;
	$alert-body-padding-right: 0px;
	$alert-body-padding-bottom: 0px;
	$alert-body-padding-left: 0px;
	$alert-body-padding-start: 0px;
	$alert-body-padding-end: 0px;
	$alert-body-spacing: 12px;
	$alert-background: #0073e6;
	$alert-border-width: 1px;
	$alert-border-radius: 6px;
	$alert-border-color: rgba(0, 0, 0, 0);
	$alert-border-style: solid;
	$alert-padding-y: 13px;
	$alert-padding-x: 16px;
	$alert-padding-top: 13px;
	$alert-padding-right: 16px;
	$alert-padding-bottom: 13px;
	$alert-padding-left: 16px;
	$alert-padding-start: 16px;
	$alert-padding-end: 16px;
	$alert-spacing: 12px;
	$alert-box-shadow: none;

// Alert, type: secondary
	$alert-secondary-actions-padding-y: 0px;
	$alert-secondary-actions-padding-x: 0px;
	$alert-secondary-actions-padding-top: 0px;
	$alert-secondary-actions-padding-right: 0px;
	$alert-secondary-actions-padding-bottom: 0px;
	$alert-secondary-actions-padding-left: 0px;
	$alert-secondary-actions-padding-start: 0px;
	$alert-secondary-actions-padding-end: 0px;
	$alert-secondary-actions-spacing: 10px;
	$alert-secondary-actions-font-family: 'Inter';
	$alert-secondary-actions-font-size: 12px;
	$alert-secondary-actions-font-weight: 600;
	$alert-secondary-actions-line-height: 1.333;
	$alert-secondary-actions-letter-spacing: -.24px;
	$alert-secondary-actions-text-align: left;
	$alert-secondary-actions-text-decoration: none;
	$alert-secondary-actions-text-transform: none;
	$alert-secondary-actions-color: #ffffff;
	$alert-secondary-text-padding-y: 0px;
	$alert-secondary-text-padding-x: 0px;
	$alert-secondary-text-padding-top: 0px;
	$alert-secondary-text-padding-right: 0px;
	$alert-secondary-text-padding-bottom: 0px;
	$alert-secondary-text-padding-left: 0px;
	$alert-secondary-text-padding-start: 0px;
	$alert-secondary-text-padding-end: 0px;
	$alert-secondary-text-spacing: 0px;
	$alert-secondary-text-font-family: 'Inter';
	$alert-secondary-text-font-size: 14px;
	$alert-secondary-text-font-weight: 400;
	$alert-secondary-text-line-height: 1.6;
	$alert-secondary-text-letter-spacing: -.28px;
	$alert-secondary-text-text-align: left;
	$alert-secondary-text-text-decoration: none;
	$alert-secondary-text-text-transform: none;
	$alert-secondary-text-color: rgba(255, 255, 255, .85);
	$alert-secondary-title-padding-y: 0px;
	$alert-secondary-title-padding-x: 0px;
	$alert-secondary-title-padding-top: 0px;
	$alert-secondary-title-padding-right: 0px;
	$alert-secondary-title-padding-bottom: 0px;
	$alert-secondary-title-padding-left: 0px;
	$alert-secondary-title-padding-start: 0px;
	$alert-secondary-title-padding-end: 0px;
	$alert-secondary-title-spacing: 0px;
	$alert-secondary-title-font-family: 'Inter';
	$alert-secondary-title-font-size: 14px;
	$alert-secondary-title-font-weight: 700;
	$alert-secondary-title-line-height: 1.6;
	$alert-secondary-title-letter-spacing: -.28px;
	$alert-secondary-title-text-align: left;
	$alert-secondary-title-text-decoration: none;
	$alert-secondary-title-text-transform: none;
	$alert-secondary-title-color: #ffffff;
	$alert-secondary-body-padding-y: 0px;
	$alert-secondary-body-padding-x: 0px;
	$alert-secondary-body-padding-top: 0px;
	$alert-secondary-body-padding-right: 0px;
	$alert-secondary-body-padding-bottom: 0px;
	$alert-secondary-body-padding-left: 0px;
	$alert-secondary-body-padding-start: 0px;
	$alert-secondary-body-padding-end: 0px;
	$alert-secondary-body-spacing: 12px;
	$alert-secondary-background: #4c34b6;
	$alert-secondary-border-width: 1px;
	$alert-secondary-border-radius: 6px;
	$alert-secondary-border-color: rgba(0, 0, 0, 0);
	$alert-secondary-border-style: solid;
	$alert-secondary-padding-y: 13px;
	$alert-secondary-padding-x: 16px;
	$alert-secondary-padding-top: 13px;
	$alert-secondary-padding-right: 16px;
	$alert-secondary-padding-bottom: 13px;
	$alert-secondary-padding-left: 16px;
	$alert-secondary-padding-start: 16px;
	$alert-secondary-padding-end: 16px;
	$alert-secondary-spacing: 12px;
	$alert-secondary-box-shadow: none;

// Alert, type: dark
	$alert-dark-actions-padding-y: 0px;
	$alert-dark-actions-padding-x: 0px;
	$alert-dark-actions-padding-top: 0px;
	$alert-dark-actions-padding-right: 0px;
	$alert-dark-actions-padding-bottom: 0px;
	$alert-dark-actions-padding-left: 0px;
	$alert-dark-actions-padding-start: 0px;
	$alert-dark-actions-padding-end: 0px;
	$alert-dark-actions-spacing: 10px;
	$alert-dark-actions-font-family: 'Inter';
	$alert-dark-actions-font-size: 12px;
	$alert-dark-actions-font-weight: 600;
	$alert-dark-actions-line-height: 1.333;
	$alert-dark-actions-letter-spacing: -.24px;
	$alert-dark-actions-text-align: left;
	$alert-dark-actions-text-decoration: none;
	$alert-dark-actions-text-transform: none;
	$alert-dark-actions-color: #ffffff;
	$alert-dark-text-padding-y: 0px;
	$alert-dark-text-padding-x: 0px;
	$alert-dark-text-padding-top: 0px;
	$alert-dark-text-padding-right: 0px;
	$alert-dark-text-padding-bottom: 0px;
	$alert-dark-text-padding-left: 0px;
	$alert-dark-text-padding-start: 0px;
	$alert-dark-text-padding-end: 0px;
	$alert-dark-text-spacing: 0px;
	$alert-dark-text-font-family: 'Inter';
	$alert-dark-text-font-size: 14px;
	$alert-dark-text-font-weight: 400;
	$alert-dark-text-line-height: 1.6;
	$alert-dark-text-letter-spacing: -.28px;
	$alert-dark-text-text-align: left;
	$alert-dark-text-text-decoration: none;
	$alert-dark-text-text-transform: none;
	$alert-dark-text-color: rgba(255, 255, 255, .85);
	$alert-dark-title-padding-y: 0px;
	$alert-dark-title-padding-x: 0px;
	$alert-dark-title-padding-top: 0px;
	$alert-dark-title-padding-right: 0px;
	$alert-dark-title-padding-bottom: 0px;
	$alert-dark-title-padding-left: 0px;
	$alert-dark-title-padding-start: 0px;
	$alert-dark-title-padding-end: 0px;
	$alert-dark-title-spacing: 0px;
	$alert-dark-title-font-family: 'Inter';
	$alert-dark-title-font-size: 14px;
	$alert-dark-title-font-weight: 700;
	$alert-dark-title-line-height: 1.6;
	$alert-dark-title-letter-spacing: -.28px;
	$alert-dark-title-text-align: left;
	$alert-dark-title-text-decoration: none;
	$alert-dark-title-text-transform: none;
	$alert-dark-title-color: #ffffff;
	$alert-dark-body-padding-y: 0px;
	$alert-dark-body-padding-x: 0px;
	$alert-dark-body-padding-top: 0px;
	$alert-dark-body-padding-right: 0px;
	$alert-dark-body-padding-bottom: 0px;
	$alert-dark-body-padding-left: 0px;
	$alert-dark-body-padding-start: 0px;
	$alert-dark-body-padding-end: 0px;
	$alert-dark-body-spacing: 12px;
	$alert-dark-background: #191919;
	$alert-dark-border-width: 1px;
	$alert-dark-border-radius: 6px;
	$alert-dark-border-color: rgba(0, 0, 0, 0);
	$alert-dark-border-style: solid;
	$alert-dark-padding-y: 13px;
	$alert-dark-padding-x: 16px;
	$alert-dark-padding-top: 13px;
	$alert-dark-padding-right: 16px;
	$alert-dark-padding-bottom: 13px;
	$alert-dark-padding-left: 16px;
	$alert-dark-padding-start: 16px;
	$alert-dark-padding-end: 16px;
	$alert-dark-spacing: 12px;
	$alert-dark-box-shadow: none;

// Alert, type: light
	$alert-light-actions-padding-y: 0px;
	$alert-light-actions-padding-x: 0px;
	$alert-light-actions-padding-top: 0px;
	$alert-light-actions-padding-right: 0px;
	$alert-light-actions-padding-bottom: 0px;
	$alert-light-actions-padding-left: 0px;
	$alert-light-actions-padding-start: 0px;
	$alert-light-actions-padding-end: 0px;
	$alert-light-actions-spacing: 10px;
	$alert-light-actions-font-family: 'Inter';
	$alert-light-actions-font-size: 12px;
	$alert-light-actions-font-weight: 600;
	$alert-light-actions-line-height: 1.333;
	$alert-light-actions-letter-spacing: -.24px;
	$alert-light-actions-text-align: left;
	$alert-light-actions-text-decoration: none;
	$alert-light-actions-text-transform: none;
	$alert-light-actions-color: #000000;
	$alert-light-text-padding-y: 0px;
	$alert-light-text-padding-x: 0px;
	$alert-light-text-padding-top: 0px;
	$alert-light-text-padding-right: 0px;
	$alert-light-text-padding-bottom: 0px;
	$alert-light-text-padding-left: 0px;
	$alert-light-text-padding-start: 0px;
	$alert-light-text-padding-end: 0px;
	$alert-light-text-spacing: 0px;
	$alert-light-text-font-family: 'Inter';
	$alert-light-text-font-size: 14px;
	$alert-light-text-font-weight: 400;
	$alert-light-text-line-height: 1.6;
	$alert-light-text-letter-spacing: -.28px;
	$alert-light-text-text-align: left;
	$alert-light-text-text-decoration: none;
	$alert-light-text-text-transform: none;
	$alert-light-text-color: rgba(0, 0, 0, .8);
	$alert-light-title-padding-y: 0px;
	$alert-light-title-padding-x: 0px;
	$alert-light-title-padding-top: 0px;
	$alert-light-title-padding-right: 0px;
	$alert-light-title-padding-bottom: 0px;
	$alert-light-title-padding-left: 0px;
	$alert-light-title-padding-start: 0px;
	$alert-light-title-padding-end: 0px;
	$alert-light-title-spacing: 0px;
	$alert-light-title-font-family: 'Inter';
	$alert-light-title-font-size: 14px;
	$alert-light-title-font-weight: 700;
	$alert-light-title-line-height: 1.6;
	$alert-light-title-letter-spacing: -.28px;
	$alert-light-title-text-align: left;
	$alert-light-title-text-decoration: none;
	$alert-light-title-text-transform: none;
	$alert-light-title-color: #000000;
	$alert-light-body-padding-y: 0px;
	$alert-light-body-padding-x: 0px;
	$alert-light-body-padding-top: 0px;
	$alert-light-body-padding-right: 0px;
	$alert-light-body-padding-bottom: 0px;
	$alert-light-body-padding-left: 0px;
	$alert-light-body-padding-start: 0px;
	$alert-light-body-padding-end: 0px;
	$alert-light-body-spacing: 12px;
	$alert-light-background: #f8f8f8;
	$alert-light-border-width: 1px;
	$alert-light-border-radius: 6px;
	$alert-light-border-color: rgba(0, 0, 0, 0);
	$alert-light-border-style: solid;
	$alert-light-padding-y: 13px;
	$alert-light-padding-x: 16px;
	$alert-light-padding-top: 13px;
	$alert-light-padding-right: 16px;
	$alert-light-padding-bottom: 13px;
	$alert-light-padding-left: 16px;
	$alert-light-padding-start: 16px;
	$alert-light-padding-end: 16px;
	$alert-light-spacing: 12px;
	$alert-light-box-shadow: none;

// Alert, type: info
	$alert-info-actions-padding-y: 0px;
	$alert-info-actions-padding-x: 0px;
	$alert-info-actions-padding-top: 0px;
	$alert-info-actions-padding-right: 0px;
	$alert-info-actions-padding-bottom: 0px;
	$alert-info-actions-padding-left: 0px;
	$alert-info-actions-padding-start: 0px;
	$alert-info-actions-padding-end: 0px;
	$alert-info-actions-spacing: 10px;
	$alert-info-actions-font-family: 'Inter';
	$alert-info-actions-font-size: 12px;
	$alert-info-actions-font-weight: 600;
	$alert-info-actions-line-height: 1.333;
	$alert-info-actions-letter-spacing: -.24px;
	$alert-info-actions-text-align: left;
	$alert-info-actions-text-decoration: none;
	$alert-info-actions-text-transform: none;
	$alert-info-actions-color: #ffffff;
	$alert-info-text-padding-y: 0px;
	$alert-info-text-padding-x: 0px;
	$alert-info-text-padding-top: 0px;
	$alert-info-text-padding-right: 0px;
	$alert-info-text-padding-bottom: 0px;
	$alert-info-text-padding-left: 0px;
	$alert-info-text-padding-start: 0px;
	$alert-info-text-padding-end: 0px;
	$alert-info-text-spacing: 0px;
	$alert-info-text-font-family: 'Inter';
	$alert-info-text-font-size: 14px;
	$alert-info-text-font-weight: 400;
	$alert-info-text-line-height: 1.6;
	$alert-info-text-letter-spacing: -.28px;
	$alert-info-text-text-align: left;
	$alert-info-text-text-decoration: none;
	$alert-info-text-text-transform: none;
	$alert-info-text-color: rgba(255, 255, 255, .85);
	$alert-info-title-padding-y: 0px;
	$alert-info-title-padding-x: 0px;
	$alert-info-title-padding-top: 0px;
	$alert-info-title-padding-right: 0px;
	$alert-info-title-padding-bottom: 0px;
	$alert-info-title-padding-left: 0px;
	$alert-info-title-padding-start: 0px;
	$alert-info-title-padding-end: 0px;
	$alert-info-title-spacing: 0px;
	$alert-info-title-font-family: 'Inter';
	$alert-info-title-font-size: 14px;
	$alert-info-title-font-weight: 700;
	$alert-info-title-line-height: 1.6;
	$alert-info-title-letter-spacing: -.28px;
	$alert-info-title-text-align: left;
	$alert-info-title-text-decoration: none;
	$alert-info-title-text-transform: none;
	$alert-info-title-color: #ffffff;
	$alert-info-body-padding-y: 0px;
	$alert-info-body-padding-x: 0px;
	$alert-info-body-padding-top: 0px;
	$alert-info-body-padding-right: 0px;
	$alert-info-body-padding-bottom: 0px;
	$alert-info-body-padding-left: 0px;
	$alert-info-body-padding-start: 0px;
	$alert-info-body-padding-end: 0px;
	$alert-info-body-spacing: 12px;
	$alert-info-background: #307abf;
	$alert-info-border-width: 1px;
	$alert-info-border-radius: 6px;
	$alert-info-border-color: rgba(0, 0, 0, 0);
	$alert-info-border-style: solid;
	$alert-info-padding-y: 13px;
	$alert-info-padding-x: 16px;
	$alert-info-padding-top: 13px;
	$alert-info-padding-right: 16px;
	$alert-info-padding-bottom: 13px;
	$alert-info-padding-left: 16px;
	$alert-info-padding-start: 16px;
	$alert-info-padding-end: 16px;
	$alert-info-spacing: 12px;
	$alert-info-box-shadow: none;

// Alert, type: success
	$alert-success-actions-padding-y: 0px;
	$alert-success-actions-padding-x: 0px;
	$alert-success-actions-padding-top: 0px;
	$alert-success-actions-padding-right: 0px;
	$alert-success-actions-padding-bottom: 0px;
	$alert-success-actions-padding-left: 0px;
	$alert-success-actions-padding-start: 0px;
	$alert-success-actions-padding-end: 0px;
	$alert-success-actions-spacing: 10px;
	$alert-success-actions-font-family: 'Inter';
	$alert-success-actions-font-size: 12px;
	$alert-success-actions-font-weight: 600;
	$alert-success-actions-line-height: 1.333;
	$alert-success-actions-letter-spacing: -.24px;
	$alert-success-actions-text-align: left;
	$alert-success-actions-text-decoration: none;
	$alert-success-actions-text-transform: none;
	$alert-success-actions-color: #ffffff;
	$alert-success-text-padding-y: 0px;
	$alert-success-text-padding-x: 0px;
	$alert-success-text-padding-top: 0px;
	$alert-success-text-padding-right: 0px;
	$alert-success-text-padding-bottom: 0px;
	$alert-success-text-padding-left: 0px;
	$alert-success-text-padding-start: 0px;
	$alert-success-text-padding-end: 0px;
	$alert-success-text-spacing: 0px;
	$alert-success-text-font-family: 'Inter';
	$alert-success-text-font-size: 14px;
	$alert-success-text-font-weight: 400;
	$alert-success-text-line-height: 1.6;
	$alert-success-text-letter-spacing: -.28px;
	$alert-success-text-text-align: left;
	$alert-success-text-text-decoration: none;
	$alert-success-text-text-transform: none;
	$alert-success-text-color: rgba(255, 255, 255, .85);
	$alert-success-title-padding-y: 0px;
	$alert-success-title-padding-x: 0px;
	$alert-success-title-padding-top: 0px;
	$alert-success-title-padding-right: 0px;
	$alert-success-title-padding-bottom: 0px;
	$alert-success-title-padding-left: 0px;
	$alert-success-title-padding-start: 0px;
	$alert-success-title-padding-end: 0px;
	$alert-success-title-spacing: 0px;
	$alert-success-title-font-family: 'Inter';
	$alert-success-title-font-size: 14px;
	$alert-success-title-font-weight: 700;
	$alert-success-title-line-height: 1.6;
	$alert-success-title-letter-spacing: -.28px;
	$alert-success-title-text-align: left;
	$alert-success-title-text-decoration: none;
	$alert-success-title-text-transform: none;
	$alert-success-title-color: #ffffff;
	$alert-success-body-padding-y: 0px;
	$alert-success-body-padding-x: 0px;
	$alert-success-body-padding-top: 0px;
	$alert-success-body-padding-right: 0px;
	$alert-success-body-padding-bottom: 0px;
	$alert-success-body-padding-left: 0px;
	$alert-success-body-padding-start: 0px;
	$alert-success-body-padding-end: 0px;
	$alert-success-body-spacing: 12px;
	$alert-success-background: #198754;
	$alert-success-border-width: 1px;
	$alert-success-border-radius: 6px;
	$alert-success-border-color: rgba(0, 0, 0, 0);
	$alert-success-border-style: solid;
	$alert-success-padding-y: 13px;
	$alert-success-padding-x: 16px;
	$alert-success-padding-top: 13px;
	$alert-success-padding-right: 16px;
	$alert-success-padding-bottom: 13px;
	$alert-success-padding-left: 16px;
	$alert-success-padding-start: 16px;
	$alert-success-padding-end: 16px;
	$alert-success-spacing: 12px;
	$alert-success-box-shadow: none;

// Alert, type: warning
	$alert-warning-actions-padding-y: 0px;
	$alert-warning-actions-padding-x: 0px;
	$alert-warning-actions-padding-top: 0px;
	$alert-warning-actions-padding-right: 0px;
	$alert-warning-actions-padding-bottom: 0px;
	$alert-warning-actions-padding-left: 0px;
	$alert-warning-actions-padding-start: 0px;
	$alert-warning-actions-padding-end: 0px;
	$alert-warning-actions-spacing: 10px;
	$alert-warning-actions-font-family: 'Inter';
	$alert-warning-actions-font-size: 12px;
	$alert-warning-actions-font-weight: 600;
	$alert-warning-actions-line-height: 1.333;
	$alert-warning-actions-letter-spacing: -.24px;
	$alert-warning-actions-text-align: left;
	$alert-warning-actions-text-decoration: none;
	$alert-warning-actions-text-transform: none;
	$alert-warning-actions-color: #000000;
	$alert-warning-text-padding-y: 0px;
	$alert-warning-text-padding-x: 0px;
	$alert-warning-text-padding-top: 0px;
	$alert-warning-text-padding-right: 0px;
	$alert-warning-text-padding-bottom: 0px;
	$alert-warning-text-padding-left: 0px;
	$alert-warning-text-padding-start: 0px;
	$alert-warning-text-padding-end: 0px;
	$alert-warning-text-spacing: 0px;
	$alert-warning-text-font-family: 'Inter';
	$alert-warning-text-font-size: 14px;
	$alert-warning-text-font-weight: 400;
	$alert-warning-text-line-height: 1.6;
	$alert-warning-text-letter-spacing: -.28px;
	$alert-warning-text-text-align: left;
	$alert-warning-text-text-decoration: none;
	$alert-warning-text-text-transform: none;
	$alert-warning-text-color: rgba(0, 0, 0, .8);
	$alert-warning-title-padding-y: 0px;
	$alert-warning-title-padding-x: 0px;
	$alert-warning-title-padding-top: 0px;
	$alert-warning-title-padding-right: 0px;
	$alert-warning-title-padding-bottom: 0px;
	$alert-warning-title-padding-left: 0px;
	$alert-warning-title-padding-start: 0px;
	$alert-warning-title-padding-end: 0px;
	$alert-warning-title-spacing: 0px;
	$alert-warning-title-font-family: 'Inter';
	$alert-warning-title-font-size: 14px;
	$alert-warning-title-font-weight: 700;
	$alert-warning-title-line-height: 1.6;
	$alert-warning-title-letter-spacing: -.28px;
	$alert-warning-title-text-align: left;
	$alert-warning-title-text-decoration: none;
	$alert-warning-title-text-transform: none;
	$alert-warning-title-color: #000000;
	$alert-warning-body-padding-y: 0px;
	$alert-warning-body-padding-x: 0px;
	$alert-warning-body-padding-top: 0px;
	$alert-warning-body-padding-right: 0px;
	$alert-warning-body-padding-bottom: 0px;
	$alert-warning-body-padding-left: 0px;
	$alert-warning-body-padding-start: 0px;
	$alert-warning-body-padding-end: 0px;
	$alert-warning-body-spacing: 12px;
	$alert-warning-background: #ffc107;
	$alert-warning-border-width: 1px;
	$alert-warning-border-radius: 6px;
	$alert-warning-border-color: rgba(0, 0, 0, 0);
	$alert-warning-border-style: solid;
	$alert-warning-padding-y: 13px;
	$alert-warning-padding-x: 16px;
	$alert-warning-padding-top: 13px;
	$alert-warning-padding-right: 16px;
	$alert-warning-padding-bottom: 13px;
	$alert-warning-padding-left: 16px;
	$alert-warning-padding-start: 16px;
	$alert-warning-padding-end: 16px;
	$alert-warning-spacing: 12px;
	$alert-warning-box-shadow: none;

// Alert, type: danger
	$alert-danger-actions-padding-y: 0px;
	$alert-danger-actions-padding-x: 0px;
	$alert-danger-actions-padding-top: 0px;
	$alert-danger-actions-padding-right: 0px;
	$alert-danger-actions-padding-bottom: 0px;
	$alert-danger-actions-padding-left: 0px;
	$alert-danger-actions-padding-start: 0px;
	$alert-danger-actions-padding-end: 0px;
	$alert-danger-actions-spacing: 10px;
	$alert-danger-actions-font-family: 'Inter';
	$alert-danger-actions-font-size: 12px;
	$alert-danger-actions-font-weight: 600;
	$alert-danger-actions-line-height: 1.333;
	$alert-danger-actions-letter-spacing: -.24px;
	$alert-danger-actions-text-align: left;
	$alert-danger-actions-text-decoration: none;
	$alert-danger-actions-text-transform: none;
	$alert-danger-actions-color: #ffffff;
	$alert-danger-text-padding-y: 0px;
	$alert-danger-text-padding-x: 0px;
	$alert-danger-text-padding-top: 0px;
	$alert-danger-text-padding-right: 0px;
	$alert-danger-text-padding-bottom: 0px;
	$alert-danger-text-padding-left: 0px;
	$alert-danger-text-padding-start: 0px;
	$alert-danger-text-padding-end: 0px;
	$alert-danger-text-spacing: 0px;
	$alert-danger-text-font-family: 'Inter';
	$alert-danger-text-font-size: 14px;
	$alert-danger-text-font-weight: 400;
	$alert-danger-text-line-height: 1.6;
	$alert-danger-text-letter-spacing: -.28px;
	$alert-danger-text-text-align: left;
	$alert-danger-text-text-decoration: none;
	$alert-danger-text-text-transform: none;
	$alert-danger-text-color: rgba(255, 255, 255, .85);
	$alert-danger-title-padding-y: 0px;
	$alert-danger-title-padding-x: 0px;
	$alert-danger-title-padding-top: 0px;
	$alert-danger-title-padding-right: 0px;
	$alert-danger-title-padding-bottom: 0px;
	$alert-danger-title-padding-left: 0px;
	$alert-danger-title-padding-start: 0px;
	$alert-danger-title-padding-end: 0px;
	$alert-danger-title-spacing: 0px;
	$alert-danger-title-font-family: 'Inter';
	$alert-danger-title-font-size: 14px;
	$alert-danger-title-font-weight: 700;
	$alert-danger-title-line-height: 1.6;
	$alert-danger-title-letter-spacing: -.28px;
	$alert-danger-title-text-align: left;
	$alert-danger-title-text-decoration: none;
	$alert-danger-title-text-transform: none;
	$alert-danger-title-color: #ffffff;
	$alert-danger-body-padding-y: 0px;
	$alert-danger-body-padding-x: 0px;
	$alert-danger-body-padding-top: 0px;
	$alert-danger-body-padding-right: 0px;
	$alert-danger-body-padding-bottom: 0px;
	$alert-danger-body-padding-left: 0px;
	$alert-danger-body-padding-start: 0px;
	$alert-danger-body-padding-end: 0px;
	$alert-danger-body-spacing: 12px;
	$alert-danger-background: #dc3545;
	$alert-danger-border-width: 1px;
	$alert-danger-border-radius: 6px;
	$alert-danger-border-color: rgba(0, 0, 0, 0);
	$alert-danger-border-style: solid;
	$alert-danger-padding-y: 13px;
	$alert-danger-padding-x: 16px;
	$alert-danger-padding-top: 13px;
	$alert-danger-padding-right: 16px;
	$alert-danger-padding-bottom: 13px;
	$alert-danger-padding-left: 16px;
	$alert-danger-padding-start: 16px;
	$alert-danger-padding-end: 16px;
	$alert-danger-spacing: 12px;
	$alert-danger-box-shadow: none;