// Button, type: primary, theme: dark, state: disabled
	$button-primary-dark-disabled-background: #333333;
	$button-primary-dark-disabled-border-width: 1px;
	$button-primary-dark-disabled-border-radius: 4px;
	$button-primary-dark-disabled-border-color: rgba(0, 0, 0, 0);
	$button-primary-dark-disabled-border-style: solid;
	$button-primary-dark-disabled-padding-y: 13px;
	$button-primary-dark-disabled-padding-x: 20px;
	$button-primary-dark-disabled-padding-top: 13px;
	$button-primary-dark-disabled-padding-right: 20px;
	$button-primary-dark-disabled-padding-bottom: 13px;
	$button-primary-dark-disabled-padding-left: 20px;
	$button-primary-dark-disabled-padding-start: 20px;
	$button-primary-dark-disabled-padding-end: 20px;
	$button-primary-dark-disabled-spacing: 16px;
	$button-primary-dark-disabled-box-shadow: none;
	$button-primary-dark-disabled-opacity: 1;
	$button-primary-dark-disabled-font-family: 'Inter';
	$button-primary-dark-disabled-font-size: 14px;
	$button-primary-dark-disabled-font-weight: 600;
	$button-primary-dark-disabled-line-height: 1.286;
	$button-primary-dark-disabled-letter-spacing: -.28px;
	$button-primary-dark-disabled-text-align: center;
	$button-primary-dark-disabled-text-decoration: none;
	$button-primary-dark-disabled-text-transform: none;
	$button-primary-dark-disabled-color: rgba(255, 255, 255, .45);

// Button, type: primary, theme: light, state: disabled
	$button-primary-disabled-background: #e5e5e5;
	$button-primary-disabled-border-width: 1px;
	$button-primary-disabled-border-radius: 4px;
	$button-primary-disabled-border-color: rgba(0, 0, 0, 0);
	$button-primary-disabled-border-style: solid;
	$button-primary-disabled-padding-y: 13px;
	$button-primary-disabled-padding-x: 20px;
	$button-primary-disabled-padding-top: 13px;
	$button-primary-disabled-padding-right: 20px;
	$button-primary-disabled-padding-bottom: 13px;
	$button-primary-disabled-padding-left: 20px;
	$button-primary-disabled-padding-start: 20px;
	$button-primary-disabled-padding-end: 20px;
	$button-primary-disabled-spacing: 16px;
	$button-primary-disabled-box-shadow: none;
	$button-primary-disabled-opacity: 1;
	$button-primary-disabled-font-family: 'Inter';
	$button-primary-disabled-font-size: 14px;
	$button-primary-disabled-font-weight: 600;
	$button-primary-disabled-line-height: 1.286;
	$button-primary-disabled-letter-spacing: -.28px;
	$button-primary-disabled-text-align: center;
	$button-primary-disabled-text-decoration: none;
	$button-primary-disabled-text-transform: none;
	$button-primary-disabled-color: rgba(85, 85, 85, .8);

// Button, type: outline-danger, theme: dark, state: hover
	$button-outline-danger-dark-hover-background: rgba(0, 0, 0, 0);
	$button-outline-danger-dark-hover-border-width: 1px;
	$button-outline-danger-dark-hover-border-radius: 4px;
	$button-outline-danger-dark-hover-border-color: #f35d6c;
	$button-outline-danger-dark-hover-border-style: solid;
	$button-outline-danger-dark-hover-padding-y: 13px;
	$button-outline-danger-dark-hover-padding-x: 20px;
	$button-outline-danger-dark-hover-padding-top: 13px;
	$button-outline-danger-dark-hover-padding-right: 20px;
	$button-outline-danger-dark-hover-padding-bottom: 13px;
	$button-outline-danger-dark-hover-padding-left: 20px;
	$button-outline-danger-dark-hover-padding-start: 20px;
	$button-outline-danger-dark-hover-padding-end: 20px;
	$button-outline-danger-dark-hover-spacing: 16px;
	$button-outline-danger-dark-hover-box-shadow: none;
	$button-outline-danger-dark-hover-opacity: 1;
	$button-outline-danger-dark-hover-font-family: 'Inter';
	$button-outline-danger-dark-hover-font-size: 14px;
	$button-outline-danger-dark-hover-font-weight: 600;
	$button-outline-danger-dark-hover-line-height: 1.286;
	$button-outline-danger-dark-hover-letter-spacing: -.28px;
	$button-outline-danger-dark-hover-text-align: center;
	$button-outline-danger-dark-hover-text-decoration: none;
	$button-outline-danger-dark-hover-text-transform: none;
	$button-outline-danger-dark-hover-color: #f35d6c;

// Button, type: outline-danger, theme: dark, state: default
	$button-outline-danger-dark-background: rgba(0, 0, 0, 0);
	$button-outline-danger-dark-border-width: 1px;
	$button-outline-danger-dark-border-radius: 4px;
	$button-outline-danger-dark-border-color: #dc3545;
	$button-outline-danger-dark-border-style: solid;
	$button-outline-danger-dark-padding-y: 13px;
	$button-outline-danger-dark-padding-x: 20px;
	$button-outline-danger-dark-padding-top: 13px;
	$button-outline-danger-dark-padding-right: 20px;
	$button-outline-danger-dark-padding-bottom: 13px;
	$button-outline-danger-dark-padding-left: 20px;
	$button-outline-danger-dark-padding-start: 20px;
	$button-outline-danger-dark-padding-end: 20px;
	$button-outline-danger-dark-spacing: 16px;
	$button-outline-danger-dark-box-shadow: none;
	$button-outline-danger-dark-opacity: 1;
	$button-outline-danger-dark-font-family: 'Inter';
	$button-outline-danger-dark-font-size: 14px;
	$button-outline-danger-dark-font-weight: 600;
	$button-outline-danger-dark-line-height: 1.286;
	$button-outline-danger-dark-letter-spacing: -.28px;
	$button-outline-danger-dark-text-align: center;
	$button-outline-danger-dark-text-decoration: none;
	$button-outline-danger-dark-text-transform: none;
	$button-outline-danger-dark-color: #dc3545;

// Button, type: outline-danger, theme: light, state: hover
	$button-outline-danger-hover-background: rgba(0, 0, 0, 0);
	$button-outline-danger-hover-border-width: 1px;
	$button-outline-danger-hover-border-radius: 4px;
	$button-outline-danger-hover-border-color: #c32b3a;
	$button-outline-danger-hover-border-style: solid;
	$button-outline-danger-hover-padding-y: 13px;
	$button-outline-danger-hover-padding-x: 20px;
	$button-outline-danger-hover-padding-top: 13px;
	$button-outline-danger-hover-padding-right: 20px;
	$button-outline-danger-hover-padding-bottom: 13px;
	$button-outline-danger-hover-padding-left: 20px;
	$button-outline-danger-hover-padding-start: 20px;
	$button-outline-danger-hover-padding-end: 20px;
	$button-outline-danger-hover-spacing: 16px;
	$button-outline-danger-hover-box-shadow: none;
	$button-outline-danger-hover-opacity: 1;
	$button-outline-danger-hover-font-family: 'Inter';
	$button-outline-danger-hover-font-size: 14px;
	$button-outline-danger-hover-font-weight: 600;
	$button-outline-danger-hover-line-height: 1.286;
	$button-outline-danger-hover-letter-spacing: -.28px;
	$button-outline-danger-hover-text-align: center;
	$button-outline-danger-hover-text-decoration: none;
	$button-outline-danger-hover-text-transform: none;
	$button-outline-danger-hover-color: #c32b3a;

// Button, type: outline-danger, theme: light, state: default
	$button-outline-danger-background: rgba(0, 0, 0, 0);
	$button-outline-danger-border-width: 1px;
	$button-outline-danger-border-radius: 4px;
	$button-outline-danger-border-color: #dc3545;
	$button-outline-danger-border-style: solid;
	$button-outline-danger-padding-y: 13px;
	$button-outline-danger-padding-x: 20px;
	$button-outline-danger-padding-top: 13px;
	$button-outline-danger-padding-right: 20px;
	$button-outline-danger-padding-bottom: 13px;
	$button-outline-danger-padding-left: 20px;
	$button-outline-danger-padding-start: 20px;
	$button-outline-danger-padding-end: 20px;
	$button-outline-danger-spacing: 16px;
	$button-outline-danger-box-shadow: none;
	$button-outline-danger-opacity: 1;
	$button-outline-danger-font-family: 'Inter';
	$button-outline-danger-font-size: 14px;
	$button-outline-danger-font-weight: 600;
	$button-outline-danger-line-height: 1.286;
	$button-outline-danger-letter-spacing: -.28px;
	$button-outline-danger-text-align: center;
	$button-outline-danger-text-decoration: none;
	$button-outline-danger-text-transform: none;
	$button-outline-danger-color: #dc3545;

// Button, type: danger, theme: dark, state: hover
	$button-danger-dark-hover-background: #f35d6c;
	$button-danger-dark-hover-border-width: 1px;
	$button-danger-dark-hover-border-radius: 4px;
	$button-danger-dark-hover-border-color: rgba(0, 0, 0, 0);
	$button-danger-dark-hover-border-style: solid;
	$button-danger-dark-hover-padding-y: 13px;
	$button-danger-dark-hover-padding-x: 20px;
	$button-danger-dark-hover-padding-top: 13px;
	$button-danger-dark-hover-padding-right: 20px;
	$button-danger-dark-hover-padding-bottom: 13px;
	$button-danger-dark-hover-padding-left: 20px;
	$button-danger-dark-hover-padding-start: 20px;
	$button-danger-dark-hover-padding-end: 20px;
	$button-danger-dark-hover-spacing: 16px;
	$button-danger-dark-hover-box-shadow: none;
	$button-danger-dark-hover-opacity: 1;
	$button-danger-dark-hover-font-family: 'Inter';
	$button-danger-dark-hover-font-size: 14px;
	$button-danger-dark-hover-font-weight: 600;
	$button-danger-dark-hover-line-height: 1.286;
	$button-danger-dark-hover-letter-spacing: -.28px;
	$button-danger-dark-hover-text-align: center;
	$button-danger-dark-hover-text-decoration: none;
	$button-danger-dark-hover-text-transform: none;
	$button-danger-dark-hover-color: #ffffff;

// Button, type: danger, theme: dark, state: default
	$button-danger-dark-background: #dc3545;
	$button-danger-dark-border-width: 1px;
	$button-danger-dark-border-radius: 4px;
	$button-danger-dark-border-color: rgba(0, 0, 0, 0);
	$button-danger-dark-border-style: solid;
	$button-danger-dark-padding-y: 13px;
	$button-danger-dark-padding-x: 20px;
	$button-danger-dark-padding-top: 13px;
	$button-danger-dark-padding-right: 20px;
	$button-danger-dark-padding-bottom: 13px;
	$button-danger-dark-padding-left: 20px;
	$button-danger-dark-padding-start: 20px;
	$button-danger-dark-padding-end: 20px;
	$button-danger-dark-spacing: 16px;
	$button-danger-dark-box-shadow: none;
	$button-danger-dark-opacity: 1;
	$button-danger-dark-font-family: 'Inter';
	$button-danger-dark-font-size: 14px;
	$button-danger-dark-font-weight: 600;
	$button-danger-dark-line-height: 1.286;
	$button-danger-dark-letter-spacing: -.28px;
	$button-danger-dark-text-align: center;
	$button-danger-dark-text-decoration: none;
	$button-danger-dark-text-transform: none;
	$button-danger-dark-color: #ffffff;

// Button, type: danger, theme: light, state: hover
	$button-danger-hover-background: #c32b3a;
	$button-danger-hover-border-width: 1px;
	$button-danger-hover-border-radius: 4px;
	$button-danger-hover-border-color: rgba(0, 0, 0, 0);
	$button-danger-hover-border-style: solid;
	$button-danger-hover-padding-y: 13px;
	$button-danger-hover-padding-x: 20px;
	$button-danger-hover-padding-top: 13px;
	$button-danger-hover-padding-right: 20px;
	$button-danger-hover-padding-bottom: 13px;
	$button-danger-hover-padding-left: 20px;
	$button-danger-hover-padding-start: 20px;
	$button-danger-hover-padding-end: 20px;
	$button-danger-hover-spacing: 16px;
	$button-danger-hover-box-shadow: none;
	$button-danger-hover-opacity: 1;
	$button-danger-hover-font-family: 'Inter';
	$button-danger-hover-font-size: 14px;
	$button-danger-hover-font-weight: 600;
	$button-danger-hover-line-height: 1.286;
	$button-danger-hover-letter-spacing: -.28px;
	$button-danger-hover-text-align: center;
	$button-danger-hover-text-decoration: none;
	$button-danger-hover-text-transform: none;
	$button-danger-hover-color: #ffffff;

// Button, type: danger, theme: light, state: default
	$button-danger-background: #dc3545;
	$button-danger-border-width: 1px;
	$button-danger-border-radius: 4px;
	$button-danger-border-color: rgba(0, 0, 0, 0);
	$button-danger-border-style: solid;
	$button-danger-padding-y: 13px;
	$button-danger-padding-x: 20px;
	$button-danger-padding-top: 13px;
	$button-danger-padding-right: 20px;
	$button-danger-padding-bottom: 13px;
	$button-danger-padding-left: 20px;
	$button-danger-padding-start: 20px;
	$button-danger-padding-end: 20px;
	$button-danger-spacing: 16px;
	$button-danger-box-shadow: none;
	$button-danger-opacity: 1;
	$button-danger-font-family: 'Inter';
	$button-danger-font-size: 14px;
	$button-danger-font-weight: 600;
	$button-danger-line-height: 1.286;
	$button-danger-letter-spacing: -.28px;
	$button-danger-text-align: center;
	$button-danger-text-decoration: none;
	$button-danger-text-transform: none;
	$button-danger-color: #ffffff;

// Button, type: outline-secondary, theme: dark, state: hover
	$button-outline-secondary-dark-hover-background: rgba(0, 0, 0, 0);
	$button-outline-secondary-dark-hover-border-width: 1px;
	$button-outline-secondary-dark-hover-border-radius: 4px;
	$button-outline-secondary-dark-hover-border-color: #258cf2;
	$button-outline-secondary-dark-hover-border-style: solid;
	$button-outline-secondary-dark-hover-padding-y: 13px;
	$button-outline-secondary-dark-hover-padding-x: 20px;
	$button-outline-secondary-dark-hover-padding-top: 13px;
	$button-outline-secondary-dark-hover-padding-right: 20px;
	$button-outline-secondary-dark-hover-padding-bottom: 13px;
	$button-outline-secondary-dark-hover-padding-left: 20px;
	$button-outline-secondary-dark-hover-padding-start: 20px;
	$button-outline-secondary-dark-hover-padding-end: 20px;
	$button-outline-secondary-dark-hover-spacing: 16px;
	$button-outline-secondary-dark-hover-box-shadow: none;
	$button-outline-secondary-dark-hover-opacity: 1;
	$button-outline-secondary-dark-hover-font-family: 'Inter';
	$button-outline-secondary-dark-hover-font-size: 14px;
	$button-outline-secondary-dark-hover-font-weight: 600;
	$button-outline-secondary-dark-hover-line-height: 1.286;
	$button-outline-secondary-dark-hover-letter-spacing: -.28px;
	$button-outline-secondary-dark-hover-text-align: center;
	$button-outline-secondary-dark-hover-text-decoration: none;
	$button-outline-secondary-dark-hover-text-transform: none;
	$button-outline-secondary-dark-hover-color: #258cf2;

// Button, type: outline-secondary, theme: dark, state: default
	$button-outline-secondary-dark-background: rgba(0, 0, 0, 0);
	$button-outline-secondary-dark-border-width: 1px;
	$button-outline-secondary-dark-border-radius: 4px;
	$button-outline-secondary-dark-border-color: rgba(255, 255, 255, .75);
	$button-outline-secondary-dark-border-style: solid;
	$button-outline-secondary-dark-padding-y: 13px;
	$button-outline-secondary-dark-padding-x: 20px;
	$button-outline-secondary-dark-padding-top: 13px;
	$button-outline-secondary-dark-padding-right: 20px;
	$button-outline-secondary-dark-padding-bottom: 13px;
	$button-outline-secondary-dark-padding-left: 20px;
	$button-outline-secondary-dark-padding-start: 20px;
	$button-outline-secondary-dark-padding-end: 20px;
	$button-outline-secondary-dark-spacing: 16px;
	$button-outline-secondary-dark-box-shadow: none;
	$button-outline-secondary-dark-opacity: 1;
	$button-outline-secondary-dark-font-family: 'Inter';
	$button-outline-secondary-dark-font-size: 14px;
	$button-outline-secondary-dark-font-weight: 600;
	$button-outline-secondary-dark-line-height: 1.286;
	$button-outline-secondary-dark-letter-spacing: -.28px;
	$button-outline-secondary-dark-text-align: center;
	$button-outline-secondary-dark-text-decoration: none;
	$button-outline-secondary-dark-text-transform: none;
	$button-outline-secondary-dark-color: #ffffff;

// Button, type: outline-secondary, theme: light, state: hover
	$button-outline-secondary-hover-background: rgba(0, 0, 0, 0);
	$button-outline-secondary-hover-border-width: 1px;
	$button-outline-secondary-hover-border-radius: 4px;
	$button-outline-secondary-hover-border-color: #0f69c1;
	$button-outline-secondary-hover-border-style: solid;
	$button-outline-secondary-hover-padding-y: 13px;
	$button-outline-secondary-hover-padding-x: 20px;
	$button-outline-secondary-hover-padding-top: 13px;
	$button-outline-secondary-hover-padding-right: 20px;
	$button-outline-secondary-hover-padding-bottom: 13px;
	$button-outline-secondary-hover-padding-left: 20px;
	$button-outline-secondary-hover-padding-start: 20px;
	$button-outline-secondary-hover-padding-end: 20px;
	$button-outline-secondary-hover-spacing: 16px;
	$button-outline-secondary-hover-box-shadow: none;
	$button-outline-secondary-hover-opacity: 1;
	$button-outline-secondary-hover-font-family: 'Inter';
	$button-outline-secondary-hover-font-size: 14px;
	$button-outline-secondary-hover-font-weight: 600;
	$button-outline-secondary-hover-line-height: 1.286;
	$button-outline-secondary-hover-letter-spacing: -.28px;
	$button-outline-secondary-hover-text-align: center;
	$button-outline-secondary-hover-text-decoration: none;
	$button-outline-secondary-hover-text-transform: none;
	$button-outline-secondary-hover-color: #0f69c1;

// Button, type: outline-secondary, theme: light, state: default
	$button-outline-secondary-background: rgba(0, 0, 0, 0);
	$button-outline-secondary-border-width: 1px;
	$button-outline-secondary-border-radius: 4px;
	$button-outline-secondary-border-color: rgba(0, 0, 0, .6);
	$button-outline-secondary-border-style: solid;
	$button-outline-secondary-padding-y: 13px;
	$button-outline-secondary-padding-x: 20px;
	$button-outline-secondary-padding-top: 13px;
	$button-outline-secondary-padding-right: 20px;
	$button-outline-secondary-padding-bottom: 13px;
	$button-outline-secondary-padding-left: 20px;
	$button-outline-secondary-padding-start: 20px;
	$button-outline-secondary-padding-end: 20px;
	$button-outline-secondary-spacing: 16px;
	$button-outline-secondary-box-shadow: none;
	$button-outline-secondary-opacity: 1;
	$button-outline-secondary-font-family: 'Inter';
	$button-outline-secondary-font-size: 14px;
	$button-outline-secondary-font-weight: 600;
	$button-outline-secondary-line-height: 1.286;
	$button-outline-secondary-letter-spacing: -.28px;
	$button-outline-secondary-text-align: center;
	$button-outline-secondary-text-decoration: none;
	$button-outline-secondary-text-transform: none;
	$button-outline-secondary-color: #000000;

// Button, type: outline-primary, theme: dark, state: hover
	$button-outline-primary-dark-hover-background: rgba(0, 0, 0, 0);
	$button-outline-primary-dark-hover-border-width: 1px;
	$button-outline-primary-dark-hover-border-radius: 4px;
	$button-outline-primary-dark-hover-border-color: #258cf2;
	$button-outline-primary-dark-hover-border-style: solid;
	$button-outline-primary-dark-hover-padding-y: 13px;
	$button-outline-primary-dark-hover-padding-x: 20px;
	$button-outline-primary-dark-hover-padding-top: 13px;
	$button-outline-primary-dark-hover-padding-right: 20px;
	$button-outline-primary-dark-hover-padding-bottom: 13px;
	$button-outline-primary-dark-hover-padding-left: 20px;
	$button-outline-primary-dark-hover-padding-start: 20px;
	$button-outline-primary-dark-hover-padding-end: 20px;
	$button-outline-primary-dark-hover-spacing: 16px;
	$button-outline-primary-dark-hover-box-shadow: none;
	$button-outline-primary-dark-hover-opacity: 1;
	$button-outline-primary-dark-hover-font-family: 'Inter';
	$button-outline-primary-dark-hover-font-size: 14px;
	$button-outline-primary-dark-hover-font-weight: 600;
	$button-outline-primary-dark-hover-line-height: 1.286;
	$button-outline-primary-dark-hover-letter-spacing: -.28px;
	$button-outline-primary-dark-hover-text-align: center;
	$button-outline-primary-dark-hover-text-decoration: none;
	$button-outline-primary-dark-hover-text-transform: none;
	$button-outline-primary-dark-hover-color: #258cf2;

// Button, type: outline-primary, theme: dark, state: default
	$button-outline-primary-dark-background: rgba(0, 0, 0, 0);
	$button-outline-primary-dark-border-width: 1px;
	$button-outline-primary-dark-border-radius: 4px;
	$button-outline-primary-dark-border-color: #0073e6;
	$button-outline-primary-dark-border-style: solid;
	$button-outline-primary-dark-padding-y: 13px;
	$button-outline-primary-dark-padding-x: 20px;
	$button-outline-primary-dark-padding-top: 13px;
	$button-outline-primary-dark-padding-right: 20px;
	$button-outline-primary-dark-padding-bottom: 13px;
	$button-outline-primary-dark-padding-left: 20px;
	$button-outline-primary-dark-padding-start: 20px;
	$button-outline-primary-dark-padding-end: 20px;
	$button-outline-primary-dark-spacing: 16px;
	$button-outline-primary-dark-box-shadow: none;
	$button-outline-primary-dark-opacity: 1;
	$button-outline-primary-dark-font-family: 'Inter';
	$button-outline-primary-dark-font-size: 14px;
	$button-outline-primary-dark-font-weight: 600;
	$button-outline-primary-dark-line-height: 1.286;
	$button-outline-primary-dark-letter-spacing: -.28px;
	$button-outline-primary-dark-text-align: center;
	$button-outline-primary-dark-text-decoration: none;
	$button-outline-primary-dark-text-transform: none;
	$button-outline-primary-dark-color: #0073e6;

// Button, type: outline-primary, theme: light, state: hover
	$button-outline-primary-hover-background: rgba(0, 0, 0, 0);
	$button-outline-primary-hover-border-width: 1px;
	$button-outline-primary-hover-border-radius: 4px;
	$button-outline-primary-hover-border-color: #0f69c1;
	$button-outline-primary-hover-border-style: solid;
	$button-outline-primary-hover-padding-y: 13px;
	$button-outline-primary-hover-padding-x: 20px;
	$button-outline-primary-hover-padding-top: 13px;
	$button-outline-primary-hover-padding-right: 20px;
	$button-outline-primary-hover-padding-bottom: 13px;
	$button-outline-primary-hover-padding-left: 20px;
	$button-outline-primary-hover-padding-start: 20px;
	$button-outline-primary-hover-padding-end: 20px;
	$button-outline-primary-hover-spacing: 16px;
	$button-outline-primary-hover-box-shadow: none;
	$button-outline-primary-hover-opacity: 1;
	$button-outline-primary-hover-font-family: 'Inter';
	$button-outline-primary-hover-font-size: 14px;
	$button-outline-primary-hover-font-weight: 600;
	$button-outline-primary-hover-line-height: 1.286;
	$button-outline-primary-hover-letter-spacing: -.28px;
	$button-outline-primary-hover-text-align: center;
	$button-outline-primary-hover-text-decoration: none;
	$button-outline-primary-hover-text-transform: none;
	$button-outline-primary-hover-color: #0f69c1;

// Button, type: outline-primary, theme: light, state: default
	$button-outline-primary-background: rgba(0, 0, 0, 0);
	$button-outline-primary-border-width: 1px;
	$button-outline-primary-border-radius: 4px;
	$button-outline-primary-border-color: #0073e6;
	$button-outline-primary-border-style: solid;
	$button-outline-primary-padding-y: 13px;
	$button-outline-primary-padding-x: 20px;
	$button-outline-primary-padding-top: 13px;
	$button-outline-primary-padding-right: 20px;
	$button-outline-primary-padding-bottom: 13px;
	$button-outline-primary-padding-left: 20px;
	$button-outline-primary-padding-start: 20px;
	$button-outline-primary-padding-end: 20px;
	$button-outline-primary-spacing: 16px;
	$button-outline-primary-box-shadow: none;
	$button-outline-primary-opacity: 1;
	$button-outline-primary-font-family: 'Inter';
	$button-outline-primary-font-size: 14px;
	$button-outline-primary-font-weight: 600;
	$button-outline-primary-line-height: 1.286;
	$button-outline-primary-letter-spacing: -.28px;
	$button-outline-primary-text-align: center;
	$button-outline-primary-text-decoration: none;
	$button-outline-primary-text-transform: none;
	$button-outline-primary-color: #0073e6;

// Button, type: light, theme: dark, state: hover
	$button-light-dark-hover-background: rgba(255, 255, 255, .1);
	$button-light-dark-hover-border-width: 1px;
	$button-light-dark-hover-border-radius: 4px;
	$button-light-dark-hover-border-color: transparent;
	$button-light-dark-hover-border-style: solid;
	$button-light-dark-hover-padding-y: 13px;
	$button-light-dark-hover-padding-x: 20px;
	$button-light-dark-hover-padding-top: 13px;
	$button-light-dark-hover-padding-right: 20px;
	$button-light-dark-hover-padding-bottom: 13px;
	$button-light-dark-hover-padding-left: 20px;
	$button-light-dark-hover-padding-start: 20px;
	$button-light-dark-hover-padding-end: 20px;
	$button-light-dark-hover-spacing: 16px;
	$button-light-dark-hover-box-shadow: none;
	$button-light-dark-hover-opacity: 1;
	$button-light-dark-hover-font-family: 'Inter';
	$button-light-dark-hover-font-size: 14px;
	$button-light-dark-hover-font-weight: 600;
	$button-light-dark-hover-line-height: 1.286;
	$button-light-dark-hover-letter-spacing: -.28px;
	$button-light-dark-hover-text-align: center;
	$button-light-dark-hover-text-decoration: none;
	$button-light-dark-hover-text-transform: none;
	$button-light-dark-hover-color: #258cf2;

// Button, type: light, theme: dark, state: default
	$button-light-dark-background: rgba(255, 255, 255, .1);
	$button-light-dark-border-width: 1px;
	$button-light-dark-border-radius: 4px;
	$button-light-dark-border-color: transparent;
	$button-light-dark-border-style: solid;
	$button-light-dark-padding-y: 13px;
	$button-light-dark-padding-x: 20px;
	$button-light-dark-padding-top: 13px;
	$button-light-dark-padding-right: 20px;
	$button-light-dark-padding-bottom: 13px;
	$button-light-dark-padding-left: 20px;
	$button-light-dark-padding-start: 20px;
	$button-light-dark-padding-end: 20px;
	$button-light-dark-spacing: 16px;
	$button-light-dark-box-shadow: none;
	$button-light-dark-opacity: 1;
	$button-light-dark-font-family: 'Inter';
	$button-light-dark-font-size: 14px;
	$button-light-dark-font-weight: 600;
	$button-light-dark-line-height: 1.286;
	$button-light-dark-letter-spacing: -.28px;
	$button-light-dark-text-align: center;
	$button-light-dark-text-decoration: none;
	$button-light-dark-text-transform: none;
	$button-light-dark-color: #ffffff;

// Button, type: light, theme: light, state: hover
	$button-light-hover-background: rgba(0, 0, 0, .08);
	$button-light-hover-border-width: 1px;
	$button-light-hover-border-radius: 4px;
	$button-light-hover-border-color: transparent;
	$button-light-hover-border-style: solid;
	$button-light-hover-padding-y: 13px;
	$button-light-hover-padding-x: 20px;
	$button-light-hover-padding-top: 13px;
	$button-light-hover-padding-right: 20px;
	$button-light-hover-padding-bottom: 13px;
	$button-light-hover-padding-left: 20px;
	$button-light-hover-padding-start: 20px;
	$button-light-hover-padding-end: 20px;
	$button-light-hover-spacing: 16px;
	$button-light-hover-box-shadow: none;
	$button-light-hover-opacity: 1;
	$button-light-hover-font-family: 'Inter';
	$button-light-hover-font-size: 14px;
	$button-light-hover-font-weight: 600;
	$button-light-hover-line-height: 1.286;
	$button-light-hover-letter-spacing: -.28px;
	$button-light-hover-text-align: center;
	$button-light-hover-text-decoration: none;
	$button-light-hover-text-transform: none;
	$button-light-hover-color: #0f69c1;

// Button, type: light, theme: light, state: default
	$button-light-background: rgba(0, 0, 0, .08);
	$button-light-border-width: 1px;
	$button-light-border-radius: 4px;
	$button-light-border-color: transparent;
	$button-light-border-style: solid;
	$button-light-padding-y: 13px;
	$button-light-padding-x: 20px;
	$button-light-padding-top: 13px;
	$button-light-padding-right: 20px;
	$button-light-padding-bottom: 13px;
	$button-light-padding-left: 20px;
	$button-light-padding-start: 20px;
	$button-light-padding-end: 20px;
	$button-light-spacing: 16px;
	$button-light-box-shadow: none;
	$button-light-opacity: 1;
	$button-light-font-family: 'Inter';
	$button-light-font-size: 14px;
	$button-light-font-weight: 600;
	$button-light-line-height: 1.286;
	$button-light-letter-spacing: -.28px;
	$button-light-text-align: center;
	$button-light-text-decoration: none;
	$button-light-text-transform: none;
	$button-light-color: #000000;

// Button, type: dark, theme: dark, state: hover
	$button-dark-dark-hover-background: #258cf2;
	$button-dark-dark-hover-border-width: 1px;
	$button-dark-dark-hover-border-radius: 4px;
	$button-dark-dark-hover-border-color: rgba(0, 0, 0, 0);
	$button-dark-dark-hover-border-style: solid;
	$button-dark-dark-hover-padding-y: 13px;
	$button-dark-dark-hover-padding-x: 20px;
	$button-dark-dark-hover-padding-top: 13px;
	$button-dark-dark-hover-padding-right: 20px;
	$button-dark-dark-hover-padding-bottom: 13px;
	$button-dark-dark-hover-padding-left: 20px;
	$button-dark-dark-hover-padding-start: 20px;
	$button-dark-dark-hover-padding-end: 20px;
	$button-dark-dark-hover-spacing: 16px;
	$button-dark-dark-hover-box-shadow: none;
	$button-dark-dark-hover-opacity: 1;
	$button-dark-dark-hover-font-family: 'Inter';
	$button-dark-dark-hover-font-size: 14px;
	$button-dark-dark-hover-font-weight: 600;
	$button-dark-dark-hover-line-height: 1.286;
	$button-dark-dark-hover-letter-spacing: -.28px;
	$button-dark-dark-hover-text-align: center;
	$button-dark-dark-hover-text-decoration: none;
	$button-dark-dark-hover-text-transform: none;
	$button-dark-dark-hover-color: #ffffff;

// Button, type: dark, theme: dark, state: default
	$button-dark-dark-background: #ffffff;
	$button-dark-dark-border-width: 1px;
	$button-dark-dark-border-radius: 4px;
	$button-dark-dark-border-color: rgba(0, 0, 0, 0);
	$button-dark-dark-border-style: solid;
	$button-dark-dark-padding-y: 13px;
	$button-dark-dark-padding-x: 20px;
	$button-dark-dark-padding-top: 13px;
	$button-dark-dark-padding-right: 20px;
	$button-dark-dark-padding-bottom: 13px;
	$button-dark-dark-padding-left: 20px;
	$button-dark-dark-padding-start: 20px;
	$button-dark-dark-padding-end: 20px;
	$button-dark-dark-spacing: 16px;
	$button-dark-dark-box-shadow: none;
	$button-dark-dark-opacity: 1;
	$button-dark-dark-font-family: 'Inter';
	$button-dark-dark-font-size: 14px;
	$button-dark-dark-font-weight: 600;
	$button-dark-dark-line-height: 1.286;
	$button-dark-dark-letter-spacing: -.28px;
	$button-dark-dark-text-align: center;
	$button-dark-dark-text-decoration: none;
	$button-dark-dark-text-transform: none;
	$button-dark-dark-color: #000000;

// Button, type: dark, theme: light, state: hover
	$button-dark-hover-background: #0f69c1;
	$button-dark-hover-border-width: 1px;
	$button-dark-hover-border-radius: 4px;
	$button-dark-hover-border-color: rgba(0, 0, 0, 0);
	$button-dark-hover-border-style: solid;
	$button-dark-hover-padding-y: 13px;
	$button-dark-hover-padding-x: 20px;
	$button-dark-hover-padding-top: 13px;
	$button-dark-hover-padding-right: 20px;
	$button-dark-hover-padding-bottom: 13px;
	$button-dark-hover-padding-left: 20px;
	$button-dark-hover-padding-start: 20px;
	$button-dark-hover-padding-end: 20px;
	$button-dark-hover-spacing: 16px;
	$button-dark-hover-box-shadow: none;
	$button-dark-hover-opacity: 1;
	$button-dark-hover-font-family: 'Inter';
	$button-dark-hover-font-size: 14px;
	$button-dark-hover-font-weight: 600;
	$button-dark-hover-line-height: 1.286;
	$button-dark-hover-letter-spacing: -.28px;
	$button-dark-hover-text-align: center;
	$button-dark-hover-text-decoration: none;
	$button-dark-hover-text-transform: none;
	$button-dark-hover-color: #ffffff;

// Button, type: dark, theme: light, state: default
	$button-dark-background: #191919;
	$button-dark-border-width: 1px;
	$button-dark-border-radius: 4px;
	$button-dark-border-color: rgba(0, 0, 0, 0);
	$button-dark-border-style: solid;
	$button-dark-padding-y: 13px;
	$button-dark-padding-x: 20px;
	$button-dark-padding-top: 13px;
	$button-dark-padding-right: 20px;
	$button-dark-padding-bottom: 13px;
	$button-dark-padding-left: 20px;
	$button-dark-padding-start: 20px;
	$button-dark-padding-end: 20px;
	$button-dark-spacing: 16px;
	$button-dark-box-shadow: none;
	$button-dark-opacity: 1;
	$button-dark-font-family: 'Inter';
	$button-dark-font-size: 14px;
	$button-dark-font-weight: 600;
	$button-dark-line-height: 1.286;
	$button-dark-letter-spacing: -.28px;
	$button-dark-text-align: center;
	$button-dark-text-decoration: none;
	$button-dark-text-transform: none;
	$button-dark-color: #ffffff;

// Button, type: secondary, theme: dark, state: hover
	$button-secondary-dark-hover-background: #7158dd;
	$button-secondary-dark-hover-border-width: 1px;
	$button-secondary-dark-hover-border-radius: 4px;
	$button-secondary-dark-hover-border-color: rgba(0, 0, 0, 0);
	$button-secondary-dark-hover-border-style: solid;
	$button-secondary-dark-hover-padding-y: 13px;
	$button-secondary-dark-hover-padding-x: 20px;
	$button-secondary-dark-hover-padding-top: 13px;
	$button-secondary-dark-hover-padding-right: 20px;
	$button-secondary-dark-hover-padding-bottom: 13px;
	$button-secondary-dark-hover-padding-left: 20px;
	$button-secondary-dark-hover-padding-start: 20px;
	$button-secondary-dark-hover-padding-end: 20px;
	$button-secondary-dark-hover-spacing: 16px;
	$button-secondary-dark-hover-box-shadow: none;
	$button-secondary-dark-hover-opacity: 1;
	$button-secondary-dark-hover-font-family: 'Inter';
	$button-secondary-dark-hover-font-size: 14px;
	$button-secondary-dark-hover-font-weight: 600;
	$button-secondary-dark-hover-line-height: 1.286;
	$button-secondary-dark-hover-letter-spacing: -.28px;
	$button-secondary-dark-hover-text-align: center;
	$button-secondary-dark-hover-text-decoration: none;
	$button-secondary-dark-hover-text-transform: none;
	$button-secondary-dark-hover-color: #ffffff;

// Button, type: secondary, theme: dark, state: default
	$button-secondary-dark-background: #4c34b6;
	$button-secondary-dark-border-width: 1px;
	$button-secondary-dark-border-radius: 4px;
	$button-secondary-dark-border-color: rgba(0, 0, 0, 0);
	$button-secondary-dark-border-style: solid;
	$button-secondary-dark-padding-y: 13px;
	$button-secondary-dark-padding-x: 20px;
	$button-secondary-dark-padding-top: 13px;
	$button-secondary-dark-padding-right: 20px;
	$button-secondary-dark-padding-bottom: 13px;
	$button-secondary-dark-padding-left: 20px;
	$button-secondary-dark-padding-start: 20px;
	$button-secondary-dark-padding-end: 20px;
	$button-secondary-dark-spacing: 16px;
	$button-secondary-dark-box-shadow: none;
	$button-secondary-dark-opacity: 1;
	$button-secondary-dark-font-family: 'Inter';
	$button-secondary-dark-font-size: 14px;
	$button-secondary-dark-font-weight: 600;
	$button-secondary-dark-line-height: 1.286;
	$button-secondary-dark-letter-spacing: -.28px;
	$button-secondary-dark-text-align: center;
	$button-secondary-dark-text-decoration: none;
	$button-secondary-dark-text-transform: none;
	$button-secondary-dark-color: #ffffff;

// Button, type: secondary, theme: light, state: hover
	$button-secondary-hover-background: #3b2794;
	$button-secondary-hover-border-width: 1px;
	$button-secondary-hover-border-radius: 4px;
	$button-secondary-hover-border-color: rgba(0, 0, 0, 0);
	$button-secondary-hover-border-style: solid;
	$button-secondary-hover-padding-y: 13px;
	$button-secondary-hover-padding-x: 20px;
	$button-secondary-hover-padding-top: 13px;
	$button-secondary-hover-padding-right: 20px;
	$button-secondary-hover-padding-bottom: 13px;
	$button-secondary-hover-padding-left: 20px;
	$button-secondary-hover-padding-start: 20px;
	$button-secondary-hover-padding-end: 20px;
	$button-secondary-hover-spacing: 16px;
	$button-secondary-hover-box-shadow: none;
	$button-secondary-hover-opacity: 1;
	$button-secondary-hover-font-family: 'Inter';
	$button-secondary-hover-font-size: 14px;
	$button-secondary-hover-font-weight: 600;
	$button-secondary-hover-line-height: 1.286;
	$button-secondary-hover-letter-spacing: -.28px;
	$button-secondary-hover-text-align: center;
	$button-secondary-hover-text-decoration: none;
	$button-secondary-hover-text-transform: none;
	$button-secondary-hover-color: #ffffff;

// Button, type: secondary, theme: light, state: default
	$button-secondary-background: #4c34b6;
	$button-secondary-border-width: 1px;
	$button-secondary-border-radius: 4px;
	$button-secondary-border-color: rgba(0, 0, 0, 0);
	$button-secondary-border-style: solid;
	$button-secondary-padding-y: 13px;
	$button-secondary-padding-x: 20px;
	$button-secondary-padding-top: 13px;
	$button-secondary-padding-right: 20px;
	$button-secondary-padding-bottom: 13px;
	$button-secondary-padding-left: 20px;
	$button-secondary-padding-start: 20px;
	$button-secondary-padding-end: 20px;
	$button-secondary-spacing: 16px;
	$button-secondary-box-shadow: none;
	$button-secondary-opacity: 1;
	$button-secondary-font-family: 'Inter';
	$button-secondary-font-size: 14px;
	$button-secondary-font-weight: 600;
	$button-secondary-line-height: 1.286;
	$button-secondary-letter-spacing: -.28px;
	$button-secondary-text-align: center;
	$button-secondary-text-decoration: none;
	$button-secondary-text-transform: none;
	$button-secondary-color: #ffffff;

// Button, type: primary, theme: dark, state: hover
	$button-primary-dark-hover-background: #258cf2;
	$button-primary-dark-hover-border-width: 1px;
	$button-primary-dark-hover-border-radius: 4px;
	$button-primary-dark-hover-border-color: rgba(0, 0, 0, 0);
	$button-primary-dark-hover-border-style: solid;
	$button-primary-dark-hover-padding-y: 13px;
	$button-primary-dark-hover-padding-x: 20px;
	$button-primary-dark-hover-padding-top: 13px;
	$button-primary-dark-hover-padding-right: 20px;
	$button-primary-dark-hover-padding-bottom: 13px;
	$button-primary-dark-hover-padding-left: 20px;
	$button-primary-dark-hover-padding-start: 20px;
	$button-primary-dark-hover-padding-end: 20px;
	$button-primary-dark-hover-spacing: 16px;
	$button-primary-dark-hover-box-shadow: none;
	$button-primary-dark-hover-opacity: 1;
	$button-primary-dark-hover-font-family: 'Inter';
	$button-primary-dark-hover-font-size: 14px;
	$button-primary-dark-hover-font-weight: 600;
	$button-primary-dark-hover-line-height: 1.286;
	$button-primary-dark-hover-letter-spacing: -.28px;
	$button-primary-dark-hover-text-align: center;
	$button-primary-dark-hover-text-decoration: none;
	$button-primary-dark-hover-text-transform: none;
	$button-primary-dark-hover-color: #ffffff;

// Button, type: primary, theme: dark, state: default
	$button-primary-dark-background: #0073e6;
	$button-primary-dark-border-width: 1px;
	$button-primary-dark-border-radius: 4px;
	$button-primary-dark-border-color: rgba(0, 0, 0, 0);
	$button-primary-dark-border-style: solid;
	$button-primary-dark-padding-y: 13px;
	$button-primary-dark-padding-x: 20px;
	$button-primary-dark-padding-top: 13px;
	$button-primary-dark-padding-right: 20px;
	$button-primary-dark-padding-bottom: 13px;
	$button-primary-dark-padding-left: 20px;
	$button-primary-dark-padding-start: 20px;
	$button-primary-dark-padding-end: 20px;
	$button-primary-dark-spacing: 16px;
	$button-primary-dark-box-shadow: none;
	$button-primary-dark-opacity: 1;
	$button-primary-dark-font-family: 'Inter';
	$button-primary-dark-font-size: 14px;
	$button-primary-dark-font-weight: 600;
	$button-primary-dark-line-height: 1.286;
	$button-primary-dark-letter-spacing: -.28px;
	$button-primary-dark-text-align: center;
	$button-primary-dark-text-decoration: none;
	$button-primary-dark-text-transform: none;
	$button-primary-dark-color: #ffffff;

// Button, type: primary, theme: light, state: hover
	$button-primary-hover-background: #0f69c1;
	$button-primary-hover-border-width: 1px;
	$button-primary-hover-border-radius: 4px;
	$button-primary-hover-border-color: rgba(0, 0, 0, 0);
	$button-primary-hover-border-style: solid;
	$button-primary-hover-padding-y: 13px;
	$button-primary-hover-padding-x: 20px;
	$button-primary-hover-padding-top: 13px;
	$button-primary-hover-padding-right: 20px;
	$button-primary-hover-padding-bottom: 13px;
	$button-primary-hover-padding-left: 20px;
	$button-primary-hover-padding-start: 20px;
	$button-primary-hover-padding-end: 20px;
	$button-primary-hover-spacing: 16px;
	$button-primary-hover-box-shadow: none;
	$button-primary-hover-opacity: 1;
	$button-primary-hover-font-family: 'Inter';
	$button-primary-hover-font-size: 14px;
	$button-primary-hover-font-weight: 600;
	$button-primary-hover-line-height: 1.286;
	$button-primary-hover-letter-spacing: -.28px;
	$button-primary-hover-text-align: center;
	$button-primary-hover-text-decoration: none;
	$button-primary-hover-text-transform: none;
	$button-primary-hover-color: #ffffff;

// Button, type: primary, theme: light, state: default
	$button-primary-background: #0073e6;
	$button-primary-border-width: 1px;
	$button-primary-border-radius: 4px;
	$button-primary-border-color: rgba(0, 0, 0, 0);
	$button-primary-border-style: solid;
	$button-primary-padding-y: 13px;
	$button-primary-padding-x: 20px;
	$button-primary-padding-top: 13px;
	$button-primary-padding-right: 20px;
	$button-primary-padding-bottom: 13px;
	$button-primary-padding-left: 20px;
	$button-primary-padding-start: 20px;
	$button-primary-padding-end: 20px;
	$button-primary-spacing: 16px;
	$button-primary-box-shadow: 0px 2px 4px rgba(0, 0, 0, .08);
	$button-primary-opacity: 1;
	$button-primary-font-family: 'Inter';
	$button-primary-font-size: 14px;
	$button-primary-font-weight: 600;
	$button-primary-line-height: 1.286;
	$button-primary-letter-spacing: -.28px;
	$button-primary-text-align: center;
	$button-primary-text-decoration: none;
	$button-primary-text-transform: none;
	$button-primary-color: #ffffff;