<head>
  <link rel="stylesheet" href="/api/component/main.css" />
  {{{style}}}
  {{{script}}}
</head>

<body class="theme preview-body">
  <div class="alert alert-{{ properties.Type }} w-100 mb-0" role="alert">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  </div>
</body>