<head>
  <link rel="stylesheet" href="/api/component/main.css" />
  {{{style}}}
  {{{script}}}
</head>

<body class="theme preview-body">
  <div class="alert alert-{{ variant.Type }} w-100 mb-0" role="alert">
    {{properties.alert}}
  </div>
</body>