<head>
  {{{style}}}
</head>

<body class="preview-body">
  <div class="mb-3">
    <label class="form-label" for="formText">Input Label</label>
    <input type="text" class="form-control" id="formText" placeholder="Placeholder...">
    <div class="form-text">Additional Info</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="formTextarea">Input Label</label>
    <textarea class="form-control" id="formTextarea" rows="3" placeholder="Placeholder..."></textarea>
    <div class="form-text">Additional Info</div>
  </div>
</body>