/* ==================================================================
   HERO (components/_hero.scss)
===================================================================== */


.hero {
	> [class*="container"] {
		justify-content: center;
		display: flex;
		flex-direction: column;
		min-height: rem( 500px );
	}

	.desc {
		&.desc-large {
			font-size: $font-size-lg;
			
			@include media-breakpoint-up(lg) {
				font-size: $font-size-xl;
			}

			@include media-breakpoint-up(xl) {
				font-size: $font-size-3xl;
			}
		}
	}
}
