/* ==================================================================
   TESTIMONIAL (components/_testimonial.scss)
===================================================================== */


.blockquote-footer {
	margin-top: math.div($blockquote-margin-y, 2);
	padding-left: $blockquote-footer-name-font-size * $line-height-md;

	&::before {
		float: left;
		margin-top: $spacer-sm;
		margin-left: $blockquote-footer-name-font-size * $line-height-md * -1;
		line-height: $blockquote-footer-name-font-size * $line-height-md;
		content: "\2014\00A0"; // em dash, nbsp
	}
	
	figcaption {
		font-weight: $font-weight-normal;

		span {
			display: block;
			font-weight: $blockquote-footer-name-font-weight;
			font-size: $blockquote-footer-name-font-size;
			color: $blockquote-footer-name-color;
		}
	}
}

.testimonial {
	position: relative;
	z-index: 1;

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: - rem(32px);
		left: - rem(16px);
		width: rem(85px);
		height: rem(60px);
		background: $blockquote-icon-bg;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: contain;
		filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
		opacity: .1;
		pointer-events: none;

		@include media-breakpoint-up(sm) {
			top: - rem(60px);
			left: - rem(40px);
			width: rem(170px);
			height: rem(120px);
		}
	}

	blockquote {
		@include font-size($h2-font-size);
	}
}
