/* ==================================================================
   Videos (components/_videos.scss)
===================================================================== */


.video-tabs {
	--#{$prefix}nav-link-padding-y: 0;
	--#{$prefix}nav-link-padding-x: 0;

	.nav-item {
		.nav-link {
			margin-bottom: $spacer;
			color: var( --#{$prefix}text-base );
			border-bottom: $border-width solid $border-base;

			.tab-headline {
				margin-bottom: $spacer-sm;
				transition: all $transition-speed;
			}
		}

		&:last-child {
			.nav-link {
				border-bottom: none;
			}
		}

		&:hover {
			.tab-headline {
				color: $primary;
			}
		}

		.active {
			.tab-headline {
				color: $primary;
			}
		}
	}
}
