/* ==================================================================
   BADGES (variables/_badges.scss)
===================================================================== */


$badge-font-size:             .75em;
$badge-font-weight:           $font-weight-bold;
$badge-color:                 $white;
$badge-padding-y:             .35em;
$badge-padding-x:             .65em;
$badge-border-radius:         $border-radius;
