/* ==================================================================
   COMPONENTS (variables/_components.scss)
===================================================================== */

// General style

$component-active-color:      $white;
$component-active-bg:         $primary;

// Carets

$caret-width:                 .3em;
$caret-vertical-align:        $caret-width * .85;
$caret-spacing:               $caret-width * .85;
