/* ==================================================================
   IMAGES (variables/_images.scss)
===================================================================== */


// Thumbnails

$thumbnail-padding:           rem( 4px );
$thumbnail-bg:                $body-bg;
$thumbnail-border-width:      $border-width;
$thumbnail-border-color:      var( --#{$prefix}border-color );
$thumbnail-border-radius:     $border-radius;
$thumbnail-box-shadow:        $box-shadow-sm;

// Figures

$figure-caption-font-size:    $font-size-xs;
$figure-caption-color:        var( --#{$prefix}text-muted );
