/* ==================================================================
   INPUT-BTN (variables/_input-btn.scss)
===================================================================== */


$input-btn-font-family:       null;
$input-btn-line-height:       $line-height-sm;
$input-btn-border-width:      $border-width;

$input-btn-height-sm:         rem( 40px );
$input-btn-height:            rem( 44px );
$input-btn-height-lg:         rem( 48px );

$input-btn-font-size-sm:      $font-size-sm;
$input-btn-font-size:         $font-size-md;
$input-btn-font-size-lg:      $font-size-lg;

$input-btn-padding-y-sm:      math.div( $input-btn-height-sm - $input-btn-font-size-sm - ( 2 * $input-btn-border-width ), 2 );
$input-btn-padding-y:         math.div( $input-btn-height - $input-btn-font-size - ( 2 * $input-btn-border-width ), 2 );
$input-btn-padding-y-lg:      math.div( $input-btn-height-lg - $input-btn-font-size-lg - ( 2 * $input-btn-border-width ), 2 );

$input-btn-padding-x-sm:      rem( 16px );
$input-btn-padding-x:         rem( 20px );
$input-btn-padding-x-lg:      rem( 24px );

$input-btn-focus-width:         rem( 4px );
$input-btn-focus-color-opacity: .25;
$input-btn-focus-color:         rgba( $component-active-bg, $input-btn-focus-color-opacity );
$input-btn-focus-blur:          0;
$input-btn-focus-box-shadow:    0 0 $input-btn-focus-blur $input-btn-focus-width $input-btn-focus-color;
