/* ==================================================================
   POPOVERS (variables/_popovers.scss)
===================================================================== */


$popover-font-size:           $font-size-sm;
$popover-bg:                  $white;
$popover-max-width:           rem( 276px );
$popover-border-width:        $border-width;
$popover-border-color:        var( --#{$prefix}border-color-translucent );
$popover-border-radius:       $border-radius-lg;
$popover-inner-border-radius: subtract( $popover-border-radius, $popover-border-width );
$popover-box-shadow:          $box-shadow;

$popover-header-font-size:    $font-size-base;
$popover-header-bg:           shade-color( $popover-bg, 6% );
$popover-header-color:        $headings-color;
$popover-header-padding-y:    rem( 8px );
$popover-header-padding-x:    $spacer;

$popover-body-color:          $body-color;
$popover-body-padding-y:      $spacer;
$popover-body-padding-x:      $spacer;

$popover-arrow-width:         rem( 16px );
$popover-arrow-height:        rem( 8px );

// Deprecated in Bootstrap 5.2.0 for CSS variables
$popover-arrow-color:         $popover-bg;
$popover-arrow-outer-color:   var( --#{$prefix}border-color-translucent );
