/* ==================================================================
   PROGRESS (variables/_progress.scss)
===================================================================== */


$progress-height:               rem( 16px );
$progress-font-size:            $font-size-xs;
$progress-bg:                   $gray-200;
$progress-border-radius:        $border-radius;
$progress-box-shadow:           $box-shadow-inset;
$progress-bar-color:            $white;
$progress-bar-bg:               $primary;
$progress-bar-animation-timing: 1s linear infinite;
$progress-bar-transition:       width .6s ease;
