<head>
  <link rel="stylesheet" href="/api/component/main.css" />
  {{{style}}}
  {{{script}}}
</head>

<body class="theme preview-body">
  <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
    title="Tooltip on top">
    Hover to see tooltip
  </button>
</body>