/* ==================================================================
   BREADCRUMBS (variables/_breadcrumbs.scss)
===================================================================== */


$breadcrumb-font-size:        null;
$breadcrumb-padding-y:        0;
$breadcrumb-padding-x:        0;
$breadcrumb-item-padding-x:   rem( 8px );
$breadcrumb-margin-bottom:    $spacer;
$breadcrumb-bg:               null;
$breadcrumb-divider-color:    $gray-600;
$breadcrumb-active-color:     $gray-600;
$breadcrumb-divider:          quote( '/' );
$breadcrumb-divider-flipped:  $breadcrumb-divider;
$breadcrumb-border-radius:    null;
