/* ==================================================================
   COLORS (variables/_colors.scss)
===================================================================== */


$primary:                     #0073E6;
$primary-100:                 #F1F7F9;
$primary-400:                 tint-color( $primary, 20% );
$primary-500:                 $primary;
$primary-600:                 shade-color( $primary, 20% );
$primary-900:                 #00478E;

$secondary:                   #4C34B6;
$secondary-400:               tint-color( $secondary, 20% );
$secondary-500:               $secondary;
$secondary-600:               shade-color( $secondary, 20% );
$secondary-900:               #1D1349;

$tertiary:                    #752392;
$tertiary-200:                #D496F1;
$tertiary-300:                #CA3EFB;
$tertiary-400:                tint-color( $tertiary, 20% );
$tertiary-500:                $tertiary;
$tertiary-600:                shade-color( $tertiary, 20% );



$success:                     #198754;
$info:                        #307abf;
$warning:                     #ffc107;
$danger:                      #dc3545;

$white:                       #fff;
$gray-50:                     #FAFAFA;
$gray-100:                    #F4F3F0;
$gray-200:                    #e5e5e5;
$gray-300:                    #ccc;
$gray-400:                    #aaa;
$gray-500:                    #888;
$gray-600:                    #6e6e6e;
$gray-700:                    #555;
$gray-800:                    #333;
$gray-900:                    #191919;
$black:                       #000;

$light:                       $gray-100;
$dark:                        $gray-900;

// Contrast

$min-contrast-ratio:          4.5;

$color-contrast-dark:         $black;
$color-contrast-light:        $white;


$theme-colors: (
	'primary':    $primary,
	'secondary':  $secondary,
	'tertiary':   $tertiary,
	'success':    $success,
	'info':       $info,
	'warning':    $warning,
	'danger':     $danger,
	'light':      $light,
	'dark':       $dark
);
