/* ==================================================================
   SPINNERS (variables/_spinners.scss)
===================================================================== */


$spinner-width-sm:        rem( 16px );
$spinner-width:           rem( 32px );

$spinner-height-sm:       $spinner-width-sm;
$spinner-height:          $spinner-width;

$spinner-border-width-sm: .2em;
$spinner-border-width:    .25em;

$spinner-vertical-align:  -.125em;

$spinner-animation-speed: .75s;
