$badge-type-map: ( "primary", "outline-danger", "danger", "outline-secondary", "outline-primary", "light", "dark", "secondary" );

$badge-theme-map: ( "dark", "light" );

$badge-state-map: ( "disabled", "hover", "default" );
