$button-type-map: ( "primary", "outline-danger", "danger", "outline-secondary", "outline-primary", "light", "dark", "secondary" );

$button-theme-map: ( "dark", "" );

$button-state-map: ( "disabled", "hover", "" );
