$button-variants: ( "outline-danger", "danger", "outline-secondary", "outline-primary", "light", "dark", "secondary", "primary");

$button-sizes: ( "sm", "md", "lg" );

$button-themes: ( "dark", "light" );

$button-states: ( "hover", "", "disabled" );
