$button-variants: ( "custom-type", "outline-secondary", "danger", "light", "dark", "secondary", "primary");

$button-sizes: ( "sm", "md", "lg" );

$button-themes: ( "light", "dark" );

$button-states: ( "hover", "", "disabled" );
