$button-variants: ( "primary", "custom-type", "outline-secondary", "danger", "light", "dark", "secondary");

$button-sizes: ( "sm", "md", "lg" );

$button-themes: ( "dark", "light" );

$button-states: ( "", "hover", "disabled" );
