<head>
  {{{style}}}
</head>

<body class="preview-body">
  <button class="btn btn-{{properties.Type}}" href="{{properties.url}}" {{#if (eq properties.State "disabled" )}}
    disabled{{/if}}>
    <span class='link-icon link-icon-arrow'>
      <svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'>
        <path fill='#0D1116'
          d='M.285 12.877a.4.4 0 0 1-.001-.567L10.593 1.994h-8.49a.4.4 0 0 1-.4-.4V.4c0-.22.18-.4.4-.4H14v11.899a.4.4 0 0 1-.396.4l-1.193.012a.4.4 0 0 1-.404-.4V3.4L1.697 13.717a.4.4 0 0 1-.565 0l-.847-.841Z' />
      </svg>
    </span>
    Button
  </button>
</body>