<head>
  <link rel="stylesheet" href="/api/component/main.css" />
  {{{style}}}
  {{{script}}}
</head>

<body class="theme preview-body">
  <div class="mb-3">
    <label class="form-label d-block" id="exampleRadioGroup">Example radio buttons</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadio1" value="option1" checked>
      <label class="form-check-label" for="exampleRadio1">
        Option one
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadio2" value="option2">
      <label class="form-check-label" for="exampleRadio2">
        Option two
      </label>
    </div>
    <div class="form-check disabled">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadio3" value="option3" disabled>
      <label class="form-check-label" for="exampleRadio3">
        Option three (disabled)
      </label>
    </div>
  </div>
</body>