// Default modal
$modal-background: #ffffff;
$modal-border-width: 1px;
$modal-border-radius: 6px;
$modal-border-color: transparent;
$modal-padding-y: 0px;
$modal-padding-x: 0px;
$modal-padding-top: 0px;
$modal-padding-right: 0px;
$modal-padding-bottom: 0px;
$modal-padding-left: 0px;
$modal-padding-start: 0px;
$modal-padding-end: 0px;
$modal-spacing: 0px;
$modal-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05), 0px 4px 20px rgba(0, 0, 0, 0.1);
$modal-header-background: transparent;
$modal-header-padding-y: 10px;
$modal-header-padding-x: 24px;
$modal-header-padding-top: 20px;
$modal-header-padding-right: 24px;
$modal-header-padding-bottom: 0px;
$modal-header-padding-left: 24px;
$modal-header-padding-start: 24px;
$modal-header-padding-end: 24px;
$modal-header-spacing: 0px;
$modal-header-border-width: 1px;
$modal-header-border-radius: 6px;
$modal-header-border-color: transparent;
$modal-header-box-shadow: none;
$modal-title-font-family: 'Inter';
$modal-title-font-size: 18px;
$modal-title-font-weight: 700;
$modal-title-line-height: 1.6;
$modal-title-letter-spacing: -0.36px;
$modal-title-text-align: center;
$modal-title-text-decoration: none;
$modal-title-text-transform: none;
$modal-title-color: rgba(0, 0, 0, 0.8);
$modal-body-background: transparent;
$modal-body-padding-y: 19px;
$modal-body-padding-x: 24px;
$modal-body-padding-top: 10px;
$modal-body-padding-right: 24px;
$modal-body-padding-bottom: 28px;
$modal-body-padding-left: 24px;
$modal-body-padding-start: 24px;
$modal-body-padding-end: 24px;
$modal-body-spacing: 0px;
$modal-body-border-width: 1px;
$modal-body-border-radius: 0px;
$modal-body-border-color: transparent;
$modal-body-box-shadow: none;
$modal-footer-background: transparent;
$modal-footer-padding-y: 12px;
$modal-footer-padding-x: 24px;
$modal-footer-padding-top: 12px;
$modal-footer-padding-right: 24px;
$modal-footer-padding-bottom: 12px;
$modal-footer-padding-left: 24px;
$modal-footer-padding-start: 24px;
$modal-footer-padding-end: 24px;
$modal-footer-spacing: 0px;
$modal-footer-border-width: 1px;
$modal-footer-border-radius: 0px;
$modal-footer-border-color: rgba(100.00000163912773, 100.00000163912773, 100.00000163912773, 0.15);
$modal-footer-box-shadow: none;

// Modal, size: small
$modal-sm-background: #000000;
$modal-sm-border-width: 1px;
$modal-sm-border-radius: 4px;
$modal-sm-border-color: rgba(0, 0, 0, 0);
$modal-sm-padding-y: 0px;
$modal-sm-padding-x: 0px;
$modal-sm-padding-top: 0px;
$modal-sm-padding-right: 0px;
$modal-sm-padding-bottom: 0px;
$modal-sm-padding-left: 0px;
$modal-sm-padding-start: 0px;
$modal-sm-padding-end: 0px;
$modal-sm-spacing: 0px;
$modal-sm-box-shadow: none;
$modal-sm-header-background: transparent;
$modal-sm-header-padding-y: 16px;
$modal-sm-header-padding-x: 20px;
$modal-sm-header-padding-top: 16px;
$modal-sm-header-padding-right: 20px;
$modal-sm-header-padding-bottom: 16px;
$modal-sm-header-padding-left: 20px;
$modal-sm-header-padding-start: 20px;
$modal-sm-header-padding-end: 20px;
$modal-sm-header-spacing: 0px;
$modal-sm-header-border-width: 1px;
$modal-sm-header-border-radius: 0px;
$modal-sm-header-border-color: #686868;
$modal-sm-header-box-shadow: none;
$modal-sm-title-font-family: 'Inter';
$modal-sm-title-font-size: 20px;
$modal-sm-title-font-weight: 600;
$modal-sm-title-line-height: 1.3;
$modal-sm-title-letter-spacing: -0.4px;
$modal-sm-title-text-align: center;
$modal-sm-title-text-decoration: none;
$modal-sm-title-text-transform: none;
$modal-sm-title-color: #ffffff;
$modal-sm-body-background: transparent;
$modal-sm-body-padding-y: 18px;
$modal-sm-body-padding-x: 20px;
$modal-sm-body-padding-top: 18px;
$modal-sm-body-padding-right: 20px;
$modal-sm-body-padding-bottom: 18px;
$modal-sm-body-padding-left: 20px;
$modal-sm-body-padding-start: 20px;
$modal-sm-body-padding-end: 20px;
$modal-sm-body-spacing: 0px;
$modal-sm-body-border-width: 1px;
$modal-sm-body-border-radius: 0px;
$modal-sm-body-border-color: transparent;
$modal-sm-body-box-shadow: none;
$modal-sm-footer-background: transparent;
$modal-sm-footer-padding-y: 12px;
$modal-sm-footer-padding-x: 20px;
$modal-sm-footer-padding-top: 12px;
$modal-sm-footer-padding-right: 20px;
$modal-sm-footer-padding-bottom: 12px;
$modal-sm-footer-padding-left: 20px;
$modal-sm-footer-padding-start: 20px;
$modal-sm-footer-padding-end: 20px;
$modal-sm-footer-spacing: 0px;
$modal-sm-footer-border-width: 1px;
$modal-sm-footer-border-radius: 0px;
$modal-sm-footer-border-color: #686868;
$modal-sm-footer-box-shadow: none;

// Modal, size: medium
$modal-md-background: #000000;
$modal-md-border-width: 1px;
$modal-md-border-radius: 6px;
$modal-md-border-color: rgba(0, 0, 0, 0);
$modal-md-padding-y: 0px;
$modal-md-padding-x: 0px;
$modal-md-padding-top: 0px;
$modal-md-padding-right: 0px;
$modal-md-padding-bottom: 0px;
$modal-md-padding-left: 0px;
$modal-md-padding-start: 0px;
$modal-md-padding-end: 0px;
$modal-md-spacing: 0px;
$modal-md-box-shadow: none;
$modal-md-header-background: transparent;
$modal-md-header-padding-y: 20px;
$modal-md-header-padding-x: 24px;
$modal-md-header-padding-top: 20px;
$modal-md-header-padding-right: 24px;
$modal-md-header-padding-bottom: 20px;
$modal-md-header-padding-left: 24px;
$modal-md-header-padding-start: 24px;
$modal-md-header-padding-end: 24px;
$modal-md-header-spacing: 0px;
$modal-md-header-border-width: 1px;
$modal-md-header-border-radius: 0px;
$modal-md-header-border-color: #686868;
$modal-md-header-box-shadow: none;
$modal-md-title-font-family: 'Inter';
$modal-md-title-font-size: 20px;
$modal-md-title-font-weight: 600;
$modal-md-title-line-height: 1.3;
$modal-md-title-letter-spacing: -0.4px;
$modal-md-title-text-align: center;
$modal-md-title-text-decoration: none;
$modal-md-title-text-transform: none;
$modal-md-title-color: #ffffff;
$modal-md-body-background: transparent;
$modal-md-body-padding-y: 18px;
$modal-md-body-padding-x: 24px;
$modal-md-body-padding-top: 18px;
$modal-md-body-padding-right: 24px;
$modal-md-body-padding-bottom: 18px;
$modal-md-body-padding-left: 24px;
$modal-md-body-padding-start: 24px;
$modal-md-body-padding-end: 24px;
$modal-md-body-spacing: 0px;
$modal-md-body-border-width: 1px;
$modal-md-body-border-radius: 0px;
$modal-md-body-border-color: transparent;
$modal-md-body-box-shadow: none;
$modal-md-footer-background: transparent;
$modal-md-footer-padding-y: 12px;
$modal-md-footer-padding-x: 24px;
$modal-md-footer-padding-top: 12px;
$modal-md-footer-padding-right: 24px;
$modal-md-footer-padding-bottom: 12px;
$modal-md-footer-padding-left: 24px;
$modal-md-footer-padding-start: 24px;
$modal-md-footer-padding-end: 24px;
$modal-md-footer-spacing: 0px;
$modal-md-footer-border-width: 1px;
$modal-md-footer-border-radius: 0px;
$modal-md-footer-border-color: #686868;
$modal-md-footer-box-shadow: none;

// Modal, size: large
$modal-lg-background: #000000;
$modal-lg-border-width: 1px;
$modal-lg-border-radius: 8px;
$modal-lg-border-color: rgba(0, 0, 0, 0);
$modal-lg-padding-y: 0px;
$modal-lg-padding-x: 0px;
$modal-lg-padding-top: 0px;
$modal-lg-padding-right: 0px;
$modal-lg-padding-bottom: 0px;
$modal-lg-padding-left: 0px;
$modal-lg-padding-start: 0px;
$modal-lg-padding-end: 0px;
$modal-lg-spacing: 0px;
$modal-lg-box-shadow: none;
$modal-lg-header-background: transparent;
$modal-lg-header-padding-y: 22px;
$modal-lg-header-padding-x: 28px;
$modal-lg-header-padding-top: 22px;
$modal-lg-header-padding-right: 28px;
$modal-lg-header-padding-bottom: 22px;
$modal-lg-header-padding-left: 28px;
$modal-lg-header-padding-start: 28px;
$modal-lg-header-padding-end: 28px;
$modal-lg-header-spacing: 0px;
$modal-lg-header-border-width: 1px;
$modal-lg-header-border-radius: 0px;
$modal-lg-header-border-color: #686868;
$modal-lg-header-box-shadow: none;
$modal-lg-title-font-family: 'Inter';
$modal-lg-title-font-size: 24px;
$modal-lg-title-font-weight: 500;
$modal-lg-title-line-height: 1.3;
$modal-lg-title-letter-spacing: -0.48px;
$modal-lg-title-text-align: center;
$modal-lg-title-text-decoration: none;
$modal-lg-title-text-transform: none;
$modal-lg-title-color: #ffffff;
$modal-lg-body-background: transparent;
$modal-lg-body-padding-y: 18px;
$modal-lg-body-padding-x: 28px;
$modal-lg-body-padding-top: 18px;
$modal-lg-body-padding-right: 28px;
$modal-lg-body-padding-bottom: 18px;
$modal-lg-body-padding-left: 28px;
$modal-lg-body-padding-start: 28px;
$modal-lg-body-padding-end: 28px;
$modal-lg-body-spacing: 0px;
$modal-lg-body-border-width: 1px;
$modal-lg-body-border-radius: 0px;
$modal-lg-body-border-color: transparent;
$modal-lg-body-box-shadow: none;
$modal-lg-footer-background: transparent;
$modal-lg-footer-padding-y: 12px;
$modal-lg-footer-padding-x: 28px;
$modal-lg-footer-padding-top: 12px;
$modal-lg-footer-padding-right: 28px;
$modal-lg-footer-padding-bottom: 12px;
$modal-lg-footer-padding-left: 28px;
$modal-lg-footer-padding-start: 28px;
$modal-lg-footer-padding-end: 28px;
$modal-lg-footer-spacing: 0px;
$modal-lg-footer-border-width: 1px;
$modal-lg-footer-border-radius: 0px;
$modal-lg-footer-border-color: #686868;
$modal-lg-footer-box-shadow: none;