/* ==================================================================
   ROOT (generic/_root.scss)
===================================================================== */


$text-utility-colors: map-loop( $text-colors, css-var, '$key' );

$bg-colors-rgb: map-loop( $bg-colors, to-rgb, '$value' );
$bg-utility-colors: map-loop( $bg-colors, rgba-css-var, '$key', 'bg' );

$border-utility-colors: map-loop( $border-colors, css-var, '$key' );


:root {
	@each $color, $value in $text-colors {
		--#{$prefix}#{$color}: #{$value};
	}

	@each $color, $value in $bg-colors {
		--#{$prefix}#{$color}: #{$value};
	}

	@each $color, $value in $bg-colors-rgb {
		--#{$prefix}#{$color}-rgb: #{$value};
	}

	@each $color, $value in $border-colors {
		--#{$prefix}#{$color}: #{$value};
	}
	--bg-opacity: 1;
}
