.radio {

	/* Radio, state: disabled, activity: on, theme: dark */
	--radio-label-disabled-on-dark-font-family: var(--typography-form-placeholder-medium-font-family);
	--radio-label-disabled-on-dark-font-size: var(--typography-form-placeholder-medium-font-size);
	--radio-label-disabled-on-dark-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--radio-label-disabled-on-dark-line-height: var(--typography-form-placeholder-medium-line-height);
	--radio-label-disabled-on-dark-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--radio-label-disabled-on-dark-text-align: left;
	--radio-label-disabled-on-dark-text-decoration: none;
	--radio-label-disabled-on-dark-text-transform: none;
	--radio-label-disabled-on-dark-color: var(--color-text-soft-invert);
	--radio-label-disabled-on-dark-opacity: 1;
	--radio-thumb-disabled-on-dark-border-width: 1px;
	--radio-thumb-disabled-on-dark-border-radius: 0px;
	--radio-thumb-disabled-on-dark-border-color: transparent;
	--radio-thumb-disabled-on-dark-border-style: solid;
	--radio-thumb-disabled-on-dark-color: var(--color-neutral-white);
	--radio-thumb-disabled-on-dark-width: 8px;
	--radio-thumb-disabled-on-dark-width-raw: 8;
	--radio-thumb-disabled-on-dark-height: 8px;
	--radio-thumb-disabled-on-dark-height-raw: 8;
	--radio-check-disabled-on-dark-padding-y: 0px;
	--radio-check-disabled-on-dark-padding-x: 0px;
	--radio-check-disabled-on-dark-padding-top: 0px;
	--radio-check-disabled-on-dark-padding-right: 0px;
	--radio-check-disabled-on-dark-padding-bottom: 0px;
	--radio-check-disabled-on-dark-padding-left: 0px;
	--radio-check-disabled-on-dark-padding-start: 0px;
	--radio-check-disabled-on-dark-padding-end: 0px;
	--radio-check-disabled-on-dark-spacing: 0px;
	--radio-check-disabled-on-dark-width: 18px;
	--radio-check-disabled-on-dark-width-raw: 18;
	--radio-check-disabled-on-dark-height: 18px;
	--radio-check-disabled-on-dark-height-raw: 18;

	/* Radio, state: hover, activity: on, theme: dark */
	--radio-label-hover-on-dark-font-family: var(--typography-form-placeholder-medium-font-family);
	--radio-label-hover-on-dark-font-size: var(--typography-form-placeholder-medium-font-size);
	--radio-label-hover-on-dark-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--radio-label-hover-on-dark-line-height: var(--typography-form-placeholder-medium-line-height);
	--radio-label-hover-on-dark-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--radio-label-hover-on-dark-text-align: left;
	--radio-label-hover-on-dark-text-decoration: none;
	--radio-label-hover-on-dark-text-transform: none;
	--radio-label-hover-on-dark-color: var(--color-text-hard-invert);
	--radio-label-hover-on-dark-opacity: 1;
	--radio-thumb-hover-on-dark-border-width: 1px;
	--radio-thumb-hover-on-dark-border-radius: 0px;
	--radio-thumb-hover-on-dark-border-color: transparent;
	--radio-thumb-hover-on-dark-border-style: solid;
	--radio-thumb-hover-on-dark-color: var(--color-neutral-white);
	--radio-thumb-hover-on-dark-width: 8px;
	--radio-thumb-hover-on-dark-width-raw: 8;
	--radio-thumb-hover-on-dark-height: 8px;
	--radio-thumb-hover-on-dark-height-raw: 8;
	--radio-check-hover-on-dark-padding-y: 0px;
	--radio-check-hover-on-dark-padding-x: 0px;
	--radio-check-hover-on-dark-padding-top: 0px;
	--radio-check-hover-on-dark-padding-right: 0px;
	--radio-check-hover-on-dark-padding-bottom: 0px;
	--radio-check-hover-on-dark-padding-left: 0px;
	--radio-check-hover-on-dark-padding-start: 0px;
	--radio-check-hover-on-dark-padding-end: 0px;
	--radio-check-hover-on-dark-spacing: 0px;
	--radio-check-hover-on-dark-width: 18px;
	--radio-check-hover-on-dark-width-raw: 18;
	--radio-check-hover-on-dark-height: 18px;
	--radio-check-hover-on-dark-height-raw: 18;

	/* Radio, state: default, activity: on, theme: dark */
	--radio-label-default-on-dark-font-family: var(--typography-form-placeholder-medium-font-family);
	--radio-label-default-on-dark-font-size: var(--typography-form-placeholder-medium-font-size);
	--radio-label-default-on-dark-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--radio-label-default-on-dark-line-height: var(--typography-form-placeholder-medium-line-height);
	--radio-label-default-on-dark-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--radio-label-default-on-dark-text-align: left;
	--radio-label-default-on-dark-text-decoration: none;
	--radio-label-default-on-dark-text-transform: none;
	--radio-label-default-on-dark-color: var(--color-text-hard-invert);
	--radio-label-default-on-dark-opacity: 1;
	--radio-thumb-default-on-dark-border-width: 1px;
	--radio-thumb-default-on-dark-border-radius: 0px;
	--radio-thumb-default-on-dark-border-color: transparent;
	--radio-thumb-default-on-dark-border-style: solid;
	--radio-thumb-default-on-dark-color: var(--color-neutral-white);
	--radio-thumb-default-on-dark-width: 8px;
	--radio-thumb-default-on-dark-width-raw: 8;
	--radio-thumb-default-on-dark-height: 8px;
	--radio-thumb-default-on-dark-height-raw: 8;
	--radio-check-default-on-dark-padding-y: 0px;
	--radio-check-default-on-dark-padding-x: 0px;
	--radio-check-default-on-dark-padding-top: 0px;
	--radio-check-default-on-dark-padding-right: 0px;
	--radio-check-default-on-dark-padding-bottom: 0px;
	--radio-check-default-on-dark-padding-left: 0px;
	--radio-check-default-on-dark-padding-start: 0px;
	--radio-check-default-on-dark-padding-end: 0px;
	--radio-check-default-on-dark-spacing: 0px;
	--radio-check-default-on-dark-width: 18px;
	--radio-check-default-on-dark-width-raw: 18;
	--radio-check-default-on-dark-height: 18px;
	--radio-check-default-on-dark-height-raw: 18;

	/* Radio, state: disabled, activity: off, theme: dark */
	--radio-label-disabled-off-dark-font-family: var(--typography-form-placeholder-medium-font-family);
	--radio-label-disabled-off-dark-font-size: var(--typography-form-placeholder-medium-font-size);
	--radio-label-disabled-off-dark-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--radio-label-disabled-off-dark-line-height: var(--typography-form-placeholder-medium-line-height);
	--radio-label-disabled-off-dark-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--radio-label-disabled-off-dark-text-align: left;
	--radio-label-disabled-off-dark-text-decoration: none;
	--radio-label-disabled-off-dark-text-transform: none;
	--radio-label-disabled-off-dark-color: var(--color-text-soft-invert);
	--radio-label-disabled-off-dark-opacity: 1;
	--radio-thumb-disabled-off-dark-border-width: 1px;
	--radio-thumb-disabled-off-dark-border-radius: 0px;
	--radio-thumb-disabled-off-dark-border-color: transparent;
	--radio-thumb-disabled-off-dark-border-style: solid;
	--radio-thumb-disabled-off-dark-color: var(--color-neutral-white);
	--radio-thumb-disabled-off-dark-width: 8px;
	--radio-thumb-disabled-off-dark-width-raw: 8;
	--radio-thumb-disabled-off-dark-height: 8px;
	--radio-thumb-disabled-off-dark-height-raw: 8;
	--radio-check-disabled-off-dark-padding-y: 0px;
	--radio-check-disabled-off-dark-padding-x: 0px;
	--radio-check-disabled-off-dark-padding-top: 0px;
	--radio-check-disabled-off-dark-padding-right: 0px;
	--radio-check-disabled-off-dark-padding-bottom: 0px;
	--radio-check-disabled-off-dark-padding-left: 0px;
	--radio-check-disabled-off-dark-padding-start: 0px;
	--radio-check-disabled-off-dark-padding-end: 0px;
	--radio-check-disabled-off-dark-spacing: 0px;
	--radio-check-disabled-off-dark-width: 18px;
	--radio-check-disabled-off-dark-width-raw: 18;
	--radio-check-disabled-off-dark-height: 18px;
	--radio-check-disabled-off-dark-height-raw: 18;

	/* Radio, state: hover, activity: off, theme: dark */
	--radio-label-hover-off-dark-font-family: var(--typography-form-placeholder-medium-font-family);
	--radio-label-hover-off-dark-font-size: var(--typography-form-placeholder-medium-font-size);
	--radio-label-hover-off-dark-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--radio-label-hover-off-dark-line-height: var(--typography-form-placeholder-medium-line-height);
	--radio-label-hover-off-dark-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--radio-label-hover-off-dark-text-align: left;
	--radio-label-hover-off-dark-text-decoration: none;
	--radio-label-hover-off-dark-text-transform: none;
	--radio-label-hover-off-dark-color: var(--color-text-hard-invert);
	--radio-label-hover-off-dark-opacity: 1;
	--radio-thumb-hover-off-dark-border-width: 1px;
	--radio-thumb-hover-off-dark-border-radius: 0px;
	--radio-thumb-hover-off-dark-border-color: transparent;
	--radio-thumb-hover-off-dark-border-style: solid;
	--radio-thumb-hover-off-dark-color: var(--color-neutral-white);
	--radio-thumb-hover-off-dark-width: 8px;
	--radio-thumb-hover-off-dark-width-raw: 8;
	--radio-thumb-hover-off-dark-height: 8px;
	--radio-thumb-hover-off-dark-height-raw: 8;
	--radio-check-hover-off-dark-padding-y: 0px;
	--radio-check-hover-off-dark-padding-x: 0px;
	--radio-check-hover-off-dark-padding-top: 0px;
	--radio-check-hover-off-dark-padding-right: 0px;
	--radio-check-hover-off-dark-padding-bottom: 0px;
	--radio-check-hover-off-dark-padding-left: 0px;
	--radio-check-hover-off-dark-padding-start: 0px;
	--radio-check-hover-off-dark-padding-end: 0px;
	--radio-check-hover-off-dark-spacing: 0px;
	--radio-check-hover-off-dark-width: 18px;
	--radio-check-hover-off-dark-width-raw: 18;
	--radio-check-hover-off-dark-height: 18px;
	--radio-check-hover-off-dark-height-raw: 18;

	/* Radio, state: default, activity: off, theme: dark */
	--radio-label-default-off-dark-font-family: var(--typography-form-placeholder-medium-font-family);
	--radio-label-default-off-dark-font-size: var(--typography-form-placeholder-medium-font-size);
	--radio-label-default-off-dark-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--radio-label-default-off-dark-line-height: var(--typography-form-placeholder-medium-line-height);
	--radio-label-default-off-dark-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--radio-label-default-off-dark-text-align: left;
	--radio-label-default-off-dark-text-decoration: none;
	--radio-label-default-off-dark-text-transform: none;
	--radio-label-default-off-dark-color: var(--color-text-base-invert);
	--radio-label-default-off-dark-opacity: 1;
	--radio-thumb-default-off-dark-border-width: 1px;
	--radio-thumb-default-off-dark-border-radius: 0px;
	--radio-thumb-default-off-dark-border-color: transparent;
	--radio-thumb-default-off-dark-border-style: solid;
	--radio-thumb-default-off-dark-color: var(--color-neutral-white);
	--radio-thumb-default-off-dark-width: 8px;
	--radio-thumb-default-off-dark-width-raw: 8;
	--radio-thumb-default-off-dark-height: 8px;
	--radio-thumb-default-off-dark-height-raw: 8;
	--radio-check-default-off-dark-padding-y: 0px;
	--radio-check-default-off-dark-padding-x: 0px;
	--radio-check-default-off-dark-padding-top: 0px;
	--radio-check-default-off-dark-padding-right: 0px;
	--radio-check-default-off-dark-padding-bottom: 0px;
	--radio-check-default-off-dark-padding-left: 0px;
	--radio-check-default-off-dark-padding-start: 0px;
	--radio-check-default-off-dark-padding-end: 0px;
	--radio-check-default-off-dark-spacing: 0px;
	--radio-check-default-off-dark-width: 18px;
	--radio-check-default-off-dark-width-raw: 18;
	--radio-check-default-off-dark-height: 18px;
	--radio-check-default-off-dark-height-raw: 18;

	/* Radio, state: disabled, activity: on, theme: light */
	--radio-label-disabled-on-light-font-family: var(--typography-form-placeholder-medium-font-family);
	--radio-label-disabled-on-light-font-size: var(--typography-form-placeholder-medium-font-size);
	--radio-label-disabled-on-light-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--radio-label-disabled-on-light-line-height: var(--typography-form-placeholder-medium-line-height);
	--radio-label-disabled-on-light-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--radio-label-disabled-on-light-text-align: left;
	--radio-label-disabled-on-light-text-decoration: none;
	--radio-label-disabled-on-light-text-transform: none;
	--radio-label-disabled-on-light-color: var(--color-text-soft);
	--radio-label-disabled-on-light-opacity: 1;
	--radio-thumb-disabled-on-light-border-width: 1px;
	--radio-thumb-disabled-on-light-border-radius: 0px;
	--radio-thumb-disabled-on-light-border-color: transparent;
	--radio-thumb-disabled-on-light-border-style: solid;
	--radio-thumb-disabled-on-light-color: var(--color-neutral-white);
	--radio-thumb-disabled-on-light-width: 8px;
	--radio-thumb-disabled-on-light-width-raw: 8;
	--radio-thumb-disabled-on-light-height: 8px;
	--radio-thumb-disabled-on-light-height-raw: 8;
	--radio-check-disabled-on-light-padding-y: 0px;
	--radio-check-disabled-on-light-padding-x: 0px;
	--radio-check-disabled-on-light-padding-top: 0px;
	--radio-check-disabled-on-light-padding-right: 0px;
	--radio-check-disabled-on-light-padding-bottom: 0px;
	--radio-check-disabled-on-light-padding-left: 0px;
	--radio-check-disabled-on-light-padding-start: 0px;
	--radio-check-disabled-on-light-padding-end: 0px;
	--radio-check-disabled-on-light-spacing: 0px;
	--radio-check-disabled-on-light-width: 18px;
	--radio-check-disabled-on-light-width-raw: 18;
	--radio-check-disabled-on-light-height: 18px;
	--radio-check-disabled-on-light-height-raw: 18;

	/* Radio, state: hover, activity: on, theme: light */
	--radio-label-hover-on-light-font-family: var(--typography-form-placeholder-medium-font-family);
	--radio-label-hover-on-light-font-size: var(--typography-form-placeholder-medium-font-size);
	--radio-label-hover-on-light-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--radio-label-hover-on-light-line-height: var(--typography-form-placeholder-medium-line-height);
	--radio-label-hover-on-light-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--radio-label-hover-on-light-text-align: left;
	--radio-label-hover-on-light-text-decoration: none;
	--radio-label-hover-on-light-text-transform: none;
	--radio-label-hover-on-light-color: var(--color-text-hard);
	--radio-label-hover-on-light-opacity: 1;
	--radio-thumb-hover-on-light-border-width: 1px;
	--radio-thumb-hover-on-light-border-radius: 0px;
	--radio-thumb-hover-on-light-border-color: transparent;
	--radio-thumb-hover-on-light-border-style: solid;
	--radio-thumb-hover-on-light-color: var(--color-neutral-white);
	--radio-thumb-hover-on-light-width: 8px;
	--radio-thumb-hover-on-light-width-raw: 8;
	--radio-thumb-hover-on-light-height: 8px;
	--radio-thumb-hover-on-light-height-raw: 8;
	--radio-check-hover-on-light-padding-y: 0px;
	--radio-check-hover-on-light-padding-x: 0px;
	--radio-check-hover-on-light-padding-top: 0px;
	--radio-check-hover-on-light-padding-right: 0px;
	--radio-check-hover-on-light-padding-bottom: 0px;
	--radio-check-hover-on-light-padding-left: 0px;
	--radio-check-hover-on-light-padding-start: 0px;
	--radio-check-hover-on-light-padding-end: 0px;
	--radio-check-hover-on-light-spacing: 0px;
	--radio-check-hover-on-light-width: 18px;
	--radio-check-hover-on-light-width-raw: 18;
	--radio-check-hover-on-light-height: 18px;
	--radio-check-hover-on-light-height-raw: 18;

	/* Radio, state: default, activity: on, theme: light */
	--radio-label-default-on-light-font-family: var(--typography-form-placeholder-medium-font-family);
	--radio-label-default-on-light-font-size: var(--typography-form-placeholder-medium-font-size);
	--radio-label-default-on-light-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--radio-label-default-on-light-line-height: var(--typography-form-placeholder-medium-line-height);
	--radio-label-default-on-light-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--radio-label-default-on-light-text-align: left;
	--radio-label-default-on-light-text-decoration: none;
	--radio-label-default-on-light-text-transform: none;
	--radio-label-default-on-light-color: var(--color-text-hard);
	--radio-label-default-on-light-opacity: 1;
	--radio-thumb-default-on-light-border-width: 1px;
	--radio-thumb-default-on-light-border-radius: 0px;
	--radio-thumb-default-on-light-border-color: transparent;
	--radio-thumb-default-on-light-border-style: solid;
	--radio-thumb-default-on-light-color: var(--color-neutral-white);
	--radio-thumb-default-on-light-width: 8px;
	--radio-thumb-default-on-light-width-raw: 8;
	--radio-thumb-default-on-light-height: 8px;
	--radio-thumb-default-on-light-height-raw: 8;
	--radio-check-default-on-light-padding-y: 0px;
	--radio-check-default-on-light-padding-x: 0px;
	--radio-check-default-on-light-padding-top: 0px;
	--radio-check-default-on-light-padding-right: 0px;
	--radio-check-default-on-light-padding-bottom: 0px;
	--radio-check-default-on-light-padding-left: 0px;
	--radio-check-default-on-light-padding-start: 0px;
	--radio-check-default-on-light-padding-end: 0px;
	--radio-check-default-on-light-spacing: 0px;
	--radio-check-default-on-light-width: 18px;
	--radio-check-default-on-light-width-raw: 18;
	--radio-check-default-on-light-height: 18px;
	--radio-check-default-on-light-height-raw: 18;

	/* Radio, state: disabled, activity: off, theme: light */
	--radio-label-disabled-off-light-font-family: var(--typography-form-placeholder-medium-font-family);
	--radio-label-disabled-off-light-font-size: var(--typography-form-placeholder-medium-font-size);
	--radio-label-disabled-off-light-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--radio-label-disabled-off-light-line-height: var(--typography-form-placeholder-medium-line-height);
	--radio-label-disabled-off-light-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--radio-label-disabled-off-light-text-align: left;
	--radio-label-disabled-off-light-text-decoration: none;
	--radio-label-disabled-off-light-text-transform: none;
	--radio-label-disabled-off-light-color: var(--color-text-soft);
	--radio-label-disabled-off-light-opacity: 1;
	--radio-thumb-disabled-off-light-border-width: 1px;
	--radio-thumb-disabled-off-light-border-radius: 0px;
	--radio-thumb-disabled-off-light-border-color: transparent;
	--radio-thumb-disabled-off-light-border-style: solid;
	--radio-thumb-disabled-off-light-color: var(--color-neutral-white);
	--radio-thumb-disabled-off-light-width: 8px;
	--radio-thumb-disabled-off-light-width-raw: 8;
	--radio-thumb-disabled-off-light-height: 8px;
	--radio-thumb-disabled-off-light-height-raw: 8;
	--radio-check-disabled-off-light-padding-y: 0px;
	--radio-check-disabled-off-light-padding-x: 0px;
	--radio-check-disabled-off-light-padding-top: 0px;
	--radio-check-disabled-off-light-padding-right: 0px;
	--radio-check-disabled-off-light-padding-bottom: 0px;
	--radio-check-disabled-off-light-padding-left: 0px;
	--radio-check-disabled-off-light-padding-start: 0px;
	--radio-check-disabled-off-light-padding-end: 0px;
	--radio-check-disabled-off-light-spacing: 0px;
	--radio-check-disabled-off-light-width: 18px;
	--radio-check-disabled-off-light-width-raw: 18;
	--radio-check-disabled-off-light-height: 18px;
	--radio-check-disabled-off-light-height-raw: 18;

	/* Radio, state: hover, activity: off, theme: light */
	--radio-label-hover-off-light-font-family: var(--typography-form-placeholder-medium-font-family);
	--radio-label-hover-off-light-font-size: var(--typography-form-placeholder-medium-font-size);
	--radio-label-hover-off-light-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--radio-label-hover-off-light-line-height: var(--typography-form-placeholder-medium-line-height);
	--radio-label-hover-off-light-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--radio-label-hover-off-light-text-align: left;
	--radio-label-hover-off-light-text-decoration: none;
	--radio-label-hover-off-light-text-transform: none;
	--radio-label-hover-off-light-color: var(--color-text-hard);
	--radio-label-hover-off-light-opacity: 1;
	--radio-thumb-hover-off-light-border-width: 1px;
	--radio-thumb-hover-off-light-border-radius: 0px;
	--radio-thumb-hover-off-light-border-color: transparent;
	--radio-thumb-hover-off-light-border-style: solid;
	--radio-thumb-hover-off-light-color: var(--color-neutral-white);
	--radio-thumb-hover-off-light-width: 8px;
	--radio-thumb-hover-off-light-width-raw: 8;
	--radio-thumb-hover-off-light-height: 8px;
	--radio-thumb-hover-off-light-height-raw: 8;
	--radio-check-hover-off-light-padding-y: 0px;
	--radio-check-hover-off-light-padding-x: 0px;
	--radio-check-hover-off-light-padding-top: 0px;
	--radio-check-hover-off-light-padding-right: 0px;
	--radio-check-hover-off-light-padding-bottom: 0px;
	--radio-check-hover-off-light-padding-left: 0px;
	--radio-check-hover-off-light-padding-start: 0px;
	--radio-check-hover-off-light-padding-end: 0px;
	--radio-check-hover-off-light-spacing: 0px;
	--radio-check-hover-off-light-width: 18px;
	--radio-check-hover-off-light-width-raw: 18;
	--radio-check-hover-off-light-height: 18px;
	--radio-check-hover-off-light-height-raw: 18;

	/* Radio, state: default, activity: off, theme: light */
	--radio-label-default-off-light-font-family: var(--typography-form-placeholder-medium-font-family);
	--radio-label-default-off-light-font-size: var(--typography-form-placeholder-medium-font-size);
	--radio-label-default-off-light-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--radio-label-default-off-light-line-height: var(--typography-form-placeholder-medium-line-height);
	--radio-label-default-off-light-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--radio-label-default-off-light-text-align: left;
	--radio-label-default-off-light-text-decoration: none;
	--radio-label-default-off-light-text-transform: none;
	--radio-label-default-off-light-color: var(--color-text-base);
	--radio-label-default-off-light-opacity: 1;
	--radio-thumb-default-off-light-border-width: 1px;
	--radio-thumb-default-off-light-border-radius: 0px;
	--radio-thumb-default-off-light-border-color: transparent;
	--radio-thumb-default-off-light-border-style: solid;
	--radio-thumb-default-off-light-color: var(--color-neutral-white);
	--radio-thumb-default-off-light-width: 8px;
	--radio-thumb-default-off-light-width-raw: 8;
	--radio-thumb-default-off-light-height: 8px;
	--radio-thumb-default-off-light-height-raw: 8;
	--radio-check-default-off-light-padding-y: 0px;
	--radio-check-default-off-light-padding-x: 0px;
	--radio-check-default-off-light-padding-top: 0px;
	--radio-check-default-off-light-padding-right: 0px;
	--radio-check-default-off-light-padding-bottom: 0px;
	--radio-check-default-off-light-padding-left: 0px;
	--radio-check-default-off-light-padding-start: 0px;
	--radio-check-default-off-light-padding-end: 0px;
	--radio-check-default-off-light-spacing: 0px;
	--radio-check-default-off-light-width: 18px;
	--radio-check-default-off-light-width-raw: 18;
	--radio-check-default-off-light-height: 18px;
	--radio-check-default-off-light-height-raw: 18;
}
