.select {

	/* Select, state: disabled, theme: dark */
	--select-additional-info-disabled-dark-font-family: 'Inter';
	--select-additional-info-disabled-dark-font-size: 12px;
	--select-additional-info-disabled-dark-font-weight: 400;
	--select-additional-info-disabled-dark-line-height: 1.6;
	--select-additional-info-disabled-dark-letter-spacing: -.24px;
	--select-additional-info-disabled-dark-text-align: left;
	--select-additional-info-disabled-dark-text-decoration: none;
	--select-additional-info-disabled-dark-text-transform: none;
	--select-additional-info-disabled-dark-color: rgba(255, 255, 255, .45);
	--select-additional-info-disabled-dark-padding-y: 0px;
	--select-additional-info-disabled-dark-padding-x: 0px;
	--select-additional-info-disabled-dark-padding-top: 0px;
	--select-additional-info-disabled-dark-padding-right: 0px;
	--select-additional-info-disabled-dark-padding-bottom: 0px;
	--select-additional-info-disabled-dark-padding-left: 0px;
	--select-additional-info-disabled-dark-padding-start: 0px;
	--select-additional-info-disabled-dark-padding-end: 0px;
	--select-additional-info-disabled-dark-spacing: 5px;
	--select-icon-disabled-dark-width: 16px;
	--select-icon-disabled-dark-width-raw: 16;
	--select-icon-disabled-dark-height: 16px;
	--select-icon-disabled-dark-height-raw: 16;
	--select-icon-disabled-dark-color: #888888;
	--select-option-disabled-dark-font-family: 'Inter';
	--select-option-disabled-dark-font-size: 14px;
	--select-option-disabled-dark-font-weight: 400;
	--select-option-disabled-dark-line-height: 1.429;
	--select-option-disabled-dark-letter-spacing: -.28px;
	--select-option-disabled-dark-text-align: left;
	--select-option-disabled-dark-text-decoration: none;
	--select-option-disabled-dark-text-transform: none;
	--select-option-disabled-dark-color: #555555;
	--select-label-disabled-dark-font-family: 'Inter';
	--select-label-disabled-dark-font-size: 12px;
	--select-label-disabled-dark-font-weight: 400;
	--select-label-disabled-dark-line-height: 1.6;
	--select-label-disabled-dark-letter-spacing: -.24px;
	--select-label-disabled-dark-text-align: left;
	--select-label-disabled-dark-text-decoration: none;
	--select-label-disabled-dark-text-transform: none;
	--select-label-disabled-dark-color: rgba(255, 255, 255, .45);
	--select-label-disabled-dark-padding-y: 0px;
	--select-label-disabled-dark-padding-x: 0px;
	--select-label-disabled-dark-padding-top: 0px;
	--select-label-disabled-dark-padding-right: 0px;
	--select-label-disabled-dark-padding-bottom: 0px;
	--select-label-disabled-dark-padding-left: 0px;
	--select-label-disabled-dark-padding-start: 0px;
	--select-label-disabled-dark-padding-end: 0px;
	--select-label-disabled-dark-spacing: 0px;
	--select-disabled-dark-background: #cccccc;
	--select-disabled-dark-border-width: 1px;
	--select-disabled-dark-border-radius: 4px;
	--select-disabled-dark-border-color: rgba(0, 0, 0, 0);
	--select-disabled-dark-border-style: solid;
	--select-disabled-dark-padding-y: 12px;
	--select-disabled-dark-padding-x: 16px;
	--select-disabled-dark-padding-top: 12px;
	--select-disabled-dark-padding-right: 14px;
	--select-disabled-dark-padding-bottom: 12px;
	--select-disabled-dark-padding-left: 18px;
	--select-disabled-dark-padding-start: 18px;
	--select-disabled-dark-padding-end: 14px;
	--select-disabled-dark-spacing: 14px;
	--select-disabled-dark-box-shadow: none;

	/* Select, state: error, theme: dark */
	--select-additional-info-error-dark-font-family: 'Inter';
	--select-additional-info-error-dark-font-size: 12px;
	--select-additional-info-error-dark-font-weight: 400;
	--select-additional-info-error-dark-line-height: 1.6;
	--select-additional-info-error-dark-letter-spacing: -.24px;
	--select-additional-info-error-dark-text-align: left;
	--select-additional-info-error-dark-text-decoration: none;
	--select-additional-info-error-dark-text-transform: none;
	--select-additional-info-error-dark-color: #f35d6c;
	--select-additional-info-error-dark-padding-y: 0px;
	--select-additional-info-error-dark-padding-x: 0px;
	--select-additional-info-error-dark-padding-top: 0px;
	--select-additional-info-error-dark-padding-right: 0px;
	--select-additional-info-error-dark-padding-bottom: 0px;
	--select-additional-info-error-dark-padding-left: 0px;
	--select-additional-info-error-dark-padding-start: 0px;
	--select-additional-info-error-dark-padding-end: 0px;
	--select-additional-info-error-dark-spacing: 5px;
	--select-icon-error-dark-width: 16px;
	--select-icon-error-dark-width-raw: 16;
	--select-icon-error-dark-height: 16px;
	--select-icon-error-dark-height-raw: 16;
	--select-icon-error-dark-color: #888888;
	--select-option-error-dark-font-family: 'Inter';
	--select-option-error-dark-font-size: 14px;
	--select-option-error-dark-font-weight: 400;
	--select-option-error-dark-line-height: 1.429;
	--select-option-error-dark-letter-spacing: -.28px;
	--select-option-error-dark-text-align: left;
	--select-option-error-dark-text-decoration: none;
	--select-option-error-dark-text-transform: none;
	--select-option-error-dark-color: #555555;
	--select-label-error-dark-font-family: 'Inter';
	--select-label-error-dark-font-size: 12px;
	--select-label-error-dark-font-weight: 400;
	--select-label-error-dark-line-height: 1.6;
	--select-label-error-dark-letter-spacing: -.24px;
	--select-label-error-dark-text-align: left;
	--select-label-error-dark-text-decoration: none;
	--select-label-error-dark-text-transform: none;
	--select-label-error-dark-color: rgba(255, 255, 255, .65);
	--select-label-error-dark-padding-y: 0px;
	--select-label-error-dark-padding-x: 0px;
	--select-label-error-dark-padding-top: 0px;
	--select-label-error-dark-padding-right: 0px;
	--select-label-error-dark-padding-bottom: 0px;
	--select-label-error-dark-padding-left: 0px;
	--select-label-error-dark-padding-start: 0px;
	--select-label-error-dark-padding-end: 0px;
	--select-label-error-dark-spacing: 0px;
	--select-error-dark-background: #f8f8f8;
	--select-error-dark-border-width: 1px;
	--select-error-dark-border-radius: 4px;
	--select-error-dark-border-color: #f35d6c;
	--select-error-dark-border-style: solid;
	--select-error-dark-padding-y: 12px;
	--select-error-dark-padding-x: 16px;
	--select-error-dark-padding-top: 12px;
	--select-error-dark-padding-right: 14px;
	--select-error-dark-padding-bottom: 12px;
	--select-error-dark-padding-left: 18px;
	--select-error-dark-padding-start: 18px;
	--select-error-dark-padding-end: 14px;
	--select-error-dark-spacing: 14px;
	--select-error-dark-box-shadow: none;

	/* Select, state: active, theme: dark */
	--select-additional-info-active-dark-font-family: 'Inter';
	--select-additional-info-active-dark-font-size: 12px;
	--select-additional-info-active-dark-font-weight: 400;
	--select-additional-info-active-dark-line-height: 1.6;
	--select-additional-info-active-dark-letter-spacing: -.24px;
	--select-additional-info-active-dark-text-align: left;
	--select-additional-info-active-dark-text-decoration: none;
	--select-additional-info-active-dark-text-transform: none;
	--select-additional-info-active-dark-color: rgba(255, 255, 255, .65);
	--select-additional-info-active-dark-padding-y: 0px;
	--select-additional-info-active-dark-padding-x: 0px;
	--select-additional-info-active-dark-padding-top: 0px;
	--select-additional-info-active-dark-padding-right: 0px;
	--select-additional-info-active-dark-padding-bottom: 0px;
	--select-additional-info-active-dark-padding-left: 0px;
	--select-additional-info-active-dark-padding-start: 0px;
	--select-additional-info-active-dark-padding-end: 0px;
	--select-additional-info-active-dark-spacing: 5px;
	--select-icon-active-dark-width: 16px;
	--select-icon-active-dark-width-raw: 16;
	--select-icon-active-dark-height: 16px;
	--select-icon-active-dark-height-raw: 16;
	--select-icon-active-dark-color: #888888;
	--select-option-active-dark-font-family: 'Inter';
	--select-option-active-dark-font-size: 14px;
	--select-option-active-dark-font-weight: 600;
	--select-option-active-dark-line-height: 1.429;
	--select-option-active-dark-letter-spacing: -.28px;
	--select-option-active-dark-text-align: left;
	--select-option-active-dark-text-decoration: none;
	--select-option-active-dark-text-transform: none;
	--select-option-active-dark-color: rgba(0, 0, 0, .8);
	--select-label-active-dark-font-family: 'Inter';
	--select-label-active-dark-font-size: 12px;
	--select-label-active-dark-font-weight: 400;
	--select-label-active-dark-line-height: 1.6;
	--select-label-active-dark-letter-spacing: -.24px;
	--select-label-active-dark-text-align: left;
	--select-label-active-dark-text-decoration: none;
	--select-label-active-dark-text-transform: none;
	--select-label-active-dark-color: rgba(255, 255, 255, .85);
	--select-label-active-dark-padding-y: 0px;
	--select-label-active-dark-padding-x: 0px;
	--select-label-active-dark-padding-top: 0px;
	--select-label-active-dark-padding-right: 0px;
	--select-label-active-dark-padding-bottom: 0px;
	--select-label-active-dark-padding-left: 0px;
	--select-label-active-dark-padding-start: 0px;
	--select-label-active-dark-padding-end: 0px;
	--select-label-active-dark-spacing: 0px;
	--select-active-dark-background: #ffffff;
	--select-active-dark-border-width: 1px;
	--select-active-dark-border-radius: 4px;
	--select-active-dark-border-color: rgba(0, 0, 0, 0);
	--select-active-dark-border-style: solid;
	--select-active-dark-padding-y: 12px;
	--select-active-dark-padding-x: 16px;
	--select-active-dark-padding-top: 12px;
	--select-active-dark-padding-right: 14px;
	--select-active-dark-padding-bottom: 12px;
	--select-active-dark-padding-left: 18px;
	--select-active-dark-padding-start: 18px;
	--select-active-dark-padding-end: 14px;
	--select-active-dark-spacing: 14px;
	--select-active-dark-box-shadow: none;

	/* Select, state: hover, theme: dark */
	--select-additional-info-hover-dark-font-family: 'Inter';
	--select-additional-info-hover-dark-font-size: 12px;
	--select-additional-info-hover-dark-font-weight: 400;
	--select-additional-info-hover-dark-line-height: 1.6;
	--select-additional-info-hover-dark-letter-spacing: -.24px;
	--select-additional-info-hover-dark-text-align: left;
	--select-additional-info-hover-dark-text-decoration: none;
	--select-additional-info-hover-dark-text-transform: none;
	--select-additional-info-hover-dark-color: rgba(255, 255, 255, .65);
	--select-additional-info-hover-dark-padding-y: 0px;
	--select-additional-info-hover-dark-padding-x: 0px;
	--select-additional-info-hover-dark-padding-top: 0px;
	--select-additional-info-hover-dark-padding-right: 0px;
	--select-additional-info-hover-dark-padding-bottom: 0px;
	--select-additional-info-hover-dark-padding-left: 0px;
	--select-additional-info-hover-dark-padding-start: 0px;
	--select-additional-info-hover-dark-padding-end: 0px;
	--select-additional-info-hover-dark-spacing: 5px;
	--select-icon-hover-dark-width: 16px;
	--select-icon-hover-dark-width-raw: 16;
	--select-icon-hover-dark-height: 16px;
	--select-icon-hover-dark-height-raw: 16;
	--select-icon-hover-dark-color: #888888;
	--select-option-hover-dark-font-family: 'Inter';
	--select-option-hover-dark-font-size: 14px;
	--select-option-hover-dark-font-weight: 400;
	--select-option-hover-dark-line-height: 1.429;
	--select-option-hover-dark-letter-spacing: -.28px;
	--select-option-hover-dark-text-align: left;
	--select-option-hover-dark-text-decoration: none;
	--select-option-hover-dark-text-transform: none;
	--select-option-hover-dark-color: #555555;
	--select-label-hover-dark-font-family: 'Inter';
	--select-label-hover-dark-font-size: 12px;
	--select-label-hover-dark-font-weight: 400;
	--select-label-hover-dark-line-height: 1.6;
	--select-label-hover-dark-letter-spacing: -.24px;
	--select-label-hover-dark-text-align: left;
	--select-label-hover-dark-text-decoration: none;
	--select-label-hover-dark-text-transform: none;
	--select-label-hover-dark-color: rgba(255, 255, 255, .65);
	--select-label-hover-dark-padding-y: 0px;
	--select-label-hover-dark-padding-x: 0px;
	--select-label-hover-dark-padding-top: 0px;
	--select-label-hover-dark-padding-right: 0px;
	--select-label-hover-dark-padding-bottom: 0px;
	--select-label-hover-dark-padding-left: 0px;
	--select-label-hover-dark-padding-start: 0px;
	--select-label-hover-dark-padding-end: 0px;
	--select-label-hover-dark-spacing: 0px;
	--select-hover-dark-background: #ffffff;
	--select-hover-dark-border-width: 1px;
	--select-hover-dark-border-radius: 4px;
	--select-hover-dark-border-color: rgba(0, 0, 0, 0);
	--select-hover-dark-border-style: solid;
	--select-hover-dark-padding-y: 12px;
	--select-hover-dark-padding-x: 16px;
	--select-hover-dark-padding-top: 12px;
	--select-hover-dark-padding-right: 14px;
	--select-hover-dark-padding-bottom: 12px;
	--select-hover-dark-padding-left: 18px;
	--select-hover-dark-padding-start: 18px;
	--select-hover-dark-padding-end: 14px;
	--select-hover-dark-spacing: 14px;
	--select-hover-dark-box-shadow: none;

	/* Select, state: default, theme: dark */
	--select-additional-info-default-dark-font-family: 'Inter';
	--select-additional-info-default-dark-font-size: 12px;
	--select-additional-info-default-dark-font-weight: 400;
	--select-additional-info-default-dark-line-height: 1.6;
	--select-additional-info-default-dark-letter-spacing: -.24px;
	--select-additional-info-default-dark-text-align: left;
	--select-additional-info-default-dark-text-decoration: none;
	--select-additional-info-default-dark-text-transform: none;
	--select-additional-info-default-dark-color: rgba(255, 255, 255, .65);
	--select-additional-info-default-dark-padding-y: 0px;
	--select-additional-info-default-dark-padding-x: 0px;
	--select-additional-info-default-dark-padding-top: 0px;
	--select-additional-info-default-dark-padding-right: 0px;
	--select-additional-info-default-dark-padding-bottom: 0px;
	--select-additional-info-default-dark-padding-left: 0px;
	--select-additional-info-default-dark-padding-start: 0px;
	--select-additional-info-default-dark-padding-end: 0px;
	--select-additional-info-default-dark-spacing: 5px;
	--select-icon-default-dark-width: 16px;
	--select-icon-default-dark-width-raw: 16;
	--select-icon-default-dark-height: 16px;
	--select-icon-default-dark-height-raw: 16;
	--select-icon-default-dark-color: #888888;
	--select-option-default-dark-font-family: 'Inter';
	--select-option-default-dark-font-size: 14px;
	--select-option-default-dark-font-weight: 400;
	--select-option-default-dark-line-height: 1.429;
	--select-option-default-dark-letter-spacing: -.28px;
	--select-option-default-dark-text-align: left;
	--select-option-default-dark-text-decoration: none;
	--select-option-default-dark-text-transform: none;
	--select-option-default-dark-color: #555555;
	--select-label-default-dark-font-family: 'Inter';
	--select-label-default-dark-font-size: 12px;
	--select-label-default-dark-font-weight: 400;
	--select-label-default-dark-line-height: 1.6;
	--select-label-default-dark-letter-spacing: -.24px;
	--select-label-default-dark-text-align: left;
	--select-label-default-dark-text-decoration: none;
	--select-label-default-dark-text-transform: none;
	--select-label-default-dark-color: rgba(255, 255, 255, .65);
	--select-label-default-dark-padding-y: 0px;
	--select-label-default-dark-padding-x: 0px;
	--select-label-default-dark-padding-top: 0px;
	--select-label-default-dark-padding-right: 0px;
	--select-label-default-dark-padding-bottom: 0px;
	--select-label-default-dark-padding-left: 0px;
	--select-label-default-dark-padding-start: 0px;
	--select-label-default-dark-padding-end: 0px;
	--select-label-default-dark-spacing: 0px;
	--select-default-dark-background: #f8f8f8;
	--select-default-dark-border-width: 1px;
	--select-default-dark-border-radius: 4px;
	--select-default-dark-border-color: rgba(0, 0, 0, 0);
	--select-default-dark-border-style: solid;
	--select-default-dark-padding-y: 12px;
	--select-default-dark-padding-x: 16px;
	--select-default-dark-padding-top: 12px;
	--select-default-dark-padding-right: 14px;
	--select-default-dark-padding-bottom: 12px;
	--select-default-dark-padding-left: 18px;
	--select-default-dark-padding-start: 18px;
	--select-default-dark-padding-end: 14px;
	--select-default-dark-spacing: 14px;
	--select-default-dark-box-shadow: none;

	/* Select, state: disabled, theme: light */
	--select-additional-info-disabled-light-font-family: 'Inter';
	--select-additional-info-disabled-light-font-size: 12px;
	--select-additional-info-disabled-light-font-weight: 400;
	--select-additional-info-disabled-light-line-height: 1.6;
	--select-additional-info-disabled-light-letter-spacing: -.24px;
	--select-additional-info-disabled-light-text-align: left;
	--select-additional-info-disabled-light-text-decoration: none;
	--select-additional-info-disabled-light-text-transform: none;
	--select-additional-info-disabled-light-color: rgba(85, 85, 85, .8);
	--select-additional-info-disabled-light-padding-y: 0px;
	--select-additional-info-disabled-light-padding-x: 0px;
	--select-additional-info-disabled-light-padding-top: 0px;
	--select-additional-info-disabled-light-padding-right: 0px;
	--select-additional-info-disabled-light-padding-bottom: 0px;
	--select-additional-info-disabled-light-padding-left: 0px;
	--select-additional-info-disabled-light-padding-start: 0px;
	--select-additional-info-disabled-light-padding-end: 0px;
	--select-additional-info-disabled-light-spacing: 5px;
	--select-icon-disabled-light-width: 16px;
	--select-icon-disabled-light-width-raw: 16;
	--select-icon-disabled-light-height: 16px;
	--select-icon-disabled-light-height-raw: 16;
	--select-icon-disabled-light-color: #888888;
	--select-option-disabled-light-font-family: 'Inter';
	--select-option-disabled-light-font-size: 14px;
	--select-option-disabled-light-font-weight: 400;
	--select-option-disabled-light-line-height: 1.429;
	--select-option-disabled-light-letter-spacing: -.28px;
	--select-option-disabled-light-text-align: left;
	--select-option-disabled-light-text-decoration: none;
	--select-option-disabled-light-text-transform: none;
	--select-option-disabled-light-color: rgba(85, 85, 85, .8);
	--select-label-disabled-light-font-family: 'Inter';
	--select-label-disabled-light-font-size: 12px;
	--select-label-disabled-light-font-weight: 400;
	--select-label-disabled-light-line-height: 1.6;
	--select-label-disabled-light-letter-spacing: -.24px;
	--select-label-disabled-light-text-align: left;
	--select-label-disabled-light-text-decoration: none;
	--select-label-disabled-light-text-transform: none;
	--select-label-disabled-light-color: rgba(85, 85, 85, .8);
	--select-label-disabled-light-padding-y: 0px;
	--select-label-disabled-light-padding-x: 0px;
	--select-label-disabled-light-padding-top: 0px;
	--select-label-disabled-light-padding-right: 0px;
	--select-label-disabled-light-padding-bottom: 0px;
	--select-label-disabled-light-padding-left: 0px;
	--select-label-disabled-light-padding-start: 0px;
	--select-label-disabled-light-padding-end: 0px;
	--select-label-disabled-light-spacing: 0px;
	--select-disabled-light-background: #f8f8f8;
	--select-disabled-light-border-width: 1px;
	--select-disabled-light-border-radius: 4px;
	--select-disabled-light-border-color: rgba(0, 0, 0, 0);
	--select-disabled-light-border-style: solid;
	--select-disabled-light-padding-y: 12px;
	--select-disabled-light-padding-x: 16px;
	--select-disabled-light-padding-top: 12px;
	--select-disabled-light-padding-right: 14px;
	--select-disabled-light-padding-bottom: 12px;
	--select-disabled-light-padding-left: 18px;
	--select-disabled-light-padding-start: 18px;
	--select-disabled-light-padding-end: 14px;
	--select-disabled-light-spacing: 14px;
	--select-disabled-light-box-shadow: none;

	/* Select, state: error, theme: light */
	--select-additional-info-error-light-font-family: 'Inter';
	--select-additional-info-error-light-font-size: 12px;
	--select-additional-info-error-light-font-weight: 400;
	--select-additional-info-error-light-line-height: 1.6;
	--select-additional-info-error-light-letter-spacing: -.24px;
	--select-additional-info-error-light-text-align: left;
	--select-additional-info-error-light-text-decoration: none;
	--select-additional-info-error-light-text-transform: none;
	--select-additional-info-error-light-color: #dc3545;
	--select-additional-info-error-light-padding-y: 0px;
	--select-additional-info-error-light-padding-x: 0px;
	--select-additional-info-error-light-padding-top: 0px;
	--select-additional-info-error-light-padding-right: 0px;
	--select-additional-info-error-light-padding-bottom: 0px;
	--select-additional-info-error-light-padding-left: 0px;
	--select-additional-info-error-light-padding-start: 0px;
	--select-additional-info-error-light-padding-end: 0px;
	--select-additional-info-error-light-spacing: 5px;
	--select-icon-error-light-width: 16px;
	--select-icon-error-light-width-raw: 16;
	--select-icon-error-light-height: 16px;
	--select-icon-error-light-height-raw: 16;
	--select-icon-error-light-color: #888888;
	--select-option-error-light-font-family: 'Inter';
	--select-option-error-light-font-size: 14px;
	--select-option-error-light-font-weight: 400;
	--select-option-error-light-line-height: 1.429;
	--select-option-error-light-letter-spacing: -.28px;
	--select-option-error-light-text-align: left;
	--select-option-error-light-text-decoration: none;
	--select-option-error-light-text-transform: none;
	--select-option-error-light-color: #555555;
	--select-label-error-light-font-family: 'Inter';
	--select-label-error-light-font-size: 12px;
	--select-label-error-light-font-weight: 400;
	--select-label-error-light-line-height: 1.6;
	--select-label-error-light-letter-spacing: -.24px;
	--select-label-error-light-text-align: left;
	--select-label-error-light-text-decoration: none;
	--select-label-error-light-text-transform: none;
	--select-label-error-light-color: #555555;
	--select-label-error-light-padding-y: 0px;
	--select-label-error-light-padding-x: 0px;
	--select-label-error-light-padding-top: 0px;
	--select-label-error-light-padding-right: 0px;
	--select-label-error-light-padding-bottom: 0px;
	--select-label-error-light-padding-left: 0px;
	--select-label-error-light-padding-start: 0px;
	--select-label-error-light-padding-end: 0px;
	--select-label-error-light-spacing: 0px;
	--select-error-light-background: #ffffff;
	--select-error-light-border-width: 1px;
	--select-error-light-border-radius: 4px;
	--select-error-light-border-color: #dc3545;
	--select-error-light-border-style: solid;
	--select-error-light-padding-y: 12px;
	--select-error-light-padding-x: 16px;
	--select-error-light-padding-top: 12px;
	--select-error-light-padding-right: 14px;
	--select-error-light-padding-bottom: 12px;
	--select-error-light-padding-left: 18px;
	--select-error-light-padding-start: 18px;
	--select-error-light-padding-end: 14px;
	--select-error-light-spacing: 14px;
	--select-error-light-box-shadow: none;

	/* Select, state: active, theme: light */
	--select-additional-info-active-light-font-family: 'Inter';
	--select-additional-info-active-light-font-size: 12px;
	--select-additional-info-active-light-font-weight: 400;
	--select-additional-info-active-light-line-height: 1.6;
	--select-additional-info-active-light-letter-spacing: -.24px;
	--select-additional-info-active-light-text-align: left;
	--select-additional-info-active-light-text-decoration: none;
	--select-additional-info-active-light-text-transform: none;
	--select-additional-info-active-light-color: rgba(85, 85, 85, .8);
	--select-additional-info-active-light-padding-y: 0px;
	--select-additional-info-active-light-padding-x: 0px;
	--select-additional-info-active-light-padding-top: 0px;
	--select-additional-info-active-light-padding-right: 0px;
	--select-additional-info-active-light-padding-bottom: 0px;
	--select-additional-info-active-light-padding-left: 0px;
	--select-additional-info-active-light-padding-start: 0px;
	--select-additional-info-active-light-padding-end: 0px;
	--select-additional-info-active-light-spacing: 5px;
	--select-icon-active-light-width: 16px;
	--select-icon-active-light-width-raw: 16;
	--select-icon-active-light-height: 16px;
	--select-icon-active-light-height-raw: 16;
	--select-icon-active-light-color: #888888;
	--select-option-active-light-font-family: 'Inter';
	--select-option-active-light-font-size: 14px;
	--select-option-active-light-font-weight: 600;
	--select-option-active-light-line-height: 1.429;
	--select-option-active-light-letter-spacing: -.28px;
	--select-option-active-light-text-align: left;
	--select-option-active-light-text-decoration: none;
	--select-option-active-light-text-transform: none;
	--select-option-active-light-color: rgba(0, 0, 0, .8);
	--select-label-active-light-font-family: 'Inter';
	--select-label-active-light-font-size: 12px;
	--select-label-active-light-font-weight: 400;
	--select-label-active-light-line-height: 1.6;
	--select-label-active-light-letter-spacing: -.24px;
	--select-label-active-light-text-align: left;
	--select-label-active-light-text-decoration: none;
	--select-label-active-light-text-transform: none;
	--select-label-active-light-color: rgba(0, 0, 0, .8);
	--select-label-active-light-padding-y: 0px;
	--select-label-active-light-padding-x: 0px;
	--select-label-active-light-padding-top: 0px;
	--select-label-active-light-padding-right: 0px;
	--select-label-active-light-padding-bottom: 0px;
	--select-label-active-light-padding-left: 0px;
	--select-label-active-light-padding-start: 0px;
	--select-label-active-light-padding-end: 0px;
	--select-label-active-light-spacing: 0px;
	--select-active-light-background: #ffffff;
	--select-active-light-border-width: 1px;
	--select-active-light-border-radius: 4px;
	--select-active-light-border-color: #0073e6;
	--select-active-light-border-style: solid;
	--select-active-light-padding-y: 12px;
	--select-active-light-padding-x: 16px;
	--select-active-light-padding-top: 12px;
	--select-active-light-padding-right: 14px;
	--select-active-light-padding-bottom: 12px;
	--select-active-light-padding-left: 18px;
	--select-active-light-padding-start: 18px;
	--select-active-light-padding-end: 14px;
	--select-active-light-spacing: 14px;
	--select-active-light-box-shadow: none;

	/* Select, state: hover, theme: light */
	--select-additional-info-hover-light-font-family: 'Inter';
	--select-additional-info-hover-light-font-size: 12px;
	--select-additional-info-hover-light-font-weight: 400;
	--select-additional-info-hover-light-line-height: 1.6;
	--select-additional-info-hover-light-letter-spacing: -.24px;
	--select-additional-info-hover-light-text-align: left;
	--select-additional-info-hover-light-text-decoration: none;
	--select-additional-info-hover-light-text-transform: none;
	--select-additional-info-hover-light-color: rgba(85, 85, 85, .8);
	--select-additional-info-hover-light-padding-y: 0px;
	--select-additional-info-hover-light-padding-x: 0px;
	--select-additional-info-hover-light-padding-top: 0px;
	--select-additional-info-hover-light-padding-right: 0px;
	--select-additional-info-hover-light-padding-bottom: 0px;
	--select-additional-info-hover-light-padding-left: 0px;
	--select-additional-info-hover-light-padding-start: 0px;
	--select-additional-info-hover-light-padding-end: 0px;
	--select-additional-info-hover-light-spacing: 5px;
	--select-icon-hover-light-width: 16px;
	--select-icon-hover-light-width-raw: 16;
	--select-icon-hover-light-height: 16px;
	--select-icon-hover-light-height-raw: 16;
	--select-icon-hover-light-color: #888888;
	--select-option-hover-light-font-family: 'Inter';
	--select-option-hover-light-font-size: 14px;
	--select-option-hover-light-font-weight: 400;
	--select-option-hover-light-line-height: 1.429;
	--select-option-hover-light-letter-spacing: -.28px;
	--select-option-hover-light-text-align: left;
	--select-option-hover-light-text-decoration: none;
	--select-option-hover-light-text-transform: none;
	--select-option-hover-light-color: #555555;
	--select-label-hover-light-font-family: 'Inter';
	--select-label-hover-light-font-size: 12px;
	--select-label-hover-light-font-weight: 400;
	--select-label-hover-light-line-height: 1.6;
	--select-label-hover-light-letter-spacing: -.24px;
	--select-label-hover-light-text-align: left;
	--select-label-hover-light-text-decoration: none;
	--select-label-hover-light-text-transform: none;
	--select-label-hover-light-color: #555555;
	--select-label-hover-light-padding-y: 0px;
	--select-label-hover-light-padding-x: 0px;
	--select-label-hover-light-padding-top: 0px;
	--select-label-hover-light-padding-right: 0px;
	--select-label-hover-light-padding-bottom: 0px;
	--select-label-hover-light-padding-left: 0px;
	--select-label-hover-light-padding-start: 0px;
	--select-label-hover-light-padding-end: 0px;
	--select-label-hover-light-spacing: 0px;
	--select-hover-light-background: #ffffff;
	--select-hover-light-border-width: 1px;
	--select-hover-light-border-radius: 4px;
	--select-hover-light-border-color: rgba(0, 0, 0, .6);
	--select-hover-light-border-style: solid;
	--select-hover-light-padding-y: 12px;
	--select-hover-light-padding-x: 16px;
	--select-hover-light-padding-top: 12px;
	--select-hover-light-padding-right: 14px;
	--select-hover-light-padding-bottom: 12px;
	--select-hover-light-padding-left: 18px;
	--select-hover-light-padding-start: 18px;
	--select-hover-light-padding-end: 14px;
	--select-hover-light-spacing: 14px;
	--select-hover-light-box-shadow: none;

	/* Select, state: default, theme: light */
	--select-additional-info-default-light-font-family: 'Inter';
	--select-additional-info-default-light-font-size: 12px;
	--select-additional-info-default-light-font-weight: 400;
	--select-additional-info-default-light-line-height: 1.6;
	--select-additional-info-default-light-letter-spacing: -.24px;
	--select-additional-info-default-light-text-align: left;
	--select-additional-info-default-light-text-decoration: none;
	--select-additional-info-default-light-text-transform: none;
	--select-additional-info-default-light-color: rgba(85, 85, 85, .8);
	--select-additional-info-default-light-padding-y: 0px;
	--select-additional-info-default-light-padding-x: 0px;
	--select-additional-info-default-light-padding-top: 0px;
	--select-additional-info-default-light-padding-right: 0px;
	--select-additional-info-default-light-padding-bottom: 0px;
	--select-additional-info-default-light-padding-left: 0px;
	--select-additional-info-default-light-padding-start: 0px;
	--select-additional-info-default-light-padding-end: 0px;
	--select-additional-info-default-light-spacing: 5px;
	--select-icon-default-light-width: 16px;
	--select-icon-default-light-width-raw: 16;
	--select-icon-default-light-height: 16px;
	--select-icon-default-light-height-raw: 16;
	--select-icon-default-light-color: #888888;
	--select-option-default-light-font-family: 'Inter';
	--select-option-default-light-font-size: 14px;
	--select-option-default-light-font-weight: 400;
	--select-option-default-light-line-height: 1.429;
	--select-option-default-light-letter-spacing: -.28px;
	--select-option-default-light-text-align: left;
	--select-option-default-light-text-decoration: none;
	--select-option-default-light-text-transform: none;
	--select-option-default-light-color: #555555;
	--select-label-default-light-font-family: 'Inter';
	--select-label-default-light-font-size: 12px;
	--select-label-default-light-font-weight: 400;
	--select-label-default-light-line-height: 1.6;
	--select-label-default-light-letter-spacing: -.24px;
	--select-label-default-light-text-align: left;
	--select-label-default-light-text-decoration: none;
	--select-label-default-light-text-transform: none;
	--select-label-default-light-color: #555555;
	--select-label-default-light-padding-y: 0px;
	--select-label-default-light-padding-x: 0px;
	--select-label-default-light-padding-top: 0px;
	--select-label-default-light-padding-right: 0px;
	--select-label-default-light-padding-bottom: 0px;
	--select-label-default-light-padding-left: 0px;
	--select-label-default-light-padding-start: 0px;
	--select-label-default-light-padding-end: 0px;
	--select-label-default-light-spacing: 0px;
	--select-default-light-background: #ffffff;
	--select-default-light-border-width: 1px;
	--select-default-light-border-radius: 4px;
	--select-default-light-border-color: rgba(0, 0, 0, .3);
	--select-default-light-border-style: solid;
	--select-default-light-padding-y: 12px;
	--select-default-light-padding-x: 16px;
	--select-default-light-padding-top: 12px;
	--select-default-light-padding-right: 14px;
	--select-default-light-padding-bottom: 12px;
	--select-default-light-padding-left: 18px;
	--select-default-light-padding-start: 18px;
	--select-default-light-padding-end: 14px;
	--select-default-light-spacing: 14px;
	--select-default-light-box-shadow: none;
}
