.switch {

	/* Switch, state: disabled, activity: on, theme: dark */
	--switch-label-disabled-on-dark-font-family: var(--typography-form-placeholder-medium-font-family);
	--switch-label-disabled-on-dark-font-size: var(--typography-form-placeholder-medium-font-size);
	--switch-label-disabled-on-dark-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--switch-label-disabled-on-dark-line-height: var(--typography-form-placeholder-medium-line-height);
	--switch-label-disabled-on-dark-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--switch-label-disabled-on-dark-text-align: left;
	--switch-label-disabled-on-dark-text-decoration: none;
	--switch-label-disabled-on-dark-text-transform: none;
	--switch-label-disabled-on-dark-color: var(--color-text-soft-invert);
	--switch-label-disabled-on-dark-opacity: 1;
	--switch-thumb-disabled-on-dark-border-width: 1px;
	--switch-thumb-disabled-on-dark-border-radius: 0px;
	--switch-thumb-disabled-on-dark-border-color: transparent;
	--switch-thumb-disabled-on-dark-border-style: solid;
	--switch-thumb-disabled-on-dark-color: var(--color-neutral-black);
	--switch-thumb-disabled-on-dark-width: 12px;
	--switch-thumb-disabled-on-dark-width-raw: 12;
	--switch-thumb-disabled-on-dark-height: 12px;
	--switch-thumb-disabled-on-dark-height-raw: 12;
	--switch-disabled-on-dark-padding-y: 0px;
	--switch-disabled-on-dark-padding-x: 0px;
	--switch-disabled-on-dark-padding-top: 0px;
	--switch-disabled-on-dark-padding-right: 0px;
	--switch-disabled-on-dark-padding-bottom: 0px;
	--switch-disabled-on-dark-padding-left: 0px;
	--switch-disabled-on-dark-padding-start: 0px;
	--switch-disabled-on-dark-padding-end: 0px;
	--switch-disabled-on-dark-spacing: 12px;
	--switch-disabled-on-dark-opacity: .4;
	--switch-disabled-on-dark-background: var(--color-neutral-gray-600);
	--switch-disabled-on-dark-border-width: 1px;
	--switch-disabled-on-dark-border-radius: 174px;
	--switch-disabled-on-dark-border-color: var(--color--transparent);
	--switch-disabled-on-dark-border-style: solid;
	--switch-disabled-on-dark-box-shadow: none;
	--switch-disabled-on-dark-width: 36px;
	--switch-disabled-on-dark-width-raw: 36;
	--switch-disabled-on-dark-height: 20px;
	--switch-disabled-on-dark-height-raw: 20;

	/* Switch, state: hover, activity: on, theme: dark */
	--switch-label-hover-on-dark-font-family: var(--typography-form-placeholder-medium-font-family);
	--switch-label-hover-on-dark-font-size: var(--typography-form-placeholder-medium-font-size);
	--switch-label-hover-on-dark-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--switch-label-hover-on-dark-line-height: var(--typography-form-placeholder-medium-line-height);
	--switch-label-hover-on-dark-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--switch-label-hover-on-dark-text-align: left;
	--switch-label-hover-on-dark-text-decoration: none;
	--switch-label-hover-on-dark-text-transform: none;
	--switch-label-hover-on-dark-color: var(--color-text-hard-invert);
	--switch-label-hover-on-dark-opacity: 1;
	--switch-thumb-hover-on-dark-border-width: 1px;
	--switch-thumb-hover-on-dark-border-radius: 0px;
	--switch-thumb-hover-on-dark-border-color: transparent;
	--switch-thumb-hover-on-dark-border-style: solid;
	--switch-thumb-hover-on-dark-color: var(--color-neutral-white);
	--switch-thumb-hover-on-dark-width: 12px;
	--switch-thumb-hover-on-dark-width-raw: 12;
	--switch-thumb-hover-on-dark-height: 12px;
	--switch-thumb-hover-on-dark-height-raw: 12;
	--switch-hover-on-dark-padding-y: 0px;
	--switch-hover-on-dark-padding-x: 0px;
	--switch-hover-on-dark-padding-top: 0px;
	--switch-hover-on-dark-padding-right: 0px;
	--switch-hover-on-dark-padding-bottom: 0px;
	--switch-hover-on-dark-padding-left: 0px;
	--switch-hover-on-dark-padding-start: 0px;
	--switch-hover-on-dark-padding-end: 0px;
	--switch-hover-on-dark-spacing: 12px;
	--switch-hover-on-dark-opacity: 1;
	--switch-hover-on-dark-background: var(--color-primary-blue-lighter);
	--switch-hover-on-dark-border-width: 1px;
	--switch-hover-on-dark-border-radius: 174px;
	--switch-hover-on-dark-border-color: var(--color--transparent);
	--switch-hover-on-dark-border-style: solid;
	--switch-hover-on-dark-box-shadow: none;
	--switch-hover-on-dark-width: 36px;
	--switch-hover-on-dark-width-raw: 36;
	--switch-hover-on-dark-height: 20px;
	--switch-hover-on-dark-height-raw: 20;

	/* Switch, state: default, activity: on, theme: dark */
	--switch-label-default-on-dark-font-family: var(--typography-form-placeholder-medium-font-family);
	--switch-label-default-on-dark-font-size: var(--typography-form-placeholder-medium-font-size);
	--switch-label-default-on-dark-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--switch-label-default-on-dark-line-height: var(--typography-form-placeholder-medium-line-height);
	--switch-label-default-on-dark-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--switch-label-default-on-dark-text-align: left;
	--switch-label-default-on-dark-text-decoration: none;
	--switch-label-default-on-dark-text-transform: none;
	--switch-label-default-on-dark-color: var(--color-text-hard-invert);
	--switch-label-default-on-dark-opacity: 1;
	--switch-thumb-default-on-dark-border-width: 1px;
	--switch-thumb-default-on-dark-border-radius: 0px;
	--switch-thumb-default-on-dark-border-color: transparent;
	--switch-thumb-default-on-dark-border-style: solid;
	--switch-thumb-default-on-dark-color: var(--color-neutral-black);
	--switch-thumb-default-on-dark-width: 12px;
	--switch-thumb-default-on-dark-width-raw: 12;
	--switch-thumb-default-on-dark-height: 12px;
	--switch-thumb-default-on-dark-height-raw: 12;
	--switch-default-on-dark-padding-y: 0px;
	--switch-default-on-dark-padding-x: 0px;
	--switch-default-on-dark-padding-top: 0px;
	--switch-default-on-dark-padding-right: 0px;
	--switch-default-on-dark-padding-bottom: 0px;
	--switch-default-on-dark-padding-left: 0px;
	--switch-default-on-dark-padding-start: 0px;
	--switch-default-on-dark-padding-end: 0px;
	--switch-default-on-dark-spacing: 12px;
	--switch-default-on-dark-opacity: 1;
	--switch-default-on-dark-background: var(--color-primary-blue);
	--switch-default-on-dark-border-width: 1px;
	--switch-default-on-dark-border-radius: 174px;
	--switch-default-on-dark-border-color: var(--color--transparent);
	--switch-default-on-dark-border-style: solid;
	--switch-default-on-dark-box-shadow: none;
	--switch-default-on-dark-width: 36px;
	--switch-default-on-dark-width-raw: 36;
	--switch-default-on-dark-height: 20px;
	--switch-default-on-dark-height-raw: 20;

	/* Switch, state: disabled, activity: off, theme: dark */
	--switch-label-disabled-off-dark-font-family: var(--typography-form-placeholder-medium-font-family);
	--switch-label-disabled-off-dark-font-size: var(--typography-form-placeholder-medium-font-size);
	--switch-label-disabled-off-dark-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--switch-label-disabled-off-dark-line-height: var(--typography-form-placeholder-medium-line-height);
	--switch-label-disabled-off-dark-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--switch-label-disabled-off-dark-text-align: left;
	--switch-label-disabled-off-dark-text-decoration: none;
	--switch-label-disabled-off-dark-text-transform: none;
	--switch-label-disabled-off-dark-color: var(--color-text-soft-invert);
	--switch-label-disabled-off-dark-opacity: 1;
	--switch-thumb-disabled-off-dark-border-width: 1px;
	--switch-thumb-disabled-off-dark-border-radius: 0px;
	--switch-thumb-disabled-off-dark-border-color: transparent;
	--switch-thumb-disabled-off-dark-border-style: solid;
	--switch-thumb-disabled-off-dark-color: var(--color-neutral-white);
	--switch-thumb-disabled-off-dark-width: 12px;
	--switch-thumb-disabled-off-dark-width-raw: 12;
	--switch-thumb-disabled-off-dark-height: 12px;
	--switch-thumb-disabled-off-dark-height-raw: 12;
	--switch-disabled-off-dark-padding-y: 0px;
	--switch-disabled-off-dark-padding-x: 0px;
	--switch-disabled-off-dark-padding-top: 0px;
	--switch-disabled-off-dark-padding-right: 0px;
	--switch-disabled-off-dark-padding-bottom: 0px;
	--switch-disabled-off-dark-padding-left: 0px;
	--switch-disabled-off-dark-padding-start: 0px;
	--switch-disabled-off-dark-padding-end: 0px;
	--switch-disabled-off-dark-spacing: 12px;
	--switch-disabled-off-dark-opacity: .4;
	--switch-disabled-off-dark-background: var(--color-neutral-gray-600);
	--switch-disabled-off-dark-border-width: 1px;
	--switch-disabled-off-dark-border-radius: 174px;
	--switch-disabled-off-dark-border-color: var(--color--transparent);
	--switch-disabled-off-dark-border-style: solid;
	--switch-disabled-off-dark-box-shadow: none;
	--switch-disabled-off-dark-width: 36px;
	--switch-disabled-off-dark-width-raw: 36;
	--switch-disabled-off-dark-height: 20px;
	--switch-disabled-off-dark-height-raw: 20;

	/* Switch, state: hover, activity: off, theme: dark */
	--switch-label-hover-off-dark-font-family: var(--typography-form-placeholder-medium-font-family);
	--switch-label-hover-off-dark-font-size: var(--typography-form-placeholder-medium-font-size);
	--switch-label-hover-off-dark-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--switch-label-hover-off-dark-line-height: var(--typography-form-placeholder-medium-line-height);
	--switch-label-hover-off-dark-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--switch-label-hover-off-dark-text-align: left;
	--switch-label-hover-off-dark-text-decoration: none;
	--switch-label-hover-off-dark-text-transform: none;
	--switch-label-hover-off-dark-color: var(--color-text-hard-invert);
	--switch-label-hover-off-dark-opacity: 1;
	--switch-thumb-hover-off-dark-border-width: 1px;
	--switch-thumb-hover-off-dark-border-radius: 0px;
	--switch-thumb-hover-off-dark-border-color: transparent;
	--switch-thumb-hover-off-dark-border-style: solid;
	--switch-thumb-hover-off-dark-color: var(--color-neutral-gray-400);
	--switch-thumb-hover-off-dark-width: 12px;
	--switch-thumb-hover-off-dark-width-raw: 12;
	--switch-thumb-hover-off-dark-height: 12px;
	--switch-thumb-hover-off-dark-height-raw: 12;
	--switch-hover-off-dark-padding-y: 0px;
	--switch-hover-off-dark-padding-x: 0px;
	--switch-hover-off-dark-padding-top: 0px;
	--switch-hover-off-dark-padding-right: 0px;
	--switch-hover-off-dark-padding-bottom: 0px;
	--switch-hover-off-dark-padding-left: 0px;
	--switch-hover-off-dark-padding-start: 0px;
	--switch-hover-off-dark-padding-end: 0px;
	--switch-hover-off-dark-spacing: 12px;
	--switch-hover-off-dark-opacity: 1;
	--switch-hover-off-dark-background: var(--color--transparent);
	--switch-hover-off-dark-border-width: 1px;
	--switch-hover-off-dark-border-radius: 174px;
	--switch-hover-off-dark-border-color: var(--color-border-lightest);
	--switch-hover-off-dark-border-style: solid;
	--switch-hover-off-dark-box-shadow: none;
	--switch-hover-off-dark-width: 36px;
	--switch-hover-off-dark-width-raw: 36;
	--switch-hover-off-dark-height: 20px;
	--switch-hover-off-dark-height-raw: 20;

	/* Switch, state: default, activity: off, theme: dark */
	--switch-label-default-off-dark-font-family: var(--typography-form-placeholder-medium-font-family);
	--switch-label-default-off-dark-font-size: var(--typography-form-placeholder-medium-font-size);
	--switch-label-default-off-dark-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--switch-label-default-off-dark-line-height: var(--typography-form-placeholder-medium-line-height);
	--switch-label-default-off-dark-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--switch-label-default-off-dark-text-align: left;
	--switch-label-default-off-dark-text-decoration: none;
	--switch-label-default-off-dark-text-transform: none;
	--switch-label-default-off-dark-color: var(--color-text-base-invert);
	--switch-label-default-off-dark-opacity: 1;
	--switch-thumb-default-off-dark-border-width: 1px;
	--switch-thumb-default-off-dark-border-radius: 0px;
	--switch-thumb-default-off-dark-border-color: transparent;
	--switch-thumb-default-off-dark-border-style: solid;
	--switch-thumb-default-off-dark-color: var(--color-neutral-gray-500);
	--switch-thumb-default-off-dark-width: 12px;
	--switch-thumb-default-off-dark-width-raw: 12;
	--switch-thumb-default-off-dark-height: 12px;
	--switch-thumb-default-off-dark-height-raw: 12;
	--switch-default-off-dark-padding-y: 0px;
	--switch-default-off-dark-padding-x: 0px;
	--switch-default-off-dark-padding-top: 0px;
	--switch-default-off-dark-padding-right: 0px;
	--switch-default-off-dark-padding-bottom: 0px;
	--switch-default-off-dark-padding-left: 0px;
	--switch-default-off-dark-padding-start: 0px;
	--switch-default-off-dark-padding-end: 0px;
	--switch-default-off-dark-spacing: 12px;
	--switch-default-off-dark-opacity: 1;
	--switch-default-off-dark-background: var(--color--transparent);
	--switch-default-off-dark-border-width: 1px;
	--switch-default-off-dark-border-radius: 174px;
	--switch-default-off-dark-border-color: var(--color-border-lighter);
	--switch-default-off-dark-border-style: solid;
	--switch-default-off-dark-box-shadow: none;
	--switch-default-off-dark-width: 36px;
	--switch-default-off-dark-width-raw: 36;
	--switch-default-off-dark-height: 20px;
	--switch-default-off-dark-height-raw: 20;

	/* Switch, state: disabled, activity: on, theme: light */
	--switch-label-disabled-on-light-font-family: var(--typography-form-placeholder-medium-font-family);
	--switch-label-disabled-on-light-font-size: var(--typography-form-placeholder-medium-font-size);
	--switch-label-disabled-on-light-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--switch-label-disabled-on-light-line-height: var(--typography-form-placeholder-medium-line-height);
	--switch-label-disabled-on-light-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--switch-label-disabled-on-light-text-align: left;
	--switch-label-disabled-on-light-text-decoration: none;
	--switch-label-disabled-on-light-text-transform: none;
	--switch-label-disabled-on-light-color: var(--color-text-soft);
	--switch-label-disabled-on-light-opacity: 1;
	--switch-thumb-disabled-on-light-border-width: 1px;
	--switch-thumb-disabled-on-light-border-radius: 0px;
	--switch-thumb-disabled-on-light-border-color: transparent;
	--switch-thumb-disabled-on-light-border-style: solid;
	--switch-thumb-disabled-on-light-color: var(--color-neutral-white);
	--switch-thumb-disabled-on-light-width: 12px;
	--switch-thumb-disabled-on-light-width-raw: 12;
	--switch-thumb-disabled-on-light-height: 12px;
	--switch-thumb-disabled-on-light-height-raw: 12;
	--switch-disabled-on-light-padding-y: 0px;
	--switch-disabled-on-light-padding-x: 0px;
	--switch-disabled-on-light-padding-top: 0px;
	--switch-disabled-on-light-padding-right: 0px;
	--switch-disabled-on-light-padding-bottom: 0px;
	--switch-disabled-on-light-padding-left: 0px;
	--switch-disabled-on-light-padding-start: 0px;
	--switch-disabled-on-light-padding-end: 0px;
	--switch-disabled-on-light-spacing: 12px;
	--switch-disabled-on-light-opacity: .5;
	--switch-disabled-on-light-background: var(--color-neutral-gray-300);
	--switch-disabled-on-light-border-width: 1px;
	--switch-disabled-on-light-border-radius: 174px;
	--switch-disabled-on-light-border-color: var(--color--transparent);
	--switch-disabled-on-light-border-style: solid;
	--switch-disabled-on-light-box-shadow: none;
	--switch-disabled-on-light-width: 36px;
	--switch-disabled-on-light-width-raw: 36;
	--switch-disabled-on-light-height: 20px;
	--switch-disabled-on-light-height-raw: 20;

	/* Switch, state: hover, activity: on, theme: light */
	--switch-label-hover-on-light-font-family: var(--typography-form-placeholder-medium-font-family);
	--switch-label-hover-on-light-font-size: var(--typography-form-placeholder-medium-font-size);
	--switch-label-hover-on-light-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--switch-label-hover-on-light-line-height: var(--typography-form-placeholder-medium-line-height);
	--switch-label-hover-on-light-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--switch-label-hover-on-light-text-align: left;
	--switch-label-hover-on-light-text-decoration: none;
	--switch-label-hover-on-light-text-transform: none;
	--switch-label-hover-on-light-color: var(--color-text-hard);
	--switch-label-hover-on-light-opacity: 1;
	--switch-thumb-hover-on-light-border-width: 1px;
	--switch-thumb-hover-on-light-border-radius: 0px;
	--switch-thumb-hover-on-light-border-color: transparent;
	--switch-thumb-hover-on-light-border-style: solid;
	--switch-thumb-hover-on-light-color: var(--color-neutral-white);
	--switch-thumb-hover-on-light-width: 12px;
	--switch-thumb-hover-on-light-width-raw: 12;
	--switch-thumb-hover-on-light-height: 12px;
	--switch-thumb-hover-on-light-height-raw: 12;
	--switch-hover-on-light-padding-y: 0px;
	--switch-hover-on-light-padding-x: 0px;
	--switch-hover-on-light-padding-top: 0px;
	--switch-hover-on-light-padding-right: 0px;
	--switch-hover-on-light-padding-bottom: 0px;
	--switch-hover-on-light-padding-left: 0px;
	--switch-hover-on-light-padding-start: 0px;
	--switch-hover-on-light-padding-end: 0px;
	--switch-hover-on-light-spacing: 12px;
	--switch-hover-on-light-opacity: 1;
	--switch-hover-on-light-background: var(--color-primary-blue-darker);
	--switch-hover-on-light-border-width: 2px;
	--switch-hover-on-light-border-radius: 174px;
	--switch-hover-on-light-border-color: var(--color--transparent);
	--switch-hover-on-light-border-style: solid;
	--switch-hover-on-light-box-shadow: none;
	--switch-hover-on-light-width: 36px;
	--switch-hover-on-light-width-raw: 36;
	--switch-hover-on-light-height: 20px;
	--switch-hover-on-light-height-raw: 20;

	/* Switch, state: default, activity: on, theme: light */
	--switch-label-default-on-light-font-family: var(--typography-form-placeholder-medium-font-family);
	--switch-label-default-on-light-font-size: var(--typography-form-placeholder-medium-font-size);
	--switch-label-default-on-light-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--switch-label-default-on-light-line-height: var(--typography-form-placeholder-medium-line-height);
	--switch-label-default-on-light-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--switch-label-default-on-light-text-align: left;
	--switch-label-default-on-light-text-decoration: none;
	--switch-label-default-on-light-text-transform: none;
	--switch-label-default-on-light-color: var(--color-text-hard);
	--switch-label-default-on-light-opacity: 1;
	--switch-thumb-default-on-light-border-width: 1px;
	--switch-thumb-default-on-light-border-radius: 0px;
	--switch-thumb-default-on-light-border-color: transparent;
	--switch-thumb-default-on-light-border-style: solid;
	--switch-thumb-default-on-light-color: var(--color-neutral-white);
	--switch-thumb-default-on-light-width: 12px;
	--switch-thumb-default-on-light-width-raw: 12;
	--switch-thumb-default-on-light-height: 12px;
	--switch-thumb-default-on-light-height-raw: 12;
	--switch-default-on-light-padding-y: 0px;
	--switch-default-on-light-padding-x: 0px;
	--switch-default-on-light-padding-top: 0px;
	--switch-default-on-light-padding-right: 0px;
	--switch-default-on-light-padding-bottom: 0px;
	--switch-default-on-light-padding-left: 0px;
	--switch-default-on-light-padding-start: 0px;
	--switch-default-on-light-padding-end: 0px;
	--switch-default-on-light-spacing: 12px;
	--switch-default-on-light-opacity: 1;
	--switch-default-on-light-background: var(--color-primary-blue);
	--switch-default-on-light-border-width: 1px;
	--switch-default-on-light-border-radius: 174px;
	--switch-default-on-light-border-color: var(--color--transparent);
	--switch-default-on-light-border-style: solid;
	--switch-default-on-light-box-shadow: none;
	--switch-default-on-light-width: 36px;
	--switch-default-on-light-width-raw: 36;
	--switch-default-on-light-height: 20px;
	--switch-default-on-light-height-raw: 20;

	/* Switch, state: disabled, activity: off, theme: light */
	--switch-label-disabled-off-light-font-family: var(--typography-form-placeholder-medium-font-family);
	--switch-label-disabled-off-light-font-size: var(--typography-form-placeholder-medium-font-size);
	--switch-label-disabled-off-light-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--switch-label-disabled-off-light-line-height: var(--typography-form-placeholder-medium-line-height);
	--switch-label-disabled-off-light-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--switch-label-disabled-off-light-text-align: left;
	--switch-label-disabled-off-light-text-decoration: none;
	--switch-label-disabled-off-light-text-transform: none;
	--switch-label-disabled-off-light-color: var(--color-text-soft);
	--switch-label-disabled-off-light-opacity: 1;
	--switch-thumb-disabled-off-light-border-width: 1px;
	--switch-thumb-disabled-off-light-border-radius: 0px;
	--switch-thumb-disabled-off-light-border-color: transparent;
	--switch-thumb-disabled-off-light-border-style: solid;
	--switch-thumb-disabled-off-light-color: var(--color-neutral-white);
	--switch-thumb-disabled-off-light-width: 12px;
	--switch-thumb-disabled-off-light-width-raw: 12;
	--switch-thumb-disabled-off-light-height: 12px;
	--switch-thumb-disabled-off-light-height-raw: 12;
	--switch-disabled-off-light-padding-y: 0px;
	--switch-disabled-off-light-padding-x: 0px;
	--switch-disabled-off-light-padding-top: 0px;
	--switch-disabled-off-light-padding-right: 0px;
	--switch-disabled-off-light-padding-bottom: 0px;
	--switch-disabled-off-light-padding-left: 0px;
	--switch-disabled-off-light-padding-start: 0px;
	--switch-disabled-off-light-padding-end: 0px;
	--switch-disabled-off-light-spacing: 12px;
	--switch-disabled-off-light-opacity: .5;
	--switch-disabled-off-light-background: var(--color-neutral-gray-300);
	--switch-disabled-off-light-border-width: 1px;
	--switch-disabled-off-light-border-radius: 174px;
	--switch-disabled-off-light-border-color: var(--color--transparent);
	--switch-disabled-off-light-border-style: solid;
	--switch-disabled-off-light-box-shadow: none;
	--switch-disabled-off-light-width: 36px;
	--switch-disabled-off-light-width-raw: 36;
	--switch-disabled-off-light-height: 20px;
	--switch-disabled-off-light-height-raw: 20;

	/* Switch, state: hover, activity: off, theme: light */
	--switch-label-hover-off-light-font-family: var(--typography-form-placeholder-medium-font-family);
	--switch-label-hover-off-light-font-size: var(--typography-form-placeholder-medium-font-size);
	--switch-label-hover-off-light-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--switch-label-hover-off-light-line-height: var(--typography-form-placeholder-medium-line-height);
	--switch-label-hover-off-light-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--switch-label-hover-off-light-text-align: left;
	--switch-label-hover-off-light-text-decoration: none;
	--switch-label-hover-off-light-text-transform: none;
	--switch-label-hover-off-light-color: var(--color-text-hard);
	--switch-label-hover-off-light-opacity: 1;
	--switch-thumb-hover-off-light-border-width: 1px;
	--switch-thumb-hover-off-light-border-radius: 0px;
	--switch-thumb-hover-off-light-border-color: transparent;
	--switch-thumb-hover-off-light-border-style: solid;
	--switch-thumb-hover-off-light-color: var(--color-neutral-gray-600);
	--switch-thumb-hover-off-light-width: 12px;
	--switch-thumb-hover-off-light-width-raw: 12;
	--switch-thumb-hover-off-light-height: 12px;
	--switch-thumb-hover-off-light-height-raw: 12;
	--switch-hover-off-light-padding-y: 0px;
	--switch-hover-off-light-padding-x: 0px;
	--switch-hover-off-light-padding-top: 0px;
	--switch-hover-off-light-padding-right: 0px;
	--switch-hover-off-light-padding-bottom: 0px;
	--switch-hover-off-light-padding-left: 0px;
	--switch-hover-off-light-padding-start: 0px;
	--switch-hover-off-light-padding-end: 0px;
	--switch-hover-off-light-spacing: 12px;
	--switch-hover-off-light-opacity: 1;
	--switch-hover-off-light-background: var(--color--transparent);
	--switch-hover-off-light-border-width: 1px;
	--switch-hover-off-light-border-radius: 174px;
	--switch-hover-off-light-border-color: var(--color-border-darkest);
	--switch-hover-off-light-border-style: solid;
	--switch-hover-off-light-box-shadow: none;
	--switch-hover-off-light-width: 36px;
	--switch-hover-off-light-width-raw: 36;
	--switch-hover-off-light-height: 20px;
	--switch-hover-off-light-height-raw: 20;

	/* Switch, state: default, activity: off, theme: light */
	--switch-label-default-off-light-font-family: var(--typography-form-placeholder-medium-font-family);
	--switch-label-default-off-light-font-size: var(--typography-form-placeholder-medium-font-size);
	--switch-label-default-off-light-font-weight: var(--typography-form-placeholder-medium-font-weight);
	--switch-label-default-off-light-line-height: var(--typography-form-placeholder-medium-line-height);
	--switch-label-default-off-light-letter-spacing: var(--typography-form-placeholder-medium-letter-spacing);
	--switch-label-default-off-light-text-align: left;
	--switch-label-default-off-light-text-decoration: none;
	--switch-label-default-off-light-text-transform: none;
	--switch-label-default-off-light-color: var(--color-text-base);
	--switch-label-default-off-light-opacity: 1;
	--switch-thumb-default-off-light-border-width: 1px;
	--switch-thumb-default-off-light-border-radius: 0px;
	--switch-thumb-default-off-light-border-color: transparent;
	--switch-thumb-default-off-light-border-style: solid;
	--switch-thumb-default-off-light-color: var(--color-neutral-gray-500);
	--switch-thumb-default-off-light-width: 12px;
	--switch-thumb-default-off-light-width-raw: 12;
	--switch-thumb-default-off-light-height: 12px;
	--switch-thumb-default-off-light-height-raw: 12;
	--switch-default-off-light-padding-y: 0px;
	--switch-default-off-light-padding-x: 0px;
	--switch-default-off-light-padding-top: 0px;
	--switch-default-off-light-padding-right: 0px;
	--switch-default-off-light-padding-bottom: 0px;
	--switch-default-off-light-padding-left: 0px;
	--switch-default-off-light-padding-start: 0px;
	--switch-default-off-light-padding-end: 0px;
	--switch-default-off-light-spacing: 12px;
	--switch-default-off-light-opacity: 1;
	--switch-default-off-light-background: var(--color--transparent);
	--switch-default-off-light-border-width: 1px;
	--switch-default-off-light-border-radius: 174px;
	--switch-default-off-light-border-color: var(--color-border-darker);
	--switch-default-off-light-border-style: solid;
	--switch-default-off-light-box-shadow: none;
	--switch-default-off-light-width: 36px;
	--switch-default-off-light-width-raw: 36;
	--switch-default-off-light-height: 20px;
	--switch-default-off-light-height-raw: 20;
}
