.tooltip {

	/* Tooltip, horizontal: right, vertical: top */
	--tooltip-right-top-background: var(--color-primary-blue);
	--tooltip-right-top-border-width: 1px;
	--tooltip-right-top-border-radius: 2px;
	--tooltip-right-top-border-color: transparent;
	--tooltip-right-top-border-style: solid;
	--tooltip-right-top-padding-y: 8px;
	--tooltip-right-top-padding-x: 16px;
	--tooltip-right-top-padding-top: 8px;
	--tooltip-right-top-padding-right: 16px;
	--tooltip-right-top-padding-bottom: 8px;
	--tooltip-right-top-padding-left: 16px;
	--tooltip-right-top-padding-start: 16px;
	--tooltip-right-top-padding-end: 16px;
	--tooltip-right-top-spacing: 8px;
	--tooltip-right-top-font-family: var(--typography-sm-base-font-family);
	--tooltip-right-top-font-size: var(--typography-sm-base-font-size);
	--tooltip-right-top-font-weight: var(--typography-sm-base-font-weight);
	--tooltip-right-top-line-height: var(--typography-sm-base-line-height);
	--tooltip-right-top-letter-spacing: var(--typography-sm-base-letter-spacing);
	--tooltip-right-top-text-align: right;
	--tooltip-right-top-text-decoration: none;
	--tooltip-right-top-text-transform: none;
	--tooltip-right-top-color: var(--color-text-hard-invert);

	/* Tooltip, horizontal: center, vertical: top */
	--tooltip-center-top-background: var(--color-primary-blue);
	--tooltip-center-top-border-width: 1px;
	--tooltip-center-top-border-radius: 2px;
	--tooltip-center-top-border-color: transparent;
	--tooltip-center-top-border-style: solid;
	--tooltip-center-top-padding-y: 8px;
	--tooltip-center-top-padding-x: 16px;
	--tooltip-center-top-padding-top: 8px;
	--tooltip-center-top-padding-right: 16px;
	--tooltip-center-top-padding-bottom: 8px;
	--tooltip-center-top-padding-left: 16px;
	--tooltip-center-top-padding-start: 16px;
	--tooltip-center-top-padding-end: 16px;
	--tooltip-center-top-spacing: 8px;
	--tooltip-center-top-font-family: var(--typography-sm-base-font-family);
	--tooltip-center-top-font-size: var(--typography-sm-base-font-size);
	--tooltip-center-top-font-weight: var(--typography-sm-base-font-weight);
	--tooltip-center-top-line-height: var(--typography-sm-base-line-height);
	--tooltip-center-top-letter-spacing: var(--typography-sm-base-letter-spacing);
	--tooltip-center-top-text-align: center;
	--tooltip-center-top-text-decoration: none;
	--tooltip-center-top-text-transform: none;
	--tooltip-center-top-color: var(--color-text-hard-invert);

	/* Tooltip, horizontal: left, vertical: top */
	--tooltip-left-top-background: var(--color-primary-blue);
	--tooltip-left-top-border-width: 1px;
	--tooltip-left-top-border-radius: 2px;
	--tooltip-left-top-border-color: transparent;
	--tooltip-left-top-border-style: solid;
	--tooltip-left-top-padding-y: 8px;
	--tooltip-left-top-padding-x: 16px;
	--tooltip-left-top-padding-top: 8px;
	--tooltip-left-top-padding-right: 16px;
	--tooltip-left-top-padding-bottom: 8px;
	--tooltip-left-top-padding-left: 16px;
	--tooltip-left-top-padding-start: 16px;
	--tooltip-left-top-padding-end: 16px;
	--tooltip-left-top-spacing: 8px;
	--tooltip-left-top-font-family: var(--typography-sm-base-font-family);
	--tooltip-left-top-font-size: var(--typography-sm-base-font-size);
	--tooltip-left-top-font-weight: var(--typography-sm-base-font-weight);
	--tooltip-left-top-line-height: var(--typography-sm-base-line-height);
	--tooltip-left-top-letter-spacing: var(--typography-sm-base-letter-spacing);
	--tooltip-left-top-text-align: left;
	--tooltip-left-top-text-decoration: none;
	--tooltip-left-top-text-transform: none;
	--tooltip-left-top-color: var(--color-text-hard-invert);

	/* Tooltip, horizontal: right, vertical: bottom */
	--tooltip-right-bottom-background: var(--color-primary-blue);
	--tooltip-right-bottom-border-width: 1px;
	--tooltip-right-bottom-border-radius: 2px;
	--tooltip-right-bottom-border-color: transparent;
	--tooltip-right-bottom-border-style: solid;
	--tooltip-right-bottom-padding-y: 8px;
	--tooltip-right-bottom-padding-x: 16px;
	--tooltip-right-bottom-padding-top: 8px;
	--tooltip-right-bottom-padding-right: 16px;
	--tooltip-right-bottom-padding-bottom: 8px;
	--tooltip-right-bottom-padding-left: 16px;
	--tooltip-right-bottom-padding-start: 16px;
	--tooltip-right-bottom-padding-end: 16px;
	--tooltip-right-bottom-spacing: 8px;
	--tooltip-right-bottom-font-family: var(--typography-sm-base-font-family);
	--tooltip-right-bottom-font-size: var(--typography-sm-base-font-size);
	--tooltip-right-bottom-font-weight: var(--typography-sm-base-font-weight);
	--tooltip-right-bottom-line-height: var(--typography-sm-base-line-height);
	--tooltip-right-bottom-letter-spacing: var(--typography-sm-base-letter-spacing);
	--tooltip-right-bottom-text-align: right;
	--tooltip-right-bottom-text-decoration: none;
	--tooltip-right-bottom-text-transform: none;
	--tooltip-right-bottom-color: var(--color-text-hard-invert);

	/* Tooltip, horizontal: center, vertical: bottom */
	--tooltip-center-bottom-background: var(--color-primary-blue);
	--tooltip-center-bottom-border-width: 1px;
	--tooltip-center-bottom-border-radius: 2px;
	--tooltip-center-bottom-border-color: transparent;
	--tooltip-center-bottom-border-style: solid;
	--tooltip-center-bottom-padding-y: 8px;
	--tooltip-center-bottom-padding-x: 16px;
	--tooltip-center-bottom-padding-top: 8px;
	--tooltip-center-bottom-padding-right: 16px;
	--tooltip-center-bottom-padding-bottom: 8px;
	--tooltip-center-bottom-padding-left: 16px;
	--tooltip-center-bottom-padding-start: 16px;
	--tooltip-center-bottom-padding-end: 16px;
	--tooltip-center-bottom-spacing: 8px;
	--tooltip-center-bottom-font-family: var(--typography-sm-base-font-family);
	--tooltip-center-bottom-font-size: var(--typography-sm-base-font-size);
	--tooltip-center-bottom-font-weight: var(--typography-sm-base-font-weight);
	--tooltip-center-bottom-line-height: var(--typography-sm-base-line-height);
	--tooltip-center-bottom-letter-spacing: var(--typography-sm-base-letter-spacing);
	--tooltip-center-bottom-text-align: center;
	--tooltip-center-bottom-text-decoration: none;
	--tooltip-center-bottom-text-transform: none;
	--tooltip-center-bottom-color: var(--color-text-hard-invert);

	/* Tooltip, horizontal: left, vertical: bottom */
	--tooltip-left-bottom-background: var(--color-primary-blue);
	--tooltip-left-bottom-border-width: 1px;
	--tooltip-left-bottom-border-radius: 2px;
	--tooltip-left-bottom-border-color: transparent;
	--tooltip-left-bottom-border-style: solid;
	--tooltip-left-bottom-padding-y: 8px;
	--tooltip-left-bottom-padding-x: 16px;
	--tooltip-left-bottom-padding-top: 8px;
	--tooltip-left-bottom-padding-right: 16px;
	--tooltip-left-bottom-padding-bottom: 8px;
	--tooltip-left-bottom-padding-left: 16px;
	--tooltip-left-bottom-padding-start: 16px;
	--tooltip-left-bottom-padding-end: 16px;
	--tooltip-left-bottom-spacing: 8px;
	--tooltip-left-bottom-font-family: var(--typography-sm-base-font-family);
	--tooltip-left-bottom-font-size: var(--typography-sm-base-font-size);
	--tooltip-left-bottom-font-weight: var(--typography-sm-base-font-weight);
	--tooltip-left-bottom-line-height: var(--typography-sm-base-line-height);
	--tooltip-left-bottom-letter-spacing: var(--typography-sm-base-letter-spacing);
	--tooltip-left-bottom-text-align: left;
	--tooltip-left-bottom-text-decoration: none;
	--tooltip-left-bottom-text-transform: none;
	--tooltip-left-bottom-color: var(--color-text-hard-invert);
}
