$buttons-transparent-background-color: #00000000;
$buttons-transparent-background-color-hover: #00000000;
$buttons-transparent-border-width: 2px;
$buttons-transparent-border-color: #95959f;
$buttons-transparent-border-color-hover: #009eeb;
$buttons-transparent-border-radius: 48px;
$buttons-transparent-padding-top: 20px;
$buttons-transparent-padding-left: 20px;
$buttons-transparent-padding-right: 20px;
$buttons-transparent-padding-bottom: 20px;
$buttons-primary-background-color: #009eeb;
$buttons-primary-background-color-hover: #038bce;
$buttons-primary-border-width: 1px;
$buttons-primary-border-radius: 48px;
$buttons-primary-padding-top: 20px;
$buttons-primary-padding-left: 20px;
$buttons-primary-padding-right: 20px;
$buttons-primary-padding-bottom: 20px;
$buttons-secondary-background-color: #191919;
$buttons-secondary-background-color-hover: #363636;
$buttons-secondary-border-width: 1px;
$buttons-secondary-border-radius: 48px;
$buttons-secondary-padding-top: 20px;
$buttons-secondary-padding-left: 20px;
$buttons-secondary-padding-right: 20px;
$buttons-secondary-padding-bottom: 20px