$radio-sizes: ( "small", "medium", "large" );

$radio-themes: ( "dark", "light" );

$radio-states: ( "disabled", "hover", "" );

.radio {

  // radio  , theme: Dark, state: Disabled
   --radio-disabled-on-background: #258cf2;
  --radio-disabled-on-height: 18;
  --radio-disabled-on-width: 18;
  --radio-disabled-on-padding-y: 0px;
  --radio-disabled-on-padding-x: 0px;
  --radio-disabled-on-padding-top: 0px;
  --radio-disabled-on-padding-right: 0px;
  --radio-disabled-on-padding-bottom: 0px;
  --radio-disabled-on-padding-left: 0px;
  --radio-disabled-on-padding-start: 12px;
  --input-disabled-on-border-weight: 1px;
  --input-disabled-on-border-radius: 100px;
  --input-disabled-on-border-color: transparent;
  --input-disabled-on-box-shadow: none;
  --input-disabled-label-on-spacing: -0.28px;
  --input-disabled-label-on-font-family: 'Inter';
  --input-disabled-label-on-font-size: 14px;
  --input-disabled-label-on-font-weight: 400;
  --input-disabled-label-on-line-height: 1.4285714721679688;
  --input-disabled-label-on-letter-spacing: -0.28px;
  --input-disabled-label-on-text-align: left;
  --input-disabled-label-on-text-decoration: none;
  --input-disabled-label-on-text-transform: none;
  --input-disabled-label-on-color: #ffffff;

  // radio  , theme: Dark, state: Hover
   --radio-hover-on-background: #0073e6;
  --radio-hover-on-height: 18;
  --radio-hover-on-width: 18;
  --radio-hover-on-padding-y: 0px;
  --radio-hover-on-padding-x: 0px;
  --radio-hover-on-padding-top: 0px;
  --radio-hover-on-padding-right: 0px;
  --radio-hover-on-padding-bottom: 0px;
  --radio-hover-on-padding-left: 0px;
  --radio-hover-on-padding-start: 12px;
  --input-hover-on-border-weight: 1px;
  --input-hover-on-border-radius: 0px;
  --input-hover-on-border-color: transparent;
  --input-hover-on-box-shadow: none;
  --input-hover-label-on-spacing: -0.28px;
  --input-hover-label-on-font-family: 'Inter';
  --input-hover-label-on-font-size: 14px;
  --input-hover-label-on-font-weight: 400;
  --input-hover-label-on-line-height: 1.4285714721679688;
  --input-hover-label-on-letter-spacing: -0.28px;
  --input-hover-label-on-text-align: left;
  --input-hover-label-on-text-decoration: none;
  --input-hover-label-on-text-transform: none;
  --input-hover-label-on-color: #ffffff;

  // radio  , theme: Dark, state: Default
   --radio-on-background: #258cf2;
  --radio-on-height: 18;
  --radio-on-width: 18;
  --radio-on-padding-y: 0px;
  --radio-on-padding-x: 0px;
  --radio-on-padding-top: 0px;
  --radio-on-padding-right: 0px;
  --radio-on-padding-bottom: 0px;
  --radio-on-padding-left: 0px;
  --radio-on-padding-start: 12px;
  --input-on-border-weight: 1px;
  --input-on-border-radius: 0px;
  --input-on-border-color: transparent;
  --input-on-box-shadow: none;
  --input-label-on-spacing: -0.28px;
  --input-label-on-font-family: 'Inter';
  --input-label-on-font-size: 14px;
  --input-label-on-font-weight: 400;
  --input-label-on-line-height: 1.4285714721679688;
  --input-label-on-letter-spacing: -0.28px;
  --input-label-on-text-align: left;
  --input-label-on-text-decoration: none;
  --input-label-on-text-transform: none;
  --input-label-on-color: #ffffff;

  // radio  , theme: Dark, state: Disabled
   --radio-disabled-off-background: #6e6e6e;
  --radio-disabled-off-height: 18;
  --radio-disabled-off-width: 18;
  --radio-disabled-off-padding-y: 0px;
  --radio-disabled-off-padding-x: 0px;
  --radio-disabled-off-padding-top: 0px;
  --radio-disabled-off-padding-right: 0px;
  --radio-disabled-off-padding-bottom: 0px;
  --radio-disabled-off-padding-left: 0px;
  --radio-disabled-off-padding-start: 12px;
  --input-disabled-off-border-weight: 1px;
  --input-disabled-off-border-radius: 100px;
  --input-disabled-off-border-color: transparent;
  --input-disabled-off-box-shadow: none;
  --input-disabled-label-off-spacing: -0.28px;
  --input-disabled-label-off-font-family: 'Inter';
  --input-disabled-label-off-font-size: 14px;
  --input-disabled-label-off-font-weight: 400;
  --input-disabled-label-off-line-height: 1.4285714721679688;
  --input-disabled-label-off-letter-spacing: -0.28px;
  --input-disabled-label-off-text-align: left;
  --input-disabled-label-off-text-decoration: none;
  --input-disabled-label-off-text-transform: none;
  --input-disabled-label-off-color: #ffffff;

  // radio  , theme: Dark, state: Hover
   --radio-hover-off-background: transparent;
  --radio-hover-off-height: 18;
  --radio-hover-off-width: 18;
  --radio-hover-off-padding-y: 0px;
  --radio-hover-off-padding-x: 0px;
  --radio-hover-off-padding-top: 0px;
  --radio-hover-off-padding-right: 0px;
  --radio-hover-off-padding-bottom: 0px;
  --radio-hover-off-padding-left: 0px;
  --radio-hover-off-padding-start: 12px;
  --input-hover-off-border-weight: 1px;
  --input-hover-off-border-radius: 100px;
  --input-hover-off-border-color: transparent;
  --input-hover-off-box-shadow: none;
  --input-hover-label-off-spacing: -0.28px;
  --input-hover-label-off-font-family: 'Inter';
  --input-hover-label-off-font-size: 14px;
  --input-hover-label-off-font-weight: 400;
  --input-hover-label-off-line-height: 1.4285714721679688;
  --input-hover-label-off-letter-spacing: -0.28px;
  --input-hover-label-off-text-align: left;
  --input-hover-label-off-text-decoration: none;
  --input-hover-label-off-text-transform: none;
  --input-hover-label-off-color: #ffffff;

  // radio  , theme: Dark, state: Default
   --radio-off-background: transparent;
  --radio-off-height: 18;
  --radio-off-width: 18;
  --radio-off-padding-y: 0px;
  --radio-off-padding-x: 0px;
  --radio-off-padding-top: 0px;
  --radio-off-padding-right: 0px;
  --radio-off-padding-bottom: 0px;
  --radio-off-padding-left: 0px;
  --radio-off-padding-start: 12px;
  --input-off-border-weight: 1px;
  --input-off-border-radius: 100px;
  --input-off-border-color: transparent;
  --input-off-box-shadow: none;
  --input-label-off-spacing: -0.28px;
  --input-label-off-font-family: 'Inter';
  --input-label-off-font-size: 14px;
  --input-label-off-font-weight: 400;
  --input-label-off-line-height: 1.4285714721679688;
  --input-label-off-letter-spacing: -0.28px;
  --input-label-off-text-align: left;
  --input-label-off-text-decoration: none;
  --input-label-off-text-transform: none;
  --input-label-off-color: #ffffff;

  // radio  , theme: Light, state: Disabled
   --radio-disabled-on-background: #258cf2;
  --radio-disabled-on-height: 18;
  --radio-disabled-on-width: 18;
  --radio-disabled-on-padding-y: 0px;
  --radio-disabled-on-padding-x: 0px;
  --radio-disabled-on-padding-top: 0px;
  --radio-disabled-on-padding-right: 0px;
  --radio-disabled-on-padding-bottom: 0px;
  --radio-disabled-on-padding-left: 0px;
  --radio-disabled-on-padding-start: 12px;
  --input-disabled-on-border-weight: 1px;
  --input-disabled-on-border-radius: 100px;
  --input-disabled-on-border-color: transparent;
  --input-disabled-on-box-shadow: none;
  --input-disabled-label-on-spacing: -0.28px;
  --input-disabled-label-on-font-family: 'Inter';
  --input-disabled-label-on-font-size: 14px;
  --input-disabled-label-on-font-weight: 400;
  --input-disabled-label-on-line-height: 1.4285714721679688;
  --input-disabled-label-on-letter-spacing: -0.28px;
  --input-disabled-label-on-text-align: left;
  --input-disabled-label-on-text-decoration: none;
  --input-disabled-label-on-text-transform: none;
  --input-disabled-label-on-color: #777777;

  // radio  , theme: Light, state: Hover
   --radio-hover-on-background: #0f69c1;
  --radio-hover-on-height: 18;
  --radio-hover-on-width: 18;
  --radio-hover-on-padding-y: 0px;
  --radio-hover-on-padding-x: 0px;
  --radio-hover-on-padding-top: 0px;
  --radio-hover-on-padding-right: 0px;
  --radio-hover-on-padding-bottom: 0px;
  --radio-hover-on-padding-left: 0px;
  --radio-hover-on-padding-start: 12px;
  --input-hover-on-border-weight: 1px;
  --input-hover-on-border-radius: 0px;
  --input-hover-on-border-color: transparent;
  --input-hover-on-box-shadow: none;
  --input-hover-label-on-spacing: -0.28px;
  --input-hover-label-on-font-family: 'Inter';
  --input-hover-label-on-font-size: 14px;
  --input-hover-label-on-font-weight: 400;
  --input-hover-label-on-line-height: 1.4285714721679688;
  --input-hover-label-on-letter-spacing: -0.28px;
  --input-hover-label-on-text-align: left;
  --input-hover-label-on-text-decoration: none;
  --input-hover-label-on-text-transform: none;
  --input-hover-label-on-color: #000000;

  // radio  , theme: Light, state: Default
   --radio-on-background: #0073e6;
  --radio-on-height: 18;
  --radio-on-width: 18;
  --radio-on-padding-y: 0px;
  --radio-on-padding-x: 0px;
  --radio-on-padding-top: 0px;
  --radio-on-padding-right: 0px;
  --radio-on-padding-bottom: 0px;
  --radio-on-padding-left: 0px;
  --radio-on-padding-start: 12px;
  --input-on-border-weight: 1px;
  --input-on-border-radius: 0px;
  --input-on-border-color: transparent;
  --input-on-box-shadow: none;
  --input-label-on-spacing: -0.28px;
  --input-label-on-font-family: 'Inter';
  --input-label-on-font-size: 14px;
  --input-label-on-font-weight: 400;
  --input-label-on-line-height: 1.4285714721679688;
  --input-label-on-letter-spacing: -0.28px;
  --input-label-on-text-align: left;
  --input-label-on-text-decoration: none;
  --input-label-on-text-transform: none;
  --input-label-on-color: #000000;

  // radio  , theme: Light, state: Disabled
   --radio-disabled-off-background: #cccccc;
  --radio-disabled-off-height: 18;
  --radio-disabled-off-width: 18;
  --radio-disabled-off-padding-y: 0px;
  --radio-disabled-off-padding-x: 0px;
  --radio-disabled-off-padding-top: 0px;
  --radio-disabled-off-padding-right: 0px;
  --radio-disabled-off-padding-bottom: 0px;
  --radio-disabled-off-padding-left: 0px;
  --radio-disabled-off-padding-start: 12px;
  --input-disabled-off-border-weight: 1px;
  --input-disabled-off-border-radius: 100px;
  --input-disabled-off-border-color: transparent;
  --input-disabled-off-box-shadow: none;
  --input-disabled-label-off-spacing: -0.28px;
  --input-disabled-label-off-font-family: 'Inter';
  --input-disabled-label-off-font-size: 14px;
  --input-disabled-label-off-font-weight: 400;
  --input-disabled-label-off-line-height: 1.4285714721679688;
  --input-disabled-label-off-letter-spacing: -0.28px;
  --input-disabled-label-off-text-align: left;
  --input-disabled-label-off-text-decoration: none;
  --input-disabled-label-off-text-transform: none;
  --input-disabled-label-off-color: #777777;

  // radio  , theme: Light, state: Hover
   --radio-hover-off-background: transparent;
  --radio-hover-off-height: 18;
  --radio-hover-off-width: 18;
  --radio-hover-off-padding-y: 0px;
  --radio-hover-off-padding-x: 0px;
  --radio-hover-off-padding-top: 0px;
  --radio-hover-off-padding-right: 0px;
  --radio-hover-off-padding-bottom: 0px;
  --radio-hover-off-padding-left: 0px;
  --radio-hover-off-padding-start: 12px;
  --input-hover-off-border-weight: 1px;
  --input-hover-off-border-radius: 100px;
  --input-hover-off-border-color: transparent;
  --input-hover-off-box-shadow: none;
  --input-hover-label-off-spacing: -0.28px;
  --input-hover-label-off-font-family: 'Inter';
  --input-hover-label-off-font-size: 14px;
  --input-hover-label-off-font-weight: 400;
  --input-hover-label-off-line-height: 1.4285714721679688;
  --input-hover-label-off-letter-spacing: -0.28px;
  --input-hover-label-off-text-align: left;
  --input-hover-label-off-text-decoration: none;
  --input-hover-label-off-text-transform: none;
  --input-hover-label-off-color: #000000;

  // radio  , theme: Light, state: Default
   --radio-off-background: transparent;
  --radio-off-height: 18;
  --radio-off-width: 18;
  --radio-off-padding-y: 0px;
  --radio-off-padding-x: 0px;
  --radio-off-padding-top: 0px;
  --radio-off-padding-right: 0px;
  --radio-off-padding-bottom: 0px;
  --radio-off-padding-left: 0px;
  --radio-off-padding-start: 12px;
  --input-off-border-weight: 1px;
  --input-off-border-radius: 100px;
  --input-off-border-color: transparent;
  --input-off-box-shadow: none;
  --input-label-off-spacing: -0.28px;
  --input-label-off-font-family: 'Inter';
  --input-label-off-font-size: 14px;
  --input-label-off-font-weight: 400;
  --input-label-off-line-height: 1.4285714721679688;
  --input-label-off-letter-spacing: -0.28px;
  --input-label-off-text-align: left;
  --input-label-off-text-decoration: none;
  --input-label-off-text-transform: none;
  --input-label-off-color: #555555;

  // radio Small falsefalse
   --radio-small-off-background: transparent;
  --radio-small-off-height: 16;
  --radio-small-off-width: 16;
  --radio-small-off-padding-y: 0px;
  --radio-small-off-padding-x: 0px;
  --radio-small-off-padding-top: 0px;
  --radio-small-off-padding-right: 0px;
  --radio-small-off-padding-bottom: 0px;
  --radio-small-off-padding-left: 0px;
  --radio-small-off-padding-start: 10px;
  --input-small-off-border-weight: 1px;
  --input-small-off-border-radius: 0px;
  --input-small-off-border-color: transparent;
  --input-small-off-box-shadow: none;
  --input-small-label-off-spacing: -0.24px;
  --input-small-label-off-font-family: 'Inter';
  --input-small-label-off-font-size: 12px;
  --input-small-label-off-font-weight: 400;
  --input-small-label-off-line-height: 1.6666667175292968;
  --input-small-label-off-letter-spacing: -0.24px;
  --input-small-label-off-text-align: left;
  --input-small-label-off-text-decoration: none;
  --input-small-label-off-text-transform: none;
  --input-small-label-off-color: #555555;

  // radio Medium falsefalse
   --radio-medium-off-background: transparent;
  --radio-medium-off-height: 18;
  --radio-medium-off-width: 18;
  --radio-medium-off-padding-y: 0px;
  --radio-medium-off-padding-x: 0px;
  --radio-medium-off-padding-top: 0px;
  --radio-medium-off-padding-right: 0px;
  --radio-medium-off-padding-bottom: 0px;
  --radio-medium-off-padding-left: 0px;
  --radio-medium-off-padding-start: 12px;
  --input-medium-off-border-weight: 1px;
  --input-medium-off-border-radius: 0px;
  --input-medium-off-border-color: transparent;
  --input-medium-off-box-shadow: none;
  --input-medium-label-off-spacing: -0.28px;
  --input-medium-label-off-font-family: 'Inter';
  --input-medium-label-off-font-size: 14px;
  --input-medium-label-off-font-weight: 400;
  --input-medium-label-off-line-height: 1.4285714721679688;
  --input-medium-label-off-letter-spacing: -0.28px;
  --input-medium-label-off-text-align: left;
  --input-medium-label-off-text-decoration: none;
  --input-medium-label-off-text-transform: none;
  --input-medium-label-off-color: #555555;

  // radio Large falsefalse
   --radio-large-off-background: transparent;
  --radio-large-off-height: 20;
  --radio-large-off-width: 20;
  --radio-large-off-padding-y: 0px;
  --radio-large-off-padding-x: 0px;
  --radio-large-off-padding-top: 0px;
  --radio-large-off-padding-right: 0px;
  --radio-large-off-padding-bottom: 0px;
  --radio-large-off-padding-left: 0px;
  --radio-large-off-padding-start: 14px;
  --input-large-off-border-weight: 1px;
  --input-large-off-border-radius: 0px;
  --input-large-off-border-color: transparent;
  --input-large-off-box-shadow: none;
  --input-large-label-off-spacing: -0.32px;
  --input-large-label-off-font-family: 'Inter';
  --input-large-label-off-font-size: 16px;
  --input-large-label-off-font-weight: 400;
  --input-large-label-off-line-height: 1.25;
  --input-large-label-off-letter-spacing: -0.32px;
  --input-large-label-off-text-align: left;
  --input-large-label-off-text-decoration: none;
  --input-large-label-off-text-transform: none;
  --input-large-label-off-color: #555555;
}