$switch-sizes: ( "small", "medium", "large" );

$switch-themes: ( "dark", "light" );

$switch-states: ( "disabled", "hover", "" );

.switch {

  // switch  , theme: Dark, state: Disabled
   --switch-dark-on-padding-start: 12px;
  --switch-dark-on-width: 12px;
  --switch-dark-on-height: 12px;
  --switch-dark-on-background: #258cf2;
  --switch-dark-on-border-width: 1px;
  --switch-dark-on-border-radius: 174px;
  --switch-dark-on-border-color: transparent;
  --switch-label-dark-on-spacing: undefinedpx;
  --switch-label-dark-on-font-family: 'Inter';
  --switch-label-dark-on-font-size: 14px;
  --switch-label-dark-on-font-weight: 400;
  --switch-label-dark-on-line-height: 1.4285714721679688;
  --switch-label-dark-on-letter-spacing: -0.28px;
  --switch-label-dark-on-text-align: left;
  --switch-label-dark-on-text-transform: none;
  --switch-label-dark-on-text-decoration: none;
  --switch-label-dark-on-color: rgba(255, 255, 255, 0.44999998807907104);
  --switch-thumb-dark-on-background: #ffffff;
  --switch-thumb-dark-on-border-width: 1px;
  --switch-thumb-dark-on-border-color: transparent;

  // switch  , theme: Dark, state: Hover
   --switch-dark-on-padding-start: 12px;
  --switch-dark-on-width: 12px;
  --switch-dark-on-height: 12px;
  --switch-dark-on-background: #0073e6;
  --switch-dark-on-border-width: 1px;
  --switch-dark-on-border-radius: 174px;
  --switch-dark-on-border-color: transparent;
  --switch-label-dark-on-spacing: undefinedpx;
  --switch-label-dark-on-font-family: 'Inter';
  --switch-label-dark-on-font-size: 14px;
  --switch-label-dark-on-font-weight: 400;
  --switch-label-dark-on-line-height: 1.4285714721679688;
  --switch-label-dark-on-letter-spacing: -0.28px;
  --switch-label-dark-on-text-align: left;
  --switch-label-dark-on-text-transform: none;
  --switch-label-dark-on-text-decoration: none;
  --switch-label-dark-on-color: rgba(255, 255, 255, 0.8500000238418579);
  --switch-thumb-dark-on-background: #ffffff;
  --switch-thumb-dark-on-border-width: 1px;
  --switch-thumb-dark-on-border-color: transparent;

  // switch  , theme: Dark, state: Default
   --switch-dark-on-padding-start: 12px;
  --switch-dark-on-width: 12px;
  --switch-dark-on-height: 12px;
  --switch-dark-on-background: #258cf2;
  --switch-dark-on-border-width: 1px;
  --switch-dark-on-border-radius: 174px;
  --switch-dark-on-border-color: transparent;
  --switch-label-dark-on-spacing: undefinedpx;
  --switch-label-dark-on-font-family: 'Inter';
  --switch-label-dark-on-font-size: 14px;
  --switch-label-dark-on-font-weight: 400;
  --switch-label-dark-on-line-height: 1.4285714721679688;
  --switch-label-dark-on-letter-spacing: -0.28px;
  --switch-label-dark-on-text-align: left;
  --switch-label-dark-on-text-transform: none;
  --switch-label-dark-on-text-decoration: none;
  --switch-label-dark-on-color: rgba(255, 255, 255, 0.8500000238418579);
  --switch-thumb-dark-on-background: #ffffff;
  --switch-thumb-dark-on-border-width: 1px;
  --switch-thumb-dark-on-border-color: transparent;

  // switch  , theme: Dark, state: Disabled
   --switch-dark-off-padding-start: 12px;
  --switch-dark-off-width: 12px;
  --switch-dark-off-height: 12px;
  --switch-dark-off-background: #6e6e6e;
  --switch-dark-off-border-width: 1px;
  --switch-dark-off-border-radius: 174px;
  --switch-dark-off-border-color: transparent;
  --switch-label-dark-off-spacing: undefinedpx;
  --switch-label-dark-off-font-family: 'Inter';
  --switch-label-dark-off-font-size: 14px;
  --switch-label-dark-off-font-weight: 400;
  --switch-label-dark-off-line-height: 1.4285714721679688;
  --switch-label-dark-off-letter-spacing: -0.28px;
  --switch-label-dark-off-text-align: left;
  --switch-label-dark-off-text-transform: none;
  --switch-label-dark-off-text-decoration: none;
  --switch-label-dark-off-color: rgba(255, 255, 255, 0.44999998807907104);
  --switch-thumb-dark-off-background: #000000;
  --switch-thumb-dark-off-border-width: 1px;
  --switch-thumb-dark-off-border-color: transparent;

  // switch  , theme: Dark, state: Hover
   --switch-dark-off-padding-start: 12px;
  --switch-dark-off-width: 12px;
  --switch-dark-off-height: 12px;
  --switch-dark-off-background: transparent;
  --switch-dark-off-border-width: 1px;
  --switch-dark-off-border-radius: 174px;
  --switch-dark-off-border-color: rgba(255, 255, 255, 0.75);
  --switch-label-dark-off-spacing: undefinedpx;
  --switch-label-dark-off-font-family: 'Inter';
  --switch-label-dark-off-font-size: 14px;
  --switch-label-dark-off-font-weight: 400;
  --switch-label-dark-off-line-height: 1.4285714721679688;
  --switch-label-dark-off-letter-spacing: -0.28px;
  --switch-label-dark-off-text-align: left;
  --switch-label-dark-off-text-transform: none;
  --switch-label-dark-off-text-decoration: none;
  --switch-label-dark-off-color: rgba(255, 255, 255, 0.8500000238418579);
  --switch-thumb-dark-off-background: #aaaaaa;
  --switch-thumb-dark-off-border-width: 1px;
  --switch-thumb-dark-off-border-color: transparent;

  // switch  , theme: Dark, state: Default
   --switch-dark-off-padding-start: 12px;
  --switch-dark-off-width: 12px;
  --switch-dark-off-height: 12px;
  --switch-dark-off-background: transparent;
  --switch-dark-off-border-width: 1px;
  --switch-dark-off-border-radius: 174px;
  --switch-dark-off-border-color: rgba(255, 255, 255, 0.4000000059604645);
  --switch-label-dark-off-spacing: undefinedpx;
  --switch-label-dark-off-font-family: 'Inter';
  --switch-label-dark-off-font-size: 14px;
  --switch-label-dark-off-font-weight: 400;
  --switch-label-dark-off-line-height: 1.4285714721679688;
  --switch-label-dark-off-letter-spacing: -0.28px;
  --switch-label-dark-off-text-align: left;
  --switch-label-dark-off-text-transform: none;
  --switch-label-dark-off-text-decoration: none;
  --switch-label-dark-off-color: rgba(255, 255, 255, 0.6499999761581421);
  --switch-thumb-dark-off-background: #888888;
  --switch-thumb-dark-off-border-width: 1px;
  --switch-thumb-dark-off-border-color: transparent;

  // switch  , theme: Light, state: Disabled
   --switch-on-padding-start: 12px;
  --switch-on-width: 12px;
  --switch-on-height: 12px;
  --switch-on-background: #258cf2;
  --switch-on-border-width: 1px;
  --switch-on-border-radius: 174px;
  --switch-on-border-color: transparent;
  --switch-label-on-spacing: undefinedpx;
  --switch-label-on-font-family: 'Inter';
  --switch-label-on-font-size: 14px;
  --switch-label-on-font-weight: 400;
  --switch-label-on-line-height: 1.4285714721679688;
  --switch-label-on-letter-spacing: -0.28px;
  --switch-label-on-text-align: left;
  --switch-label-on-text-transform: none;
  --switch-label-on-text-decoration: none;
  --switch-label-on-color: #777777;
  --switch-thumb-on-background: #ffffff;
  --switch-thumb-on-border-width: 1px;
  --switch-thumb-on-border-color: transparent;

  // switch  , theme: Light, state: Hover
   --switch-on-padding-start: 12px;
  --switch-on-width: 12px;
  --switch-on-height: 12px;
  --switch-on-background: #0f69c1;
  --switch-on-border-width: 2px;
  --switch-on-border-radius: 174px;
  --switch-on-border-color: transparent;
  --switch-label-on-spacing: undefinedpx;
  --switch-label-on-font-family: 'Inter';
  --switch-label-on-font-size: 14px;
  --switch-label-on-font-weight: 400;
  --switch-label-on-line-height: 1.4285714721679688;
  --switch-label-on-letter-spacing: -0.28px;
  --switch-label-on-text-align: left;
  --switch-label-on-text-transform: none;
  --switch-label-on-text-decoration: none;
  --switch-label-on-color: rgba(0, 0, 0, 0.800000011920929);
  --switch-thumb-on-background: #ffffff;
  --switch-thumb-on-border-width: 1px;
  --switch-thumb-on-border-color: transparent;

  // switch  , theme: Light, state: Default
   --switch-on-padding-start: 12px;
  --switch-on-width: 12px;
  --switch-on-height: 12px;
  --switch-on-background: #0073e6;
  --switch-on-border-width: 1px;
  --switch-on-border-radius: 174px;
  --switch-on-border-color: transparent;
  --switch-label-on-spacing: undefinedpx;
  --switch-label-on-font-family: 'Inter';
  --switch-label-on-font-size: 14px;
  --switch-label-on-font-weight: 400;
  --switch-label-on-line-height: 1.4285714721679688;
  --switch-label-on-letter-spacing: -0.28px;
  --switch-label-on-text-align: left;
  --switch-label-on-text-transform: none;
  --switch-label-on-text-decoration: none;
  --switch-label-on-color: rgba(0, 0, 0, 0.800000011920929);
  --switch-thumb-on-background: #ffffff;
  --switch-thumb-on-border-width: 1px;
  --switch-thumb-on-border-color: transparent;

  // switch  , theme: Light, state: Disabled
   --switch-off-padding-start: 12px;
  --switch-off-width: 12px;
  --switch-off-height: 12px;
  --switch-off-background: #cccccc;
  --switch-off-border-width: 1px;
  --switch-off-border-radius: 174px;
  --switch-off-border-color: transparent;
  --switch-label-off-spacing: undefinedpx;
  --switch-label-off-font-family: 'Inter';
  --switch-label-off-font-size: 14px;
  --switch-label-off-font-weight: 400;
  --switch-label-off-line-height: 1.4285714721679688;
  --switch-label-off-letter-spacing: -0.28px;
  --switch-label-off-text-align: left;
  --switch-label-off-text-transform: none;
  --switch-label-off-text-decoration: none;
  --switch-label-off-color: #777777;
  --switch-thumb-off-background: #ffffff;
  --switch-thumb-off-border-width: 1px;
  --switch-thumb-off-border-color: transparent;

  // switch  , theme: Light, state: Hover
   --switch-off-padding-start: 12px;
  --switch-off-width: 12px;
  --switch-off-height: 12px;
  --switch-off-background: transparent;
  --switch-off-border-width: 1px;
  --switch-off-border-radius: 174px;
  --switch-off-border-color: #929292;
  --switch-label-off-spacing: undefinedpx;
  --switch-label-off-font-family: 'Inter';
  --switch-label-off-font-size: 14px;
  --switch-label-off-font-weight: 400;
  --switch-label-off-line-height: 1.4285714721679688;
  --switch-label-off-letter-spacing: -0.28px;
  --switch-label-off-text-align: left;
  --switch-label-off-text-transform: none;
  --switch-label-off-text-decoration: none;
  --switch-label-off-color: rgba(0, 0, 0, 0.800000011920929);
  --switch-thumb-off-background: #888888;
  --switch-thumb-off-border-width: 1px;
  --switch-thumb-off-border-color: transparent;

  // switch  , theme: Light, state: Default
   --switch-off-padding-start: 12px;
  --switch-off-width: 12px;
  --switch-off-height: 12px;
  --switch-off-background: transparent;
  --switch-off-border-width: 1px;
  --switch-off-border-radius: 174px;
  --switch-off-border-color: #b3b3b3;
  --switch-label-off-spacing: undefinedpx;
  --switch-label-off-font-family: 'Inter';
  --switch-label-off-font-size: 14px;
  --switch-label-off-font-weight: 400;
  --switch-label-off-line-height: 1.4285714721679688;
  --switch-label-off-letter-spacing: -0.28px;
  --switch-label-off-text-align: left;
  --switch-label-off-text-transform: none;
  --switch-label-off-text-decoration: none;
  --switch-label-off-color: #555555;
  --switch-thumb-off-background: #aaaaaa;
  --switch-thumb-off-border-width: 1px;
  --switch-thumb-off-border-color: transparent;

  // switch Small falsefalse
   --switch-small-padding-start: 10px;
  --switch-small-width: 10px;
  --switch-small-height: 10px;
  --switch-small-background: transparent;
  --switch-small-border-width: 1px;
  --switch-small-border-radius: 174px;
  --switch-small-border-color: #000000;
  --switch-small-label-spacing: undefinedpx;
  --switch-small-label-font-family: 'Inter';
  --switch-small-label-font-size: 12px;
  --switch-small-label-font-weight: 400;
  --switch-small-label-line-height: 1.6666667175292968;
  --switch-small-label-letter-spacing: -0.24px;
  --switch-small-label-text-align: left;
  --switch-small-label-text-transform: none;
  --switch-small-label-text-decoration: none;
  --switch-small-label-color: #555555;
  --switch-small-thumb-background: #000000;
  --switch-small-thumb-border-width: 1px;
  --switch-small-thumb-border-color: transparent;

  // switch Medium falsefalse
   --switch-medium-padding-start: 12px;
  --switch-medium-width: 12px;
  --switch-medium-height: 12px;
  --switch-medium-background: transparent;
  --switch-medium-border-width: 1px;
  --switch-medium-border-radius: 174px;
  --switch-medium-border-color: #000000;
  --switch-medium-label-spacing: undefinedpx;
  --switch-medium-label-font-family: 'Inter';
  --switch-medium-label-font-size: 14px;
  --switch-medium-label-font-weight: 400;
  --switch-medium-label-line-height: 1.4285714721679688;
  --switch-medium-label-letter-spacing: -0.28px;
  --switch-medium-label-text-align: left;
  --switch-medium-label-text-transform: none;
  --switch-medium-label-text-decoration: none;
  --switch-medium-label-color: #555555;
  --switch-medium-thumb-background: #000000;
  --switch-medium-thumb-border-width: 1px;
  --switch-medium-thumb-border-color: transparent;

  // switch Large falsefalse
   --switch-large-padding-start: 14px;
  --switch-large-width: 14px;
  --switch-large-height: 14px;
  --switch-large-background: transparent;
  --switch-large-border-width: 1px;
  --switch-large-border-radius: 174px;
  --switch-large-border-color: #000000;
  --switch-large-label-spacing: undefinedpx;
  --switch-large-label-font-family: 'Inter';
  --switch-large-label-font-size: 16px;
  --switch-large-label-font-weight: 400;
  --switch-large-label-line-height: 1.25;
  --switch-large-label-letter-spacing: -0.32px;
  --switch-large-label-text-align: left;
  --switch-large-label-text-transform: none;
  --switch-large-label-text-decoration: none;
  --switch-large-label-color: #555555;
  --switch-large-thumb-background: #000000;
  --switch-large-thumb-border-width: 1px;
  --switch-large-thumb-border-color: transparent;
}