name: Deploy to production

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-22.04
    env:
      AWS_DEFAULT_REGION: us-east-1
      AWS_DEFAULT_OUTPUT: json
      HANDOFF_FIGMA_PROJECT_ID: ${{ vars.HANDOFF_FIGMA_PROJECT_ID }}
      HANDOFF_DEV_ACCESS_TOKEN: ${{ secrets.HANDOFF_DEV_ACCESS_TOKEN }}
      AWS_CLOUDFRONT_DIST_ID: ${{ secrets.AWS_DISTRIBUTION }}
      AWS_S3_BUCKET: ${{ secrets.AWS_BUCKET }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Set Git Defaults
        run: |
          git config --global user.email "ops@convertiv.com"
          git config --global user.name "Convertiv Development"
      - name: Fetch from figma
        run: |
          npm install
          npm run fetch
          git commit -a -m "[skip ci] updating changelog with latest figma changes"
          git push
      - name: Build static site
        run: |
          npm run build
      - name: Validate
        run: |
          npm run validate
      - name: Copy validations
        run: |
          cp -r src/handoff/public/api/component/ src/handoff/out/3GcQn3eA8Kg9kprYXBXksv/api/component/
      - name: Deploy to S3 Bucket
        run: |
          aws s3 sync --delete out/IGYfyraLDa0BpVXkxHY2tE s3://${{env.AWS_S3_BUCKET}}/
          aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_DISTRIBUTION }} --paths /\*
