/* ==================================================================
   LISTS (components/_lists.scss)
===================================================================== */


.list-features-item {
	display: flex;

	.list-features-icon {
		flex-shrink: 0;
		width: rem( 24px );
		margin-right: $spacer-sm;

		@include media-breakpoint-up(xl) {
			margin-right: $spacer;
		}
	}

	.list-features-desc {
		font-size: $font-size-md;
		font-weight: $font-weight-light;
		color: $text-soft;
	}
}
