/* ==================================================================
   SITE HEADER (components/_site-header.scss)
===================================================================== */

.site-header {
	background: transparent;
	transition: all $transition-speed ease-in-out;

	> [class*="container"] {
		height: $navbar-height-mobile;
		transition: all $transition-speed ease-in-out;

		@include media-breakpoint-up(md) {
			height: $navbar-height;
		}
	}

	.nav-item {
		display: flex;
		align-items: center;
	}

	+ .block {
		padding-top: $navbar-height-mobile;

		@include media-breakpoint-up(md) {
			padding-top: $navbar-height;
		}
	}

	.navbar-toggler {
		border: transparent;
		flex-direction: unset !important;
	}

	.navbar-text {
		position: relative;
	}

	.navbar-brand {
		&.navbar-text:last-of-type:after {
			content: "BETA";
			display: block;
			position: absolute;
			top: 0;
			right: rem( -45px );
			background-color: #ebe8e1;
			color: #565656;
			font-size: rem( 8px );
			font-weight: 300;
			padding: rem( 2px ) rem( 8px );
			border-radius: rem( 3px );
		}
	}

	&.is-sticky {
		background: rgba( $white, .9 );
		box-shadow: $box-shadow;
		backdrop-filter: blur( 8px );
		mix-blend-mode: normal;

		> [class*="container"] {
			height: $navbar-height-sticky;
		}
	}

	&[data-theme="dark"] {
		.navbar-brand,
		.nav-link {
			img {
				filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(68deg) brightness(103%) contrast(102%);
			}
		}

		&.is-sticky {
			background: rgba( $primary-900, .9 );
		}
	}
}
