/* ==================================================================
   Solution (components/_solution.scss)
===================================================================== */


.solution-tabs {
	--#{$prefix}nav-link-padding-y: #{rem( 20px )};
	--#{$prefix}nav-link-padding-x: #{rem( 20px )};

	flex-wrap: nowrap;

	.solution-tab-progress {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 50%;
		background: $primary;
		transition: all $transition-speed;

		@include media-breakpoint-up(lg) {
			bottom: auto;
			height: rem( 4px );
		}
	}

	.nav-item {
		display: flex;
		flex-direction: column;

		.nav-link {
			position: relative;
			flex-grow: 1;
			font-size: $font-size-md;
			font-weight: $font-weight-semibold;
			line-height: $line-height-sm;
			color: var( --#{$prefix}text-base );
			background: linear-gradient( 180deg, rgba( $white, 1 ) 0%, rgba( $white, 0 ) 100% );
			border: $border-width solid var( --#{$prefix}border-base );
			border-radius: $border-radius;
			overflow: hidden;
			transition: all $transition-speed;

			&:hover {
				color: $primary;
			}

			&.active {
				color: $primary;
				background: linear-gradient( 180deg, rgba( $white, 1 ) 0%, rgba( $primary-100, 1 ) 100% );
				border-color: rgba( $primary, .2 );

				.solution-tab-progress {
					display: block;
				}
			}
		}
	}
}
